<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>菜品点评</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.css">
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/mrspReview.css" />
		<script src="js/jquery.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/common.js"></script>
	</head>
	<body>
		<div class="mui-content pageContainer">
			<div class="pageContent" id="pageContent">
				<!--头部-->
				<div class="page-header">
					<div class="header-content">
						<a class="mui-action-back mui-icon mui-icon-left-nav"></a>
						<h1 class="header-title">菜品点评</h1>
					</div>
				</div>
				<!--主体-->
				<div class="page-body">
					<div class="column-title-wrap">
						<h4 class="column-title">{{foodName}}</h4>
					</div>
					<div class="column-form">
						<p class="form-label">您的评价</p>
						<div class="items-radio">
							<p class="select-item" v-for="(list,listIndex) in comList1" @tap="listHandle(listIndex)" v-bind:class="[list1CheckIndex === listIndex?'active':'']">{{list.name}}</p>
						</div>
						<div class="items-checkbox">
							<p class="select-item" v-for="(column,columnIndex) in comList2" @tap="columnHandle(columnIndex)" v-bind:class="[column.checked === true?'active':'']">{{column.name}}</p>
						</div>
						<div class="textarea-container">
							<textarea v-model="content" type="textarea" class="form-textarea" placeholder="您还有什么想对我们说，请您留言..."></textarea>
						</div>
						
					</div>
				</div>
				<!--底部-->
				<div class="page-bottom">
					<p class="btn-save" @tap="saveHandle">提交</p>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/mrspReview.js"></script>
	</body>
</html>