<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>选择厨师</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.css">
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/mrsp.css" />
		<link rel="stylesheet" href="css/mrsp-xzcs.css" />
		<script src="js/vue.min.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/common.js"></script>
	</head>
	<body>
		<div class="pageContainer" id="appContainer">
			<div class="pageContent">
				<!--头部-->
				<div class="page-header">
					<div class="header-content">
						<a class="mui-action-back mui-icon mui-icon-left-nav"></a>
						<h1 class="header-title">选择厨师</h1>
						<span class="header-btn" @tap="editHandle">{{editText}}</span>
					</div>
				</div>
				<!--主体-->
				<div class="pageBody">
					<div class="pageBody-wrapper">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div class="list-container">
									<div class="item" v-for="(cooker,cookerIndex) in cookerList" @tap="itemHandle(cookerIndex)">
										<div class="statusSpan" v-show="isEdit" v-bind:class="[cooker.isSelect?'active':'']"></div>
										<font class="item-name">{{cooker.name}}</font>
									</div>
									<!--document.getElementById('input-masterName').focus()-->
									<div class="masterAction">
										<div v-show="showGuiter" class="master-guiter" @tap="showAddCookerForm">
											<p class="guiter-label">添加厨师</p>
											<img class="guiter-icon" src="css/images/mrsp1.png"/>
										</div>
										<div  class="master-addForm">
											<input type="text" ref="cookerinput" v-model="newCookerName" class="input-masterName" id="input-masterName" placeholder="点击输入厨师姓名"/>
											<div class="master-addForm-btns">
												<span class="master-addForm-sure" @tap="doAddNewCooker">确定</span>
												<span class="master-addForm-cancel" @tap="cancelAddNewCooker">取消</span>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--文档流外-->
			<div v-show="isEdit" class="edit-bottom">
				<p class="btn-toogleAll" v-bind:class="[isAllSelect?'active':'']" @tap="toggleAllSelect">全选</p>
				<p class="btn-doDelete" @tap="deleteCookerList">删除</p>
			</div>
		</div>
	</body>
	<script src="js/mrsp-xzcs.js"></script>
</html>