<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>每周食谱</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.css">
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/mrsp.css" />
		<link rel="stylesheet" href="css/mui.picker.min.css">
		<script src="js/jquery.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/mui.picker.min.js"></script>
		<script src="js/common.js"></script>
	</head>
	<body>
		<div class="mui-content content-page" id="content-page">
			<!--头部部分-->
			<div class="smailNav moreNav" id="headerContainer">
				<div class="nav">
					<span class="back" @tap="goToOpener"></span>
					<h1><strong @tap="toggleBase" class="importantName">{{baseName}}</strong><span v-if="showMoreIcon" class="mui-icon mui-icon-arrowdown"></span></h1>
					<!--<span class="right right-base" @tap="toggleBase">基地</span>-->
					<span v-if="roleAction.doViewReport" class="right" @tap="viewReport">报表</span>
				</div>
					<div class="weekCop">
					<ul>
						<li v-for="(weekItem,weekIndex) in weekData" @tap="dayHandle(weekIndex)">
							<span>{{weekItem.weekText}}</span>
							<b v-bind:class="[activeDayIndex === weekIndex?'on':'']">{{weekItem.dayVal}}</b>
						</li>
					</ul>
				</div>
				<div class="dataCop">
					<ul>
						<li v-for="(menuItem,menuIndex) in menus" v-bind:class="menuItem.on" @tap="menuHandle(menuIndex)">{{ menuItem.text }}</li>
					</ul>
				</div>
			</div>
			<!--主体部分-->
			<div class="content-body" id="foodsContainer" v-bind:class="[foodList.length>0 || (headerApp.weekData[headerApp.activeDayIndex].isNextSeven && headerApp.roleAction.doAddItem)?'':'noData']">
				<div class="content-body-wrapper">
					<div class="mui-slider" id="slider">
						<div class="mui-slider-group">
							<div class="mui-slider-item mui-control-content" v-bind:class="[activeSlideIndex === 0?'mui-active':'']">
								<div class="mui-scroll-wrapper" class="foodScroll"> 
									<div class="mui-scroll ">
										<div class="mrsp_cop">
											<ul class="food-lists" v-show="activeSlideIndex === 0">
												<li class="food-list" v-for="(foodItem,foodIndex) in foodList" @tap="commentHandle(foodIndex)" :style="foodItem.photoStyle">
													<div class="text-container">
														<p class="food-list-text">{{foodItem.name}}</p>
													</div>
													<b v-if="showAddItem" class="mrsp_edit" @tap="editHandle(foodIndex,$event)"></b>
												</li>
												<li v-if="showAddItem" class="food-list mrsp_add" @tap="addFoodItem"></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="mui-slider-item mui-control-content" v-bind:class="[activeSlideIndex === 1?'mui-active':'']">
								<div class="mui-scroll-wrapper" class="foodScroll"> 
									<div class="mui-scroll ">
										<div class="mrsp_cop">
											<ul class="food-lists" v-show="activeSlideIndex === 1">
												<li class="food-list" v-for="(foodItem,foodIndex) in foodList" @tap="commentHandle(foodIndex)" :style="foodItem.photoStyle">
													<div class="text-container">
														<p class="food-list-text">{{foodItem.name}}</p>
													</div>
													<b v-if="showAddItem" class="mrsp_edit" @tap="editHandle(foodIndex,$event)"></b>
												</li>
												<li v-if="showAddItem" class="food-list mrsp_add" @tap="addFoodItem"></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="mui-slider-item mui-control-content" v-bind:class="[activeSlideIndex === 2?'mui-active':'']">
								<div class="mui-scroll-wrapper" class="foodScroll"> 
									<div class="mui-scroll ">
										<div class="mrsp_cop">
											<ul class="food-lists" v-show="activeSlideIndex === 2">
												<li class="food-list" v-for="(foodItem,foodIndex) in foodList" @tap="commentHandle(foodIndex)" :style="foodItem.photoStyle">
													<div class="text-container">
														<p class="food-list-text">{{foodItem.name}}</p>
													</div>
													<b v-if="showAddItem" class="mrsp_edit" @tap="editHandle(foodIndex,$event)"></b>
												</li>
												<li v-if="showAddItem" class="food-list mrsp_add" @tap="addFoodItem"></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			var testData = [{"masterid":"acce5a8ff62f4acf9f2c3c75e7cbdd76","cycleid":"97d449633bdb48a988e960dcc2aadd46","name":"包子1","baseid":"9c0275da3b024e39a25d0c87da0f5adf","id":"8d893012cfcc4c2189d2e481c76a2865","type":1},{"masterid":"acce5a8ff62f4acf9f2c3c75e7cbdd76","cycleid":"97d449633bdb48a988e960dcc2aadd46","name":"包子2","baseid":"9c0275da3b024e39a25d0c87da0f5adf","id":"c5fa5d0d77384a92a5db3fc568b4aaac","type":1},{"masterid":"acce5a8ff62f4acf9f2c3c75e7cbdd76","cycleid":"97d449633bdb48a988e960dcc2aadd46","name":"包子3","baseid":"9c0275da3b024e39a25d0c87da0f5adf","id":"be18a99fb236492d9bee4d4fef134020","type":1}];
		</script>
		<script src="js/mrsp.js"></script>
	</body>

</html>