<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>食谱编辑</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.css">
		<link rel="stylesheet" href="css/mui.picker.min.css">
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/mrsp.css" />
		<link rel="stylesheet" href="css/mrsp-cptj.css" />
		<script src="js/mui.min.js"></script>
		<script src="js/mui.picker.min.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/common.js"></script>
	</head>
	<body>
		<div class="mui-content pageContainer">
			<div class="pageContent" id="pageContent" style="opacity:0;">
				<!--头部-->
				<div class="page-header">
					<div class="header-content">
						<a class="mui-action-back mui-icon mui-icon-left-nav"></a>
						<h1 class="header-title">添加菜品</h1>
					</div>
				</div>
				<!--主体-->
				<div class="page-body">
					<div class="page-body-wrapper">
						<!--<div class="mui-scroll-wrapper cntSmailCop">
							<div class="mui-scroll">
								<div class="mrsp_editCop">
									<ul>
										<li>
											<div class="item"><input type="text" placeholder="输入菜品名称" v-model="name"/></div>
										</li>
										<li>
											<div @tap="openCHSHWindow" class="item xzcs">{{'厨师' + (cookerData.name?'：' + cookerData.name:'')}} <span class="nav_right"></span></div>
										</li>
										<li>
											<div @tap="showSelector" class="item">基地<span>{{baseName}}</span></div>
										</li>
									</ul>
								</div>
							</div>
						</div>-->
						<div class="mrsp_editCop">
							<ul>
								<li>
									<div class="item"><input type="text" placeholder="输入菜品名称" v-model="name"/></div>
								</li>
								<li>
									<div @tap="openCHSHWindow" class="item xzcs">{{'厨师' + (cookerData.name?'：' + cookerData.name:'')}} <span class="nav_right"></span></div>
								</li>
								<li>
									<div @tap="showSelector" class="item">基地<span>{{baseName}}</span></div>
								</li>
							</ul>
							<div class="photoBox" style="margin-bottom: 1.4rem;">
								<span class="text">添加图片</span>
								<div class="imgBox"> 
									<img id="itemImg" src="css/images/wybx3.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--底部-->
				<div class="page-bottom">
					<div class="submitCop"><span class="submit" @tap="addHandle">保存</span></div>
					<div class="submitCop1" style="display: none"><span class="submit1" @tap="delHandle">删除</span></div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/mrsp-cptj.js"></script>
</html>