<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>评价排行</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/mui.css">
		<link rel="stylesheet" href="css/mui.picker.min.css">
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/mrspLevel.css" />
		<script src="js/mui.min.js"></script>
		<script src="js/mui.pullToRefresh.js"></script>
		<script src="js/mui.pullToRefresh.material.js"></script>
		<script src="js/mui.picker.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/common.js"></script>
	</head>
	<body>
		<div class="page-container" id="pageContainer">
			<div class="page-header">
				<div class="header-column1">
					<a class="mui-action-back mui-icon mui-icon-left-nav" href="javascript:;"></a>
					<h1 class="header-title">评价排行</h1>
					<p class="sort-span" @tap="sortTypeHandle">{{typeText}}</p>
				</div>
				<div class="header-column2" @tap="showDateSelector">
					<p class="header-label">统计周期</p>
					<p class="header-span">{{timeArea}}</p>
				</div>
				<div class="header-column3">
					<p class="header-label">基地</p>
					<p class="header-span" @tap="showSelector">{{baseName}}</p>
				</div>
			</div>
			<div class="page-article">
				<div class="article-container">
					<div class="article-header">
						<p v-if="typeVal==='PJ'" class="article-headerItem">菜品</p>
						<p class="article-headerItem">厨师</p>
						<p class="article-headerItem">好评率</p>
						<p class="article-headerItem">好评量</p>
						<p class="article-headerItem">中评量</p>
						<p class="article-headerItem">差评量</p>
					</div>
					<div class="article-lists">
						<div class="article-listContainer" v-bind:class="[rowsData.length>0?'':'noData']">
							<div class="mui-scroll-wrapper">
								<div class="mui-scroll" id="pullFresh">
									<!--列表开始-->
									<div class="rows-container">
										<div class="article-row" v-for="rowData in rowsData">
											<p class="article-cell" v-if="typeVal==='PJ'">{{rowData.cookname}}</p>
											<p class="article-cell">{{rowData.mastername}}</p>
											<p class="article-cell">{{rowData.good_ratio + '%'}}</p>
											<p class="article-cell">{{rowData.vary_good}}</p>
											<p class="article-cell">{{rowData.only_good}}</p>
											<p class="article-cell">{{rowData.no_good}}</p>
										</div>
									</div>
									<!--列表结束-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mrspLevel.js"></script>
	</body>
</html>