<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>悦享生活-食堂</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/yxshh_sht.css"/>
		<script src="js/jquery.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/mui.pullToRefresh.js"></script>
		<script src="js/mui.pullToRefresh.material.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/common.js"></script>
	</head>

	<body>
		<div class="mui-content pageContainer">
			<div class="sht-header" id="header-sht">
				<div class="sht-header-container">
					<a class="mui-action-back mui-icon mui-icon-left-nav" @tap="backHandle"></a>
					<div class="search-container">
						<input type="search" v-model="val" class="search-sht" id="search-sht" placeholder="搜索商品" @blur="searchHandle" />
						<a href="javascript:;" class="search-btn" @tap="searchHandle"></a>
					</div>
					<em class="header-gouwuche" @tap="toggleShade">
						<strong v-if="gwchVal.length>0" class="gouwuche-val">{{gwchVal.length}}</strong>
					</em>
				</div>
			</div>
			<div class="article-container">
				<!--菜单-->
				<div class="article-left">
					<div class="mui-scroll-wrapper scroll-articleLeft">
						<div class="mui-scroll">
							<div class="article-tabs" id="articleTabs">
								<a v-for="(menuData,menuIndex) in menus" @tap="menuHandle(menuIndex)" href="javascript:;" class="article-tabItem" v-bind:class="[menuIndex==activeIndex?'active':'']">{{ menuData.NAME }}</a>							
							</div>
						</div>
					</div>
				</div>
				<!--商品列表-->
				<div class="article-right">
					<div class="mui-scroll-wrapper scroll-articleRight" id="articleGoods">
						<div class="mui-scroll" id="pullFresh_items">
							<div class="good-items">
								<div class="good-item" v-for="(goodItem,goodIndex) in items">
									<div class="good-itemWrap">
										<img class="good-itemImg" v-bind:src="goodItem.PHOTONAME"/>
										<div class="good-itemDetail">
											<p class="good-name">{{goodItem.NAME}}</p>
											<p class="good-weight">{{goodItem.NUMS + goodItem.NORMSNAME}}</p>
											<div class="good-price">
												<span class="good-priceEm">{{goodItem.PRICE + goodItem.INTEGRAL}}</span><span class="good-unit">/份</span>
											</div>
										</div>
										<div class="good-itemAction">
											<img class="good-gouwuche" src="css/images/sht_gouwuche_small.png" @tap="addToGWCH(goodIndex,$event)" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--购物车窗口-->
				<div v-show="showDom" class="shade" id="shade">
					<div class="shade-container">
						<div class="part-shade" @tap="hideThis"></div>
						<div class="checkedDetail">
							<div class="goods-detail">
								<div class="checked-items">
									<div class="mui-scroll-wrapper scroll-checkedItems">
										<div class="mui-scroll">
											<div class="checked-items-wrap">
												<div class="checked-item" v-for="(list,listIndex) in checkItems">
													<p class="checked-itemName">{{list.NAME}}</p>
													<p class="checked-itemPrice">{{list.PRICE + '/份'}}</p>
													<div class="checked-itemAction">
														<img @tap="checkedToLess(listIndex)" class="checked-ItemBtn checkedToMore" src="css/images/toLess.png" alt="" />
														<strong class="itemCounts">{{list.SHOPPINGNUM}}</strong>
														<img @tap="checkedToMore(listIndex)" class="checked-ItemBtn checkedToLess" src="css/images/toMore.png" alt="" />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="balance-box">
								<div class="balance-left">
									{{getTotal}}
								</div>
								<a href="javascript:;" class="balance-btn">去结算</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="js/yxshh_sht.js"></script>
	</body>

</html>