<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>支付结果</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/sht-zhfjg.css"/>
		<script src="js/jquery.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/common.js"></script>
	</head>
	<body>
		<!--mui-action-back-->
		<div class="mui-content pageContainer">
			<div class="sht-header" id="header-sht">
				<div class="sht-header-container">
					<a class="mui-action-back mui-icon mui-icon-left-nav btn-back" href="javascript:;" style="color:#fff;" @tap="backToSHtIndex"></a>
					<div class="column-title">支付结果</div>
				</div>
			</div>
			<div class="result-content" id="payResult">
				<p class="result-status">订单支付成功</p>
				<p class="result-prices">{{orderPayer}}</p>
				<p class="result-orderNum">订单编号：{{orderList}}</p>
			</div>
			<a href="javascript:;" class="result-btn">返回我的订单</a>
		</div>
		<script src="js/sht-zhfjg.js"></script>
	</body>
</html>
