<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单确认</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/sht_ddqr.css"/>
		<script src="js/jquery.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/common.js"></script>
		<script src="js/jsencrypt.js"></script>
	</head>
	<body>
		<div class="mui-content pageContainer">
			<div class="sht-header" id="header-sht">
				<div class="sht-header-container">
					<a class="mui-action-back mui-icon mui-icon-left-nav"></a>
					<div class="column-title">订单确认</div>
				</div>
			</div>
			<div class="article-before" id="addressInfo">
				<div class="before-part1">
					<div class="before-left">
						<div class="icon-positionWrap">
							<img src="css/images/icon_position.png"/ class="icon-position" />
						</div>
						<div class="address-detail">
							<p class="address-title">{{part1Main}}</p>
							<p class="address-address">{{part1Sub}}</p>
						</div>
						<!--<div class="addresslisty">
							<span>选择基地</span>
						</div>-->
					</div>
					<a href="javascript:;" v-show="showBtn" class="before-right btn-address" @tap="toAddressPage"></a>
				</div>
				<div class="before-part2" v-if="showTimeDom">
					<p class="takeTime-title">自提时间：</p>
					<div class="takeTime-detail">
						<p class="takeTime-date">{{ZTSJ_DATE}}</p>
						<p class="takeTime-time"></p>
					</div>
				</div>
			</div>
			<div class="article-content" id="goodsContainer">
				<div class="article-content-wrap">
					<div class="mui-scroll-wrapper scroll-goods">
						<div class="mui-scroll">
							<div class="goods-wrap">
								<div class="goods-item" v-for="(item,itemIndex) in items">
									<div class="goods-left">
										<img class="goods-img" v-bind:src="item.PHOTONAME"/>
									</div>
									<div class="goods-right">
										<p class="goods-des">{{ item.NAME }}</p>
										<p class="goods-type">{{ item.NORMSVALUE + item.NORMSNAME + '/份' }}</p>
										<div class="goods-column">
											<h6 class="goods-price">{{item.PRICE}}</h6>
											<strong class="goods-counts">{{'x' + item.SHOPPINGNUM}}</strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="article-conAfter">
				<div class="payType">
					<p class="payType-title">付款方式</p>
					<p class="payType-selector">员工工卡</p>
				</div>
			</div>
			<div class="article-bottom">
				<div class="balance-box" id="balanceContainer">
					<div class="balance-left">
						<div class="balance-title">总价：</div>
						<div class="balance-total">{{getTotal}}</div>
					</div>
					<a href="javascript:;" class="balance-btn" @tap="openConfirm">确认支付</a>
				</div>
			</div>
			
			<!--密码输入-->
		 
			<div id="payPwd" class="password-layer" v-show="showDom">
				<div class="password-layerDom" @tap="hideCurApp"></div>
				<div class="password-container">
					<p class="password-label">请输入支付密码
						<span class="mui-icon mui-icon-closeempty btn-closepl" @tap="closeplhandle"></span>
					</p>
				    <div class="pwd-wrapper">
				    	<ul id="pwdul" class="pwd-wrap">
					      <li><i v-if="msgLength > 0"></i></li>
					      <li><i v-if="msgLength > 1"></i></li>
					      <li><i v-if="msgLength > 2"></i></li>
					      <li><i v-if="msgLength > 3"></i></li>
					      <li><i v-if="msgLength > 4"></i></li>
					      <li><i v-if="msgLength > 5"></i></li>
					    </ul>
				    </div>
				    <!--自定义键盘-->
				    <div class="keys-container">
				    	<div class="keys-column">
				    		<p class="keys-td-small bre5 bbe5" @tap="handleTheKey(1)">1</p>
				    		<p class="keys-td-small bre5 bbe5" @tap="handleTheKey(4)">4</p>
				    		<p class="keys-td-small bre5 bbe5" @tap="handleTheKey(7)">7</p>
				    		<p class="keys-td-small bre5"></p>
				    	</div>
				    	<div class="keys-column">
				    		<p class="keys-td-small bre5 bbe5" @tap="handleTheKey(2)">2</p>
				    		<p class="keys-td-small bre5 bbe5" @tap="handleTheKey(5)">5</p>
				    		<p class="keys-td-small bre5 bbe5" @tap="handleTheKey(8)">8</p>
				    		<p class="keys-td-small bre5" @tap="handleTheKey(0)">0</p>
				    	</div>
				    	<div class="keys-column">
				    		<p class="keys-td-small bre5 bbe5" @tap="handleTheKey(3)">3</p>
				    		<p class="keys-td-small bre5 bbe5" @tap="handleTheKey(6)">6</p>
				    		<p class="keys-td-small bbe5" @tap="handleTheKey(9)">9</p>
				    		<p class="keys-td-small keys_close" @tap="hideCurApp"></p>
				    	</div>
				    	<div class="keys-column">
				    		<p class="keys-td-big keys-cancel" @tap="cancelInput"></p>
				    		<p class="keys-td-big keys-submit" @tap="toPay">确定</p>
				    	</div>
				    </div>
				</div>
		  	</div>
		  	<!-- 提示确认-->
			<div class="tip-layer" id='tipContainer' v-show="showTip">
				<div class="tip-container">
					<p class="tip-content">{{tipContent}}</p>
					<div class="tip-btns">
						<a href="javascript:;" class="tip-cancel" @tap="tipCancelHandle">取消</a>
						<a href="javascript:;" class="tip-submit" @tap="tipSubmitHandle">确定</a>
					</div>
				</div>
			</div>
		</div>
		<script src="js/sht_ddqr.js"></script>
	</body>

</html>