<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>网上商城</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/wssc.css"/>
		<script src="js/jquery.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/common.js"></script>
	</head>

	<body>
		<div class="mui-content pageContainer">
			<div class="sht-header" id="header-sht">
				<div class="sht-header-container">
					<!--<a class="mui-action-back mui-icon mui-icon-left-nav"></a>-->
					<div class="search-container">
						<input type="text" v-model="val" class="search-sht" id="search-sht" placeholder="搜索商品"  />
						<a href="javascript:;" class="search-btn" @tap="searchHandle"></a>
					</div>
					<em class="header-gouwuche">
						<strong v-if="gwchVal>0" class="gouwuche-val">{{gwchVal}}</strong>
					</em>
				</div>
			</div>
			<div class="article-before" id="filter">
				<div class="before-left">热销爆款</div>
				<div class="before-right">
					<div class="filer-item">
						<p class="filter-itemText">综合</p>
						<img src="css/images/icon_filter.png"/>
					</div>
					<div class="filer-item">
						<p class="filter-itemText">销量</p>
						<!--<img src="css/images/icon_filter.png"/>-->
					</div>
					<div class="filer-item">
						<p class="filter-itemText">价格</p>
						<!--<img src="css/images/icon_filter.png"/>-->
					</div>
				</div>
			</div>
			<div class="article-container">
				<!--菜单-->
				<div class="article-left">
					<div class="mui-scroll-wrapper scroll-articleLeft">
						<div class="mui-scroll">
							<div class="article-tabs" id="articleTabs">
									<a v-for="(menuData,menuIndex) in menus" @tap="menuHandle(menuIndex)" href="javascript:;" class="article-tabItem" v-bind:class="[menuIndex==activeIndex?'active':'']">{{ menuData.name }}</a>							
							</div>
						</div>
					</div>
				</div>
				<!--商品列表-->
				<div class="article-right">
					<div class="mui-scroll-wrapper scroll-articleRight">
						<div class="mui-scroll">
							<div class="good-items" id="articleGoods">
								<div class="good-item" v-for="(goodItem,goodIndex) in items">
									<div class="good-itemWrap">
										<img class="good-itemImg" v-bind:src="goodItem.img"/>
										<div class="good-itemDetail">
											<p class="good-name">{{goodItem.name}}</p>
											<p class="good-weight">{{goodItem.weight}}</p>
											<div class="good-price">
												<span class="good-priceEm">{{ goodItem.price}}</span><span class="good-unit">{{'/' + goodItem.unit}}</span>
											</div>
										</div>
										<div class="good-itemAction">
											<img class="good-gouwuche" src="css/images/sht_gouwuche_small.png" @tap="addToGWCH(goodIndex)" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/wssc.js"></script>
		<script>
			mui.plusReady(function() {
								 var clickNum = 0;
								mui.back = function() {
									 clickNum++;
											   if(clickNum > 1){
											       plus.runtime.quit();
											   }else{
											       mui.toast("再按一次退出应用");
											   }
											   setTimeout(function(){
											       clickNum = 0;
											   },1000);
											return false;
								}
							})
				    
				    
				    
				    
				    var url;
				    var cardnumber = localStorage.getItem("cardnumber");
						mui.ajax(ajaxDomain + "/enjoysLife/loginMetromall", {
							data: {
								cardnumber:cardnumber
							},
							type: 'post', //HTTP请求类型
							async:false, 
							success: function(data) {
								if(data.result == "success"){
									url = data.data;
								}
							},
							error: function(xhr, type, errorThrown) {
								mui.toast("网络连接异常")
							}
					});
				    
				    
				    mui.init({
					    subpages:[{
					      url:url,//子页面HTML地址，支持本地地址和网络地址
					      styles:{
					        background:"#fa952d",
					        top:'30px'
					      }
					    }]
  					});
		</script>
	</body>
</html>