<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>悦享生活</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/loading.css" />
		<link rel="stylesheet" type="text/css" href="css/yxshh.css"/>
		<script src="js/jquery.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/loading.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/common.js"></script>
		<style>
			#popover{
				width: 5.4rem;
				height: 6.3rem;
				background: url(css/images/masko.png);
				background-size: cover;
				top: 50%;
				left: 50%;
				margin-left: -2.7rem;
				margin-top: -3.15rem;
			}
			.poptext{
				position: absolute;
				bottom: 1.5rem;
				width: 100%;
				text-align: center;
			}
			.poptext p{
				font-size:0.32rem ;
			}
			#popover .popClose{
				position: absolute;
				width: 0.72rem;
				height: 0.72rem;
				background: url(css/images/maskc.png);
				background-size: cover;
				bottom: -1.2rem;
				left: 2.3rem;
				  
			}
			.poptime{
				position: absolute;
				bottom: 0.8rem;
				width: 100%;
				text-align: center;
				color: #ff7841;
				font-size: 0.35rem;
			}
		</style>
	</head>
	<body>
		
		<!-- 开放时间弹出 -->
		<div id="popover" class="mui-popover">
			<div class="poptext">
				<p class="popscst">当前不在商城开放时间段</p>
				<p>请稍后再试～</p>
			</div>
			<div class="poptime">
				
			</div>
			<div class="popClose"></div>
		</div>
		
		
		<div class="page-container"  id="pageApp">
			<div class="mui-scroll-wrapper mui-content ysshh-wrapper">
				<div class="mui-scroll">
					<!--banner部分-->
					<div class="theBanner">
						<div class="mui-slider">
							<div class="mui-slider-group">
							    <div v-for="(bannerItem,bannerIndex) in bannerItems" class="mui-slider-item"><a href="#"><img v-bind:src="bannerItem.PHOTONAME" /></a></div>
							 </div>
						</div>	
					</div>
					<!--食堂展示部分-->
					<div class="column">
						<div class="column-header header-foodHome"></div>
						<div class="column-items items-foodHome">
							<div class="items-foodHome-wrapper">
								<div class="items-foodHome-wrap">
									<a v-for="(foodItem,foodItemIndex) in foodItems" @tap="foodItemHandle(foodItemIndex)" class="foodHome-item" href="javascript:;">
										<img v-bind:src="foodItem.PHOTONAME" alt="" class="foodHome-itemIcon" />
									</a>
								</div>
							</div>
						</div>
					</div>
					
					<!--商城-->
					<div class="column">
						<div class="column-header header-shangcheng"></div>
						<div class="column-items items-shangcheng">
							<div class="items-shangcheng-wrap">
								<a class="shangcheng-item" v-for="(markerItem,marketItemIndex) in marketItems" href="javascript:;"  @tap="makerItemHandle(marketItemIndex)">
									<h5 class="item-mainTitle">{{markerItem.MERCHANTNAME}}</h5>
									<h6 class="item-description">{{markerItem.DESCRIBE}}</h6>
									<span class="item-iconBox" :style="markerItem.bgStyle"></span>
								</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/yxshh.js"></script>
		<script>
		mui.plusReady(function() {
			var clickNum = 0;
			mui.back = function() {
				clickNum++;
			    if(clickNum > 1){
			       plus.runtime.quit();
			    }else{
			       mui.toast("再按一次退出应用");
			    }
			    setTimeout(function(){
			        clickNum = 0;
			    },1000);
			 	return false;
			}
			
			$(".popClose").on('tap',function(){ 
			
				mui('#popover').popover('hide')
			
			})
			
			
		})
</script>
	</body>

</html>