<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>地址选择-食堂</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/webviewMy.css" />
		<link rel="stylesheet" href="css/wddzsht.css" />
		<script src="js/jquery.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/common.js"></script>
		<script src="js/wddzsht.js"></script>
	</head>
	<body>
		<div class="mui-row zfTop">
			<div class="mui-col-sm-12 mui-col-xs-12 zfNav">地址选择</div>
			<span class="zfBack"></span>
			<span class="dzadd" url="address.html">新增</span>
		</div>
		<div class="mui-scroll-wrapper mui-content" style="margin-top: 1.5rem;">
			<div class="mui-scroll">
				<div id="listAds">
					<div class="mui-row wddzList" v-for="(addressItem,addressIndex) in addressList" @tap="itemSelect(addressIndex)">
					  <div class="wdListS">
					  	<div class="wdSImg" v-bind:class="[activeIndex == addressIndex?'':'wdListN']"></div>
					  </div>
					  <div class="wdListR" @tap="editAddress($event,addressIndex)">
					  	<div class="wdlistImg"></div>
					  </div>
					  <div class="wdListL">
					  	 <div class="xmdhmr">
					  	 	<span>{{addressItem.consignee}}</span>
					  	 	<span>{{addressItem.phone}}</span>
					  	 	<span v-if="addressItem.isDefault" class="ms"></span>
					  	 	</span>
					  	 </div>	
					  	<div class="xmdhdz">
					  	 	<span>{{addressItem.area + addressItem.streetAddress}}</span>
					  	 </div>	
					  </div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			mui.init({
				beforeback: function() {
		　　　　 	//获得父页面的webview
		        var list = plus.webview.currentWebview().opener();
		　　　　 	//触发父页面的自定义事件(refresh),从而进行刷新
		        mui.fire(list, 'refreshshtDdqr');
		        //返回true,继续页面关闭逻辑
		        return true;
			}
			});
			
			var deceleration = mui.os.ios ? 0.003 : 0.0009;
			mui('.mui-scroll-wrapper').scroll({
				deceleration: deceleration,
				indicators: false
			});	
			//返回按钮
			mui('.zfTop').on('tap', '.zfBack', function(e) {
				mui.back();
			});
		</script>
	</body>
</html>
