.fwpj_item {
	margin: 0.2rem;
	height: 1.44rem;
	border: 0.02rem solid #eee;
	border-radius: 0.1rem;
	position: relative;
}

.fwpj_item h1 {
	display: block;
	height: 0.5rem;
	line-height: 0.5rem;
	font-size: 0.35rem;
	font-weight: normal;
	margin-top: 0.2rem;
	margin-left: 0.2rem;
	
}

.fwpj_item b {
	display: block;
	height: 1rem;
	line-height: 1rem;
	position: absolute;
	font-size: 0.32rem;
	font-weight: normal;
	right: 0.35rem;
	top: 0.22rem;
	color: #ff7742;
}

.fwpj_item b:hover {
	filter: alpha(opacity: 80);
	opacity: 0.8;
}

.fwpj_item span {
	float: left;
	display: block;
	height: 0.4rem;
	line-height: 0.4rem;
	margin-left: 0.2rem;
	color: #999;
	font-size: 0.30rem;
	margin-top: 0.2rem;
}

.fwpj_item .clock {
	padding-left: 0.35rem;
	background: url(images/clock.png) no-repeat left center;
	background-size: 0.3rem 0.3rem;
}

.fwpj_item .jsu {
	color: #ffae07;
}

.content {}

.content p {
	font-size: 0.32rem;
	line-height: 0.5rem;
	margin: 0.3rem;
	color: #333;
}

.myd_spilt {
	height: 0.28rem;
	background: url(images/myd_spilt.png) no-repeat center center;
	background-size: cover;
}

.myd {
	margin: 0.1rem 0.3rem;
	height: 1.6rem;
}

.myd h1 {
	font-size: 0.32rem;
	color: #666;
	height: 0.5rem;
	line-height: 0.5rem;
	font-weight: normal;
}

.myd ul {
	margin-top: 0.30rem;
	margin-left: 0.35rem;
}

.myd ul li {
	float: left;
	height: 0.52rem;
	line-height: 0.52rem;
	background: #cdcdcd;
	font-size: 0.32rem;
	color: #fff;
	margin-right: 0.5rem;
	padding: 0 0.35rem;
	text-align: center;
}

.myd ul li.on {
	background: #ff7742;
}

.bmy {
	margin: 0 0.2rem;
}

.bmy ul li {
	float: left;
	height: 0.54rem;
	line-height: 0.54rem;
	background: #cdcdcd;
	font-size: 0.32rem;
	color: #fff;
	padding: 0 0.19rem;
	text-align: center;
	border-radius: 0.27rem;
	margin-right: 0.1rem;
	margin-bottom: 0.25rem;
}

.bmy ul li.on {
	background: #ff7742;
}

.bmy textarea {
	border: 0;
	background: #eee;
	height: 2rem;
}

.submitCop {
	height: 1.4rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 2;
	background: #fff;
}

.submitCop .submit {
	margin: 0.3rem auto;
	background: url(images/submit.png) no-repeat center center;
	background-size: cover;
	width: 6.73rem;
	height: 0.93rem;
	display: block;
	text-align: center;
	line-height: 0.93rem;
	color: #fff;
}

.submitCop .submit:active {
	filter: alpha(opacity: 80);
	opacity: 0.8;
}