html,body{
	height:100%;
}
.pageContainer{
	height:100%;
	width:7.5rem;
	position:relative;
}
.pageContent{
	height:100%;
	width:7.5rem;
	display:flex;
	flex-direction: column;
}
.page-header{
	width:7.5rem;
	height:1.5rem;
	padding-top:0.7rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 7.5rem 1.5rem;
	background-image: url(images/bg_sht_head.png);
	
}
.header-content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.mui-action-back {
    width: 0.6rem;
    height: 0.6rem;
    text-indent: 0.1rem;
    font-size: 0.48rem;
    line-height: 0.6rem;
    margin-right: 0.12rem;
    color: #fff;
}
.header-title{
	flex:1;
	color:#fff;
	font-size: 0.4rem;
	line-height:0.6rem;
	height:0.6rem;
	text-align: center;
}
.header-btn{
	color: #fff;
    font-size: 0.3rem;
    padding: 0 0.20rem;
    height: 0.3rem;
    line-height: 0.3rem;
}
.pageBody{
	flex:1;
	background-color:#fff;
}
.pageBody-wrapper{
	height:100%;
	position: relative;
}
.list-container{
	padding:0.2rem 0;
}
.item{
	width:7.5rem;
	height:0.98rem;
	display:flex;
	align-items: center;
	background-color:#f7f7f7;
	padding-left:0.2rem;
	margin-bottom: 0.04rem;
}
.statusSpan {
	width:0.4rem;
    height: 0.98rem;
    display:block;
    margin-right:0.13rem;
}
.statusSpan.active{
	background: url(images/mrsp2.png) no-repeat center center;
    background-size: 0.36rem 0.36rem;
}
.masterAction{
	background-color: #f7f7f7;
    height: 0.98rem;
    margin-top: 0.3rem;
    padding:0 0.2rem;
    overflow: hidden;
}
.master-guiter{
	height:0.98rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position:relative;
}
#focus-input{
	margin:0;
	padding:0;
	width:7.5rem;
	height:0.98rem;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
}
.guiter-label{
	font-size: 0.32rem;
    color: #666;
}
.guiter-icon{
	width: 0.24rem;
    height: 0.24rem;
}
.master-addForm{
	display:flex;
	height:0.98rem;
	align-items: center;
}
#input-masterName{
	flex:1;
	border:none;
	background-color:transparent;
	outline:none;
	font-size:0.34rem;
	height:0.58rem;
	line-height:0.58rem;
	margin: 0;
    padding: 0;
}
.master-addForm-btns{
	display:flex;
	height:0.98rem;
	margin-left:0.2rem;
	margin-right:0.2rem;
}
.master-addForm-sure , .master-addForm-cancel{
	font-size:0.36rem;
	line-height:0.98rem;
}
.master-addForm-sure:active , .master-addForm-cancel:active{
	opacity:.7;
}
.master-addForm-sure{
	color:#5ae463;
	margin-right:0.3rem;
}
.edit-bottom{
	height: 1rem;
    background-color: #fafafa;
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    width: 7.5rem;
    line-height: 1rem;
    display: flex;
    justify-content: space-between;
    z-index:1000;
}
.btn-toogleAll{
	margin-left:0.2rem;
	height:1rem;
	line-height:1rem;
	font-size:0.32rem;
	text-indent:0.6rem;
}
.btn-toogleAll.active{
	background-repeat: no-repeat;
	background-size:0.36rem 0.36rem;
	background-position:0.12rem 0.32rem;
	background-image: url(images/mrsp2.png);
}
.btn-doDelete{
	padding:0 0.3rem;
	color:#f8584f;
	font-size:0.32rem;
}
.btn-doDelete:active{
	opacity:0.5;
}
