html,body{
	height:100%;
}
.pageContainer{
	height:100%;
	width:7.5rem;
	position:relative;
}
.pageContent{
	height:100%;
	width:7.5rem;
	display:flex;
	flex-direction: column;
}
.page-body{
	flex:1;
	width:7.5rem;
	background-color:#fff;
}
.page-header{
	width:7.5rem;
	height:1.5rem;
	padding-top:0.7rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 7.5rem 1.5rem;
	background-image: url(images/bg_sht_head.png);
}
.header-content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.mui-action-back {
    width: 0.6rem;
    height: 0.6rem;
    text-indent: 0.1rem;
    font-size: 0.48rem;
    line-height: 0.6rem;
    margin-right: 0.12rem;
    color: #fff;
}
.header-title{
	flex:1;
	color:#fff;
	font-size: 0.4rem;
	line-height:0.6rem;
	height:0.6rem;
	text-align: center;
}
.column-title-wrap{
	padding:0.04rem 0 0.19rem 0;
	background-color:#f8f8f8;
}
.column-title{
	height:1.1rem;
	border-bottom:1px solid #eee;
	background-color:#fff;
	font-size:0.36rem;
	width:7.5rem;
	padding-left:0.2rem;
	line-height:1.1rem;
	letter-spacing: 0.02rem;
	font-weight:600;
	color:#333;
}
.column-form{
	border-top:1px solid #eee;
	padding:0.26rem 0.2rem 0;
}
.form-label{
	height:0.3rem;
	line-height:0.3rem;
	font-size:0.32rem;
	color:#999;
}
.items-radio , .items-checkbox{
	margin-top:0.2rem;
	overflow: hidden;
}
.select-item{
	width:1.62rem;
	height:0.56rem;
	border:1px solid #ddd;
	border-radius:0.06rem;
	text-align: center;
	line-height:0.56rem;
	color:#666;
	font-size: 0.28rem;
}
.select-item.active{
	border-color:#ff7742;
	background-color: #fff1ec;
	color:#ff7742;
}
.select-item:active{
	opacity: 0.6;
}
.items-radio .select-item{
	float:left;
	margin-right:0.2rem;
}
.items-checkbox{
	display: flex;
	justify-content: space-between;
}
.textarea-container{
	margin-top:0.2rem;
}
.form-textarea{
	width:100%;
	height:2rem;
	background-color: #fafafa;
	outline: none;
    border: 1px solid #ddd;
    line-height: 0.42rem;
    border-radius: 0.06rem;
    padding: 0.1rem;
    margin: 0;
}
.page-bottom{
	width:7.5rem;
	height: 1.5rem;
	display: flex;
	justify-content: center;
}
.btn-save{
	width:6.73rem;
	height: 0.93rem;
	line-height: 0.93rem;
	text-align: center;
	color:#fff;
	letter-spacing: 2px;
	font-size: 0.34rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 6.73rem 0.93rem;
	background-image: url(images/submit.png);
}
.btn-save:active{
	opacity: 0.7;
}
