html,body{
	height:100%;
}
.noData{
	background-repeat: no-repeat;
	background-position: center;
	background-image:url(images/nodata.png);
	background-size:5.5rem auto;
}
.page-container{
	width:7.5rem;
	height:100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.page-header{
	height:3.1rem;
	width:7.5rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image:url(images/myhead.png);
}
.header-column1{
	display: flex;
	align-items: center;
	margin-top:0.7rem;
}
.mui-action-back {
    width: 0.6rem;
    height: 0.6rem;
    text-indent: 0.1rem;
    font-size: 0.48rem;
    line-height: 0.6rem;
    margin-right: 0.12rem;
    color: #fff;
}
.header-title{
	flex:1;
	color:#fff;
	font-size: 0.4rem;
    line-height: 0.6rem;
    height: 0.6rem;
    text-align: center;
}
.sort-span{
	color:#fff;
	font-size:0.32rem;
    line-height: 0.6rem;
    padding:0 0.2rem;
}
.header-column2 , .header-column3{
	margin-top:0.2rem;
	display: flex;
	justify-content: space-between;
	padding:0 0.2rem;
}
.header-label , .header-span{
	color:#fff;
	font-size:0.32rem;
	line-height:0.6rem;
}
.page-article{
	flex:1;
	width:7.5rem;
}
.article-container{
	width:7.5rem;
	height:100%;
	display:flex;
	flex-direction: column;
	overflow:hidden;
}
.article-header{
	display: flex;
	width:7.5rem;
	height:1rem;
}
.article-lists{
	flex:1;
}
.article-listContainer{
	width:7.5rem;
	height:100%;
	position: relative;
}
.article-headerItem{
	text-align:center;
	flex:1;
	font-size:0.32rem;
	color:#323232;
	line-height:1rem;
}
.article-row{
	display:flex;
	width:7.5rem;
	padding: 0.1rem;
}
.article-row:nth-child(odd){
	background-color:#eee;
}
.article-cell{
	text-align:center;
	flex:1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:0.32rem;
	line-height: 0.4rem;
	color:#323232;
}
