html,body{
	height:100%;
	overflow:hidden;
}
.pageContainer{
	height:100%;
	width:7.5rem;
	position:relative;
	overflow:hidden;
}
.pageContent{
	height:100%;
	width:7.5rem;
	display:flex;
	flex-direction: column;
	overflow:hidden;
}
.page-body{
	flex:1;
	width:7.5rem;
	background-color:#fff;
	overflow:hidden;
}
.page-body-wrapper{
	width:7.5rem;
	height:100%;
	position:relative;
	overflow:hidden;
}
.page-header{
	width:7.5rem;
	height:1.5rem;
	padding-top:0.7rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 7.5rem 1.5rem;
	background-image: url(images/bg_sht_head.png);
	
}
.header-content{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow:hidden;
}
.mui-action-back {
    width: 0.6rem;
    height: 0.6rem;
    text-indent: 0.1rem;
    font-size: 0.48rem;
    line-height: 0.6rem;
    margin-right: 0.12rem;
    color: #fff;
}
.header-title{
	flex:1;
	color:#fff;
	font-size: 0.4rem;
	line-height:0.6rem;
	height:0.6rem;
	text-align: center;
	overflow:hidden;
}
.mrsp_editCop {
    margin: 0.2rem 0;
}
.mrsp_editCop li {
    margin-bottom: 0.04rem;
}
.mrsp_editCop li input {
    height: 0.84rem;
    line-height: 0.84rem;
    width: 100%;
    margin-bottom: 0;
    display: block;
    border: 0;
    padding: 0;
    font-size: 0.32rem;
    background: #f7f7f7;
}
.cntSmailCop {
    margin-top: 0;
}
.submitCop {
    position: unset;
    width: 100%;
    background: #fff;
}
.submitCop1 {
    position: unset;
    width: 100%;
    background: #fff;
}
.submitCop .submit:active {
	opacity: .7;
}
.photoBox {
	margin-top: 0.20rem;
	height: 2.90rem;
	background: #fff;
}

.text {
	display: inline-block;
	margin-top: 0.30rem;
	margin-left: 0.30rem;
	font-size: 0.3rem;
}

.imgBox {
	/*width: 1.5rem;*/
	height: 1.5rem;
	/*margin-left: 0.30rem;*/
	/*background: url(css/images/wybx3.png) no-repeat center center;*/
	background-size: cover;
	margin-top: 0.30rem;
	/*border: 1px solid #c1c1c3;*/
}
.imgBox img{
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 0.30rem;
	
	border: 1px solid #c1c1c3;
}
.imgBox img{
			width: 1.5rem;
			height: 1.5rem;
			border: 1px solid #c1c1c3;
		}
		.clickPic{
			width: 1.5rem;
			height: 1.5rem;
			margin-left: 0.2rem;
			border: 1px solid #c1c1c3;
		}
		.imgCop{
			width: 1.5rem;
			height: 1.5rem;
			margin-left: 0.15rem;
			position: relative;
			display: inline-block;
		}
		.imgCop:first-child{
			margin-left: 0.20rem;
		}
		.closeBtn{
			position:absolute;
			display:none;
			width:0.3rem;
			height:0.3rem;
			top:-0.15rem;
			right:-0.15rem;
			background:url(images/picDelete.png) no-repeat;
			background-size:cover; 
		}