html,body{
	height:100%;
}
.content-page{
	height:100%;
	display: flex;
	flex-direction: column;
}
.content-body{
	flex:1;
}
.noData{
	background-repeat: no-repeat;
	background-position: center;
	background-image:url(images/nodata.png);
	background-size:4.8rem auto;
}
.content-body-wrapper{
	height:100%;
	position: relative;
}
.moreNav .right {
	height: 0.86rem;
	line-height: 0.86rem;
	width: 0.86rem;
	display: block;
	position: absolute;
	right: 0.3rem;
	text-align: center;
	color: #fff;
	font-size: 0.31rem;
	top: 0.1rem;
}

.weekCop {
	position: absolute;
	top: 1.3rem;
	width: 100%;
}

.weekCop li {
	float: left;
	text-align: center;
	color: #fff;
	font-size: 0.31rem;
	width: 1.07rem;
}

.weekCop li span,
.weekCop li b {
	display: block;
	margin: 0 auto;
	height: 0.6rem;
	line-height: 0.6rem;
	width: 0.6rem;
	margin-top: 0.1rem;
	font-weight: normal;
}

.weekCop li b.on {
	border-radius: 100%;
	background: #fff;
	color: #ff7742;
}

.dataCop {
	bottom: 0.1rem;
	position: absolute;
	width: 100%;
}

.dataCop li {
	height: 0.7rem;
	line-height: 0.7rem;
	float: left;
	text-align: center;
	color: #fff;
	font-size: 0.31rem;
	width: 2.5rem;
	filter: alpha(opacity: 50);
	opacity: 0.5;
}

.dataCop li.on {
	background: url(images/mrsp_split.png) no-repeat center bottom;
	background-size: 0.58rem 0.04rem;
	filter: alpha(opacity: 100);
	opacity: 1;
}
.mui-slider , .mui-slider-group{
	height:100%;
}
.mui-scroll-wrapper {
    overflow: auto;
}
.mrsp_cop {
	overflow:hidden;
}
.food-lists{
	overflow:hidden;
	padding: 0.1rem 0;
}
.food-list{
	float: left;
	width: 3.45rem;
	height: 4.32rem;
	/*background: url(images/shipu_ico.png) no-repeat center center;*/
	background-size:100% auto;
	background-repeat:no-repeat;
	background-size:100% 100%;
	text-align: center;
	position: relative;
	border-radius: 0.08rem;
	box-shadow: 0.04rem 0.04rem 0.04rem #ccc, -0.04rem -0.04rem 0.04rem #ccc;
	margin-right:0.2rem;
    margin-bottom:0.1rem;
    margin-top:0.1rem;
    margin-left:0.2rem;
}
.text-container{
	width:3.45rem;
	height:3.45rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.food-list-text{
	width:3.45rem;
	padding:0 0.2rem;
	line-height: 0.6rem;
	font-size: 0.4rem;
	font-weight: bold;
	color:#000;
}
.food-list:nth-of-type(even){
	margin-right:0;
}
.food-list:nth-of-type(odd){
	margin-right:0;
}

.mrsp_cop .mrsp_add {
	float: left;
	width: 3.45rem;
	height: 4.32rem;
	background: url(images/mrsp_add.png) no-repeat center;
	background-size: cover;
}

.mrsp_cop li .mrsp_edit {
	position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0;
    right: 0;
    background: url(images/mrsp_edit.png) no-repeat 0.5rem 0.12rem;
    background-size: 0.39rem 0.39rem;
}

.mrsp_cop li .mrsp_edit:active {
	filter: alpha(opacity: 50);
	opacity: 0.5;
}

.mrsp_editCop {
	margin: 0.45rem 0;
}

.mrsp_editCop li {
	background: #f7f7f7;
}

.mrsp_editCop li .item {
	height: 0.84rem;
	line-height: 0.84rem;
	font-size: 0.32rem;
	color: #666666;
	margin-top: 0.2rem;
	position: relative;
	margin: 0 0.2rem;
}

.mrsp_editCop li span {
	display: block;
	height: 0.84rem;
	line-height: 0.84rem;
	position: absolute;
	right: 0;
	top: 0;
}

.mrsp_editCop li input {
	height: 0.5rem;
	line-height: 0.5rem;
	width: 5.5rem;
	border: 0;
	font-size: 0.32rem;
	background: #f7f7f7;
}

.submitCop {
	height: 1.4rem;
	position: relative;
	bottom: 0;
	width: 100%;
	z-index: 2;
	background: #f5f9ff;
}

.submitCop .submit {
	margin: 0.3rem auto;
	background: url(images/submit.png) no-repeat center center;
	background-size: cover;
	width: 6.73rem;
	height: 0.93rem;
	display: block;
	text-align: center;
	line-height: 0.93rem;
	color: #fff;
}
.submitCop1 {
	height: 1.4rem;
	position: relative;
	width: 100%;
	z-index: 2;
	background: #f5f9ff;
}

.submitCop1 .submit1 {
	margin: 0rem auto;
	background: url(images/submit.png) no-repeat center center;
	background-size: cover;
	width: 6.73rem;
	height: 0.93rem;
	display: block;
	text-align: center;
	line-height: 0.93rem;
	color: #fff;
}
.mrsp_editCop .nav_right {
	width: 0.3rem;
	background: url(images/nav_right.png) no-repeat center center;
	background-size: 0.3rem 0.3rem;
}

.xzcs:hover{
	filter: alpha(opacity: 50);
	opacity: 0.5;
}
.seeBJ{
	position: absolute;
	right: 0.20rem;
	color: #fff;
	font-size: 0.3rem;
	top: 0.35rem;
}
.bjStatus{
	position: absolute;
	right: 0.20rem;
	color: #fff;
	font-size: 0.3rem;
	top: 0.35rem;
}

.addcs{
	background: #f7f7f7;
	height: 0.84rem;
    line-height: 0.84rem;
    font-size: 0.32rem;
    color: #666666;
    margin-top: 0.3rem;
    position: relative;
	padding-left: 0.2rem;
}
#addPic{
	width: 24px;
	height: 24px;
	background: url(images/mrsp1.png) no-repeat center center;
	background-size: 0.24rem 0.24rem;
	position: absolute;
	right: 0.2rem;
	top: 0.2rem;
}
.editcs{
	position: absolute;
	background: #f7f7f7;
	height: 0.84rem;
    line-height: 0.84rem;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}
.editBtn{
	position: absolute;
	right: 0.50rem;
	top: 0.1rem;
	line-height: 0.7rem;
}
.editBtn span{
	margin-right: 0.1rem;
}
.editBtn #span1{
	color: #5ae643;
	margin-right: 0.3rem;
}

#addTextInput{
	border: none;
	background: none;
	padding-left: 0.2rem;
	height: 0.84rem;
    line-height: 0.84rem;
}
.selectBtn{
	width: 0.36rem;
    height: 0.84rem;
    display: none;
    float: left;
    margin-right: 0.15rem;
}
.selectBtn.active{
	background: url(images/mrsp2.png) no-repeat center center;
	background-size: 0.36rem 0.36rem;
}
.selectBtn.unactive{
	background: url(images/mrsp3.png) no-repeat center center;
	background-size: 0.36rem 0.36rem;
}
.allselectBtn{
	width: 0.36rem;
    height: 1rem;
    float: left;
    margin-right: 0.1rem;
    margin-left: 0.3rem;
}
.allselectBtn.active{
	background: url(images/mrsp2.png) no-repeat center center;
	background-size: 0.36rem 0.36rem;
}
.allselectBtn.unactive{
	background: url(images/mrsp3.png) no-repeat center center;
	background-size: 0.36rem 0.36rem;
}
.bottomBody{
	height: 1rem;
    background: #fafafa;
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    width: 100%;
    line-height: 1rem;
    display: none;
}
.mrsp_dpCop .cpName{
	height: 1.15rem;
	line-height: 1.15rem;
	text-indent: 0.3rem;
	background: #fff;
	font-weight: bold;
	font-size: 0.4rem;
	
}
.mrsp_dpCop .pjbg{
	background: #fafafa;
	height: 0.3rem;
}
.mrsp_dpCop .mainBody{
	   /* height: inherit;*/
	background: #fff;
	padding: 0 0.2rem;
	
}
.mrsp_dpCop .ndpj{
	color: #b8b8b8;
	line-height: 0.9rem;
	height: 0.8rem;
	font-size: 0.36rem;
}
.mrsp_dpCop .pjul_1{
	height: 0.6rem;
	display:flex;
	display:-webkit-flex;
}
.mrsp_dpCop .pjul_1 li:first-child{
	margin-left: 0;
}
.mrsp_dpCop .pjul_2 li:first-child{
	margin-left: 0;
}
.mrsp_dpCop li{
	width: 1.50rem;
	height: 0.56rem;
	text-align: center;
	line-height: 0.56rem;
	border: 0.03rem solid #dddddd;
	border-radius: 0.05rem;
	color: #bcbcbc;
	margin-left:0.3rem ;
}
.mrsp_dpCop li.active{
	background: #fff1ec;
	border: 0.03rem solid #ff7841;
	border-radius: 0.05rem;
	color: #ff793c;
}
.mrsp_dpCop .pjul_2{
	height: 0.6rem;
	display:flex;
	display:-webkit-flex;
	margin-top: 0.3rem;
}
.mrsp_dpCop .textBox{
	margin-top: 0.3rem;
	height: 2rem;
}
.mrsp_dpCop textarea{
	background: #fafafa;
	height: 2rem;
}
.statisticsLeft{
	margin-left: 0.3rem;
}
.statisticsRight{
	margin-right: 0.3rem;
	float: right;
}
.baseDivLeft{
	margin-left: 0.3rem;
}
.baseDivRight{
	margin-right: 0.3rem;
	float: right;
}
.baseDownBtn{
	width: 0.24rem;
	height: 0.24rem;
	position: absolute;
	right: 0.06rem;
	top: 0.30rem;
	background: url(images/wybx5.png) no-repeat center center;
	background-size: 0.24rem 0.24rem;
}
.baseName{
	    height: 0.5rem;
	    color: #fff;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    line-height: 0.5rem;
	    text-indent: 0.2rem;
}
.baseNameBox{
	background: #ff7b40;
	position: absolute;
	overflow-y: scroll;
	z-index: 9;
	width: 100%;
	padding-bottom: 0.1rem;
}
.baseNameCur{
	height: 0.86rem;
	color: #fff;
	line-height: 0.86rem;
	padding-right: 0.3rem;
    text-align: center;
    color: #fff;
    font-size: 0.32rem;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.moreNav .right-base{
	right: 1.6rem;
}
.importantName{
	font-weight: 500;
    display: inline-block;
    max-width: 4.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}
