/*!
 * =====================================================
 * Mui v3.4.0 (http://dev.dcloud.net.cn/mui)
 * =====================================================
 */

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html
{
    font-family: sans-serif;

    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary
{
    display: block;
}

audio,
canvas,
progress,
video
{
    display: inline-block;

    vertical-align: baseline;
}

audio:not([controls])
{
    display: none;

    height: 0;
}

[hidden],
template
{
    display: none;
}

a
{
    background: transparent;
}

a:active,
a:hover
{
    outline: 0;
}

abbr[title]
{
    border-bottom: 1px dotted;
}

b,
strong
{
    font-weight: bold;
}

dfn
{
    font-style: italic;
}

h1
{
    font-size: 2em;

    margin: .67em 0;
}

mark
{
    color: #000;
    background: #ff0;
}

small
{
    font-size: 80%;
}

sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sup
{
    top: -.5em;
}

sub
{
    bottom: -.25em;
}

img
{
    border: 0;
}

svg:not(:root)
{
    overflow: hidden;
}

figure
{
    margin: 1em 40px;
}

hr
{
    box-sizing: content-box;
    height: 0;
}

pre
{
    overflow: auto;
}

code,
kbd,
pre,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea
{
    font: inherit;

    margin: 0;

    color: inherit;
}

button
{
    overflow: visible;
}

button,
select
{
    text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    cursor: pointer;

    -webkit-appearance: button;
}

button[disabled],
html input[disabled]
{
    cursor: default;
}

input
{
    line-height: normal;
}

input[type='checkbox'],
input[type='radio']
{
    box-sizing: border-box;
    padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

input[type='search']
{
    -webkit-box-sizing: content-box;
            box-sizing: content-box;

    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em;

    border: 1px solid #c0c0c0;
}

legend
{
    padding: 0;

    border: 0;
}

textarea
{
    overflow: auto;
}

optgroup
{
    font-weight: bold;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th
{
    padding: 0;
}

*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-user-select: none;

    outline: none;

    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

body
{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 17px;
    line-height: 21px;

    color: #000;
    background-color: #efeff4;

    -webkit-overflow-scrolling: touch;
}

a
{
    text-decoration: none;

    color: #007aff;
}
a:active
{
    color: #0062cc;
}

.mui-content
{
    -webkit-overflow-scrolling: touch;
}

.mui-bar-nav ~ .mui-content
{
    padding-top: 44px;
}
.mui-bar-nav ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical
{
    top: 44px;
}

.mui-bar-header-secondary ~ .mui-content
{
    padding-top: 88px;
}
.mui-bar-header-secondary ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical
{
    top: 88px;
}

.mui-bar-footer ~ .mui-content
{
    padding-bottom: 44px;
}
.mui-bar-footer ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical
{
    bottom: 44px;
}

.mui-bar-footer-secondary ~ .mui-content
{
    padding-bottom: 88px;
}
.mui-bar-footer-secondary ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical
{
    bottom: 88px;
}

.mui-bar-tab ~ .mui-content
{
    padding-bottom: 50px;
}
.mui-bar-tab ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical
{
    bottom: 50px;
}

.mui-bar-footer-secondary-tab ~ .mui-content
{
    padding-bottom: 94px;
}
.mui-bar-footer-secondary-tab ~ .mui-content.mui-scroll-wrapper .mui-scrollbar-vertical
{
    bottom: 94px;
}

.mui-content-padded
{
    margin: 10px;
}

.mui-inline
{
    display: inline-block;

    vertical-align: top;
}

.mui-block
{
    display: block !important;
}

.mui-visibility
{
    visibility: visible !important;
}

.mui-hidden
{
    display: none !important;
}

.mui-ellipsis
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.mui-ellipsis-2
{
    display: -webkit-box;
    overflow: hidden;

    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap: break-word;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.mui-table
{
    display: table;

    width: 100%;

    table-layout: fixed;
}

.mui-table-cell
{
    position: relative;

    display: table-cell;
}

.mui-text-left
{
    text-align: left !important;
}

.mui-text-center
{
    text-align: center !important;
}

.mui-text-justify
{
    text-align: justify !important;
}

.mui-text-right
{
    text-align: right !important;
}

.mui-pull-left
{
    float: left;
}

.mui-pull-right
{
    float: right;
}

.mui-list-unstyled
{
    padding-left: 0;

    list-style: none;
}

.mui-list-inline
{
    margin-left: -5px;
    padding-left: 0;

    list-style: none;
}

.mui-list-inline > li
{
    display: inline-block;

    padding-right: 5px;
    padding-left: 5px;
}

.mui-clearfix:before, .mui-clearfix:after
{
    display: table;

    content: ' ';
}
.mui-clearfix:after
{
    clear: both;
}

.mui-bg-primary
{
    background-color: #007aff;
}

.mui-bg-positive
{
    background-color: #4cd964;
}

.mui-bg-negative
{
    background-color: #dd524d;
}

.mui-error
{
    margin: 88px 35px;
    padding: 10px;

    border-radius: 6px;
    background-color: #bbb;
}

.mui-subtitle
{
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6
{
    line-height: 1;

    margin-top: 5px;
    margin-bottom: 5px;
}

h1, .mui-h1
{
    font-size: 36px;
}

h2, .mui-h2
{
    font-size: 30px;
}

h3, .mui-h3
{
    font-size: 24px;
}

h4, .mui-h4
{
    font-size: 18px;
}

h5, .mui-h5
{
    font-size: 14px;
    font-weight: normal;

    color: #8f8f94;
}

h6, .mui-h6
{
    font-size: 12px;
    font-weight: normal;

    color: #8f8f94;
}

p
{
    font-size: 14px;

    margin-top: 0;
    margin-bottom: 10px;

    color: #8f8f94;
}

.mui-row:before, .mui-row:after
{
    display: table;

    content: ' ';
}
.mui-row:after
{
    clear: both;
}

.mui-col-xs-1, .mui-col-sm-1, .mui-col-xs-2, .mui-col-sm-2, .mui-col-xs-3, .mui-col-sm-3, .mui-col-xs-4, .mui-col-sm-4, .mui-col-xs-5, .mui-col-sm-5, .mui-col-xs-6, .mui-col-sm-6, .mui-col-xs-7, .mui-col-sm-7, .mui-col-xs-8, .mui-col-sm-8, .mui-col-xs-9, .mui-col-sm-9, .mui-col-xs-10, .mui-col-sm-10, .mui-col-xs-11, .mui-col-sm-11, .mui-col-xs-12, .mui-col-sm-12
{
    position: relative;

    min-height: 1px;
}

.mui-row > [class*='mui-col-']
{
    float: left;
}

.mui-col-xs-12
{
    width: 100%;
}

.mui-col-xs-11
{
    width: 91.66666667%;
}

.mui-col-xs-10
{
    width: 83.33333333%;
}

.mui-col-xs-9
{
    width: 75%;
}

.mui-col-xs-8
{
    width: 66.66666667%;
}

.mui-col-xs-7
{
    width: 58.33333333%;
}

.mui-col-xs-6
{
    width: 50%;
}

.mui-col-xs-5
{
    width: 41.66666667%;
}

.mui-col-xs-4
{
    width: 33.33333333%;
}

.mui-col-xs-3
{
    width: 25%;
}

.mui-col-xs-2
{
    width: 16.66666667%;
}

.mui-col-xs-1
{
    width: 8.33333333%;
}

@media (min-width: 400px)
{
    .mui-col-sm-12
    {
        width: 100%;
    }

    .mui-col-sm-11
    {
        width: 91.66666667%;
    }

    .mui-col-sm-10
    {
        width: 83.33333333%;
    }

    .mui-col-sm-9
    {
        width: 75%;
    }

    .mui-col-sm-8
    {
        width: 66.66666667%;
    }

    .mui-col-sm-7
    {
        width: 58.33333333%;
    }

    .mui-col-sm-6
    {
        width: 50%;
    }

    .mui-col-sm-5
    {
        width: 41.66666667%;
    }

    .mui-col-sm-4
    {
        width: 33.33333333%;
    }

    .mui-col-sm-3
    {
        width: 25%;
    }

    .mui-col-sm-2
    {
        width: 16.66666667%;
    }

    .mui-col-sm-1
    {
        width: 8.33333333%;
    }
}
.mui-scroll-wrapper
{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
}

.mui-scroll
{
    position: absolute;
    z-index: 1;

    width: 100%;

    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

.mui-scrollbar
{
    position: absolute;
    z-index: 9998;

    overflow: hidden;

    -webkit-transition: 500ms;
            transition: 500ms;
    transform: translateZ(0px);
    pointer-events: none;

    opacity: 0;
}

.mui-scrollbar-vertical
{
    top: 0;
    right: 1px;
    bottom: 2px;

    width: 4px;
}
.mui-scrollbar-vertical .mui-scrollbar-indicator
{
    width: 100%;
}

.mui-scrollbar-horizontal
{
    right: 2px;
    bottom: 0;
    left: 2px;

    height: 4px;
}
.mui-scrollbar-horizontal .mui-scrollbar-indicator
{
    height: 100%;
}

.mui-scrollbar-indicator
{
    position: absolute;

    display: block;

    box-sizing: border-box;

    -webkit-transition: .01s cubic-bezier(.1, .57, .1, 1);
            transition: .01s cubic-bezier(.1, .57, .1, 1);
    transform: translate(0px, 0px) translateZ(0px);

    border: 1px solid rgba(255, 255, 255, .80196);
    border-radius: 2px;
    background: rgba(0, 0, 0, .39804);
}

.mui-plus-pullrefresh .mui-fullscreen .mui-scroll-wrapper .mui-scroll-wrapper, .mui-plus-pullrefresh .mui-fullscreen .mui-slider-group .mui-scroll-wrapper
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
}
.mui-plus-pullrefresh .mui-fullscreen .mui-scroll-wrapper .mui-scroll, .mui-plus-pullrefresh .mui-fullscreen .mui-slider-group .mui-scroll
{
    position: absolute;

    width: 100%;
}
.mui-plus-pullrefresh .mui-scroll-wrapper, .mui-plus-pullrefresh .mui-slider-group
{
    position: static;
    top: auto;
    bottom: auto;
    left: auto;

    overflow: auto;

    width: auto;
}
.mui-plus-pullrefresh .mui-slider-group
{
    overflow: visible;
}
.mui-plus-pullrefresh .mui-scroll
{
    position: static;

    width: auto;
}

.mui-off-canvas-wrap .mui-bar
{
    position: absolute !important;

    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    -webkit-box-shadow: none;
            box-shadow: none;
}

.mui-off-canvas-wrap
{
    position: relative;
    z-index: 1;

    overflow: hidden;

    width: 100%;
    height: 100%;
}
.mui-off-canvas-wrap .mui-inner-wrap
{
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
}
.mui-off-canvas-wrap .mui-inner-wrap.mui-transitioning
{
    -webkit-transition: -webkit-transform 350ms;
            transition:         transform 350ms cubic-bezier(.165, .84, .44, 1);
}
.mui-off-canvas-wrap .mui-inner-wrap .mui-off-canvas-left
{
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
}
.mui-off-canvas-wrap .mui-inner-wrap .mui-off-canvas-right
{
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}
.mui-off-canvas-wrap.mui-active
{
    overflow: hidden;

    height: 100%;
}
.mui-off-canvas-wrap.mui-active .mui-off-canvas-backdrop
{
    position: absolute;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    transition: background 350ms cubic-bezier(.165, .84, .44, 1);

    background: rgba(0, 0, 0, .4);
    box-shadow: -4px 0 4px rgba(0, 0, 0, .5), 4px 0 4px rgba(0, 0, 0, .5);

    -webkit-tap-highlight-color: transparent;
}
.mui-off-canvas-wrap.mui-slide-in .mui-off-canvas-right
{
    z-index: 10000 !important;

    -webkit-transform: translate3d(100%, 0px, 0px);
}
.mui-off-canvas-wrap.mui-slide-in .mui-off-canvas-left
{
    z-index: 10000 !important;

    -webkit-transform: translate3d(-100%, 0px, 0px);
}

.mui-off-canvas-left, .mui-off-canvas-right
{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;

    visibility: hidden;

    box-sizing: content-box;
    width: 70%;
    min-height: 100%;

    background: #333;

    -webkit-overflow-scrolling: touch;
}
.mui-off-canvas-left.mui-transitioning, .mui-off-canvas-right.mui-transitioning
{
    -webkit-transition: -webkit-transform 350ms cubic-bezier(.165, .84, .44, 1);
            transition:         transform 350ms cubic-bezier(.165, .84, .44, 1);
}

.mui-off-canvas-left
{
    left: 0;
}

.mui-off-canvas-right
{
    right: 0;
}

.mui-off-canvas-wrap:not(.mui-slide-in).mui-scalable
{
    background-color: #333;
}
.mui-off-canvas-wrap:not(.mui-slide-in).mui-scalable > .mui-off-canvas-left, .mui-off-canvas-wrap:not(.mui-slide-in).mui-scalable > .mui-off-canvas-right
{
    width: 80%;

    -webkit-transform: scale(.8);
            transform: scale(.8);

    opacity: .1;
}
.mui-off-canvas-wrap:not(.mui-slide-in).mui-scalable > .mui-off-canvas-left.mui-transitioning, .mui-off-canvas-wrap:not(.mui-slide-in).mui-scalable > .mui-off-canvas-right.mui-transitioning
{
    -webkit-transition: -webkit-transform 350ms cubic-bezier(.165, .84, .44, 1), opacity 350ms cubic-bezier(.165, .84, .44, 1);
            transition:         transform 350ms cubic-bezier(.165, .84, .44, 1), opacity 350ms cubic-bezier(.165, .84, .44, 1);
}
.mui-off-canvas-wrap:not(.mui-slide-in).mui-scalable > .mui-off-canvas-left
{
    -webkit-transform-origin: -100%;
            transform-origin: -100%;
}
.mui-off-canvas-wrap:not(.mui-slide-in).mui-scalable > .mui-off-canvas-right
{
    -webkit-transform-origin: 200%;
            transform-origin: 200%;
}
.mui-off-canvas-wrap:not(.mui-slide-in).mui-scalable.mui-active > .mui-inner-wrap
{
    -webkit-transform: scale(.8);
            transform: scale(.8);
}
.mui-off-canvas-wrap:not(.mui-slide-in).mui-scalable.mui-active > .mui-off-canvas-left, .mui-off-canvas-wrap:not(.mui-slide-in).mui-scalable.mui-active > .mui-off-canvas-right
{
    -webkit-transform: scale(1);
            transform: scale(1);

    opacity: 1;
}

.mui-loading .mui-spinner
{
    display: block;

    margin: 0 auto;
}

.mui-spinner
{
    display: inline-block;

    width: 24px;
    height: 24px;

    -webkit-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-animation: spinner-spin 1s step-end infinite;
            animation: spinner-spin 1s step-end infinite;
}

.mui-spinner:after
{
    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background-image: url('data:image/svg+xml;charset=utf-8,<svg viewBox=\'0 0 120 120\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'><defs><line id=\'l\' x1=\'60\' x2=\'60\' y1=\'7\' y2=\'27\' stroke=\'%236c6c6c\' stroke-width=\'11\' stroke-linecap=\'round\'/></defs><g><use xlink:href=\'%23l\' opacity=\'.27\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(30 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(60 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(90 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(120 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(150 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.37\' transform=\'rotate(180 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.46\' transform=\'rotate(210 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.56\' transform=\'rotate(240 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.66\' transform=\'rotate(270 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.75\' transform=\'rotate(300 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.85\' transform=\'rotate(330 60,60)\'/></g></svg>');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}

.mui-spinner-white:after
{
    background-image: url('data:image/svg+xml;charset=utf-8,<svg viewBox=\'0 0 120 120\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'><defs><line id=\'l\' x1=\'60\' x2=\'60\' y1=\'7\' y2=\'27\' stroke=\'%23fff\' stroke-width=\'11\' stroke-linecap=\'round\'/></defs><g><use xlink:href=\'%23l\' opacity=\'.27\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(30 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(60 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(90 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(120 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(150 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.37\' transform=\'rotate(180 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.46\' transform=\'rotate(210 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.56\' transform=\'rotate(240 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.66\' transform=\'rotate(270 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.75\' transform=\'rotate(300 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.85\' transform=\'rotate(330 60,60)\'/></g></svg>');
}

@-webkit-keyframes spinner-spin
{
    0%
    {
        -webkit-transform: rotate(0deg);
    }

    8.33333333%
    {
        -webkit-transform: rotate(30deg);
    }

    16.66666667%
    {
        -webkit-transform: rotate(60deg);
    }

    25%
    {
        -webkit-transform: rotate(90deg);
    }

    33.33333333%
    {
        -webkit-transform: rotate(120deg);
    }

    41.66666667%
    {
        -webkit-transform: rotate(150deg);
    }

    50%
    {
        -webkit-transform: rotate(180deg);
    }

    58.33333333%
    {
        -webkit-transform: rotate(210deg);
    }

    66.66666667%
    {
        -webkit-transform: rotate(240deg);
    }

    75%
    {
        -webkit-transform: rotate(270deg);
    }

    83.33333333%
    {
        -webkit-transform: rotate(300deg);
    }

    91.66666667%
    {
        -webkit-transform: rotate(330deg);
    }

    100%
    {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spinner-spin
{
    0%
    {
        transform: rotate(0deg);
    }

    8.33333333%
    {
        transform: rotate(30deg);
    }

    16.66666667%
    {
        transform: rotate(60deg);
    }

    25%
    {
        transform: rotate(90deg);
    }

    33.33333333%
    {
        transform: rotate(120deg);
    }

    41.66666667%
    {
        transform: rotate(150deg);
    }

    50%
    {
        transform: rotate(180deg);
    }

    58.33333333%
    {
        transform: rotate(210deg);
    }

    66.66666667%
    {
        transform: rotate(240deg);
    }

    75%
    {
        transform: rotate(270deg);
    }

    83.33333333%
    {
        transform: rotate(300deg);
    }

    91.66666667%
    {
        transform: rotate(330deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}
input[type='button'],
input[type='submit'],
input[type='reset'],
button,
.mui-btn
{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;

    position: relative;

    display: inline-block;

    margin-bottom: 0;
    padding: 6px 12px;

    cursor: pointer;
    -webkit-transition: all;
            transition: all;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;

    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff;
    background-clip: padding-box;
}
input[type='button']:enabled:active, input[type='button'].mui-active:enabled,
input[type='submit']:enabled:active,
input[type='submit'].mui-active:enabled,
input[type='reset']:enabled:active,
input[type='reset'].mui-active:enabled,
button:enabled:active,
button.mui-active:enabled,
.mui-btn:enabled:active,
.mui-btn.mui-active:enabled
{
    color: #fff;
    background-color: #929292;
}
input[type='button']:disabled, input[type='button'].mui-disabled,
input[type='submit']:disabled,
input[type='submit'].mui-disabled,
input[type='reset']:disabled,
input[type='reset'].mui-disabled,
button:disabled,
button.mui-disabled,
.mui-btn:disabled,
.mui-btn.mui-disabled
{
    opacity: .6;
}

input[type='submit'],
.mui-btn-primary,
.mui-btn-blue
{
    color: #fff;
    border: 1px solid #007aff;
    background-color: #007aff;
}
input[type='submit']:enabled:active, input[type='submit'].mui-active:enabled,
.mui-btn-primary:enabled:active,
.mui-btn-primary.mui-active:enabled,
.mui-btn-blue:enabled:active,
.mui-btn-blue.mui-active:enabled
{
    color: #fff;
    border: 1px solid #0062cc;
    background-color: #0062cc;
}

.mui-btn-positive,
.mui-btn-success,
.mui-btn-green
{
    color: #fff;
    border: 1px solid #4cd964;
    background-color: #4cd964;
}
.mui-btn-positive:enabled:active, .mui-btn-positive.mui-active:enabled,
.mui-btn-success:enabled:active,
.mui-btn-success.mui-active:enabled,
.mui-btn-green:enabled:active,
.mui-btn-green.mui-active:enabled
{
    color: #fff;
    border: 1px solid #2ac845;
    background-color: #2ac845;
}

.mui-btn-warning,
.mui-btn-yellow
{
    color: #fff;
    border: 1px solid #f0ad4e;
    background-color: #f0ad4e;
}
.mui-btn-warning:enabled:active, .mui-btn-warning.mui-active:enabled,
.mui-btn-yellow:enabled:active,
.mui-btn-yellow.mui-active:enabled
{
    color: #fff;
    border: 1px solid #ec971f;
    background-color: #ec971f;
}

.mui-btn-negative,
.mui-btn-danger,
.mui-btn-red
{
    color: #fff;
    border: 1px solid #dd524d;
    background-color: #dd524d;
}
.mui-btn-negative:enabled:active, .mui-btn-negative.mui-active:enabled,
.mui-btn-danger:enabled:active,
.mui-btn-danger.mui-active:enabled,
.mui-btn-red:enabled:active,
.mui-btn-red.mui-active:enabled
{
    color: #fff;
    border: 1px solid #cf2d28;
    background-color: #cf2d28;
}

.mui-btn-royal,
.mui-btn-purple
{
    color: #fff;
    border: 1px solid #8a6de9;
    background-color: #8a6de9;
}
.mui-btn-royal:enabled:active, .mui-btn-royal.mui-active:enabled,
.mui-btn-purple:enabled:active,
.mui-btn-purple.mui-active:enabled
{
    color: #fff;
    border: 1px solid #6641e2;
    background-color: #6641e2;
}

.mui-btn-grey
{
    color: #fff;
    border: 1px solid #c7c7cc;
    background-color: #c7c7cc;
}
.mui-btn-grey:enabled:active, .mui-btn-grey.mui-active:enabled
{
    color: #fff;
    border: 1px solid #acacb4;
    background-color: #acacb4;
}

.mui-btn-outlined
{
    background-color: transparent;
}
.mui-btn-outlined.mui-btn-primary, .mui-btn-outlined.mui-btn-blue
{
    color: #007aff;
}
.mui-btn-outlined.mui-btn-positive, .mui-btn-outlined.mui-btn-success, .mui-btn-outlined.mui-btn-green
{
    color: #4cd964;
}
.mui-btn-outlined.mui-btn-warning, .mui-btn-outlined.mui-btn-yellow
{
    color: #f0ad4e;
}
.mui-btn-outlined.mui-btn-negative, .mui-btn-outlined.mui-btn-danger, .mui-btn-outlined.mui-btn-red
{
    color: #dd524d;
}
.mui-btn-outlined.mui-btn-royal, .mui-btn-outlined.mui-btn-purple
{
    color: #8a6de9;
}
.mui-btn-outlined.mui-btn-primary:enabled:active, .mui-btn-outlined.mui-btn-blue:enabled:active, .mui-btn-outlined.mui-btn-positive:enabled:active, .mui-btn-outlined.mui-btn-success:enabled:active, .mui-btn-outlined.mui-btn-green:enabled:active, .mui-btn-outlined.mui-btn-warning:enabled:active, .mui-btn-outlined.mui-btn-yellow:enabled:active, .mui-btn-outlined.mui-btn-negative:enabled:active, .mui-btn-outlined.mui-btn-danger:enabled:active, .mui-btn-outlined.mui-btn-red:enabled:active, .mui-btn-outlined.mui-btn-royal:enabled:active, .mui-btn-outlined.mui-btn-purple:enabled:active
{
    color: #fff;
}

.mui-btn-link
{
    padding-top: 6px;
    padding-bottom: 6px;

    color: #007aff;
    border: 0;
    background-color: transparent;
}
.mui-btn-link:enabled:active, .mui-btn-link.mui-active:enabled
{
    color: #0062cc;
    background-color: transparent;
}

.mui-btn-block
{
    font-size: 18px;

    display: block;

    width: 100%;
    margin-bottom: 10px;
    padding: 15px 0;
}

.mui-btn .mui-badge
{
    font-size: 14px;

    margin: -2px -4px -2px 4px;

    background-color: rgba(0, 0, 0, .15);
}

.mui-btn .mui-badge-inverted,
.mui-btn:enabled:active .mui-badge-inverted
{
    background-color: transparent;
}

.mui-btn-primary:enabled:active .mui-badge-inverted,
.mui-btn-positive:enabled:active .mui-badge-inverted,
.mui-btn-negative:enabled:active .mui-badge-inverted
{
    color: #fff;
}

.mui-btn-block .mui-badge
{
    position: absolute;
    right: 0;

    margin-right: 10px;
}

.mui-btn .mui-icon
{
    font-size: inherit;
}

.mui-btn.mui-icon
{
    font-size: 14px;
    line-height: 1.42;
}

.mui-btn.mui-fab
{
    width: 56px;
    height: 56px;
    padding: 16px;

    border-radius: 50%;
    outline: none;
}
.mui-btn.mui-fab.mui-btn-mini
{
    width: 40px;
    height: 40px;
    padding: 8px;
}
.mui-btn.mui-fab .mui-icon
{
    font-size: 24px;
    line-height: 24px;

    width: 24px;
    height: 24px;
}

.mui-btn .mui-spinner
{
    width: 14px;
    height: 14px;

    vertical-align: text-bottom;
}

.mui-btn-block .mui-spinner
{
    width: 22px;
    height: 22px;
}

.mui-bar
{
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;

    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 0;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.mui-bar .mui-title
{
    right: 40px;
    left: 40px;

    display: inline-block;
    overflow: hidden;

    width: auto;
    margin: 0;

    text-overflow: ellipsis;
}
.mui-bar .mui-backdrop
{
    background: none;
}

.mui-bar-header-secondary
{
    top: 44px;
}

.mui-bar-footer
{
    bottom: 0;
}

.mui-bar-footer-secondary
{
    bottom: 44px;
}

.mui-bar-footer-secondary-tab
{
    bottom: 50px;
}

.mui-bar-footer,
.mui-bar-footer-secondary,
.mui-bar-footer-secondary-tab
{
    border-top: 0;
}

.mui-bar-transparent
{
    top: 0;

    background-color: rgba(247, 247, 247, 0);
    -webkit-box-shadow: none;
            box-shadow: none;
}

.mui-bar-nav
{
    top: 0;

    -webkit-box-shadow: 0 1px 6px #ccc;
            box-shadow: 0 1px 6px #ccc;
}
.mui-bar-nav ~ .mui-content .mui-anchor
{
    display: block;
    visibility: hidden;

    height: 45px;
    margin-top: -45px;
}
.mui-bar-nav.mui-bar .mui-icon
{
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
}

.mui-title
{
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;

    position: absolute;

    display: block;

    width: 100%;
    margin: 0 -10px;
    padding: 0;

    text-align: center;
    white-space: nowrap;

    color: #000;
}

.mui-title a
{
    color: inherit;
}

.mui-bar-tab
{
    bottom: 0;

    display: table;

    width: 100%;
    height: 0.83rem;
    padding: 0;

    table-layout: fixed;

    border-top: 0;
    border-bottom: 0;

    -webkit-touch-callout: none;
}
.mui-bar-tab .mui-tab-item
{
    display: table-cell;
    overflow: hidden;
    width: 1%;
    height: 0.96rem;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #929292;
}
.mui-bar-tab .mui-tab-item.mui-active
{
    color: #007aff;
}
.mui-bar-tab .mui-tab-item .mui-icon
{
    top: 3px;

    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}
.mui-bar-tab .mui-tab-item .mui-icon ~ .mui-tab-label
{
    font-size: 11px;

    display: block;
    overflow: hidden;

    text-overflow: ellipsis;
}
.mui-bar-tab .mui-tab-item .mui-icon:active
{
    background: none;
}

.mui-focusin > .mui-bar-nav,
.mui-focusin > .mui-bar-header-secondary
{
    position: absolute;
}

.mui-focusin > .mui-bar ~ .mui-content
{
    padding-bottom: 0;
}

.mui-bar .mui-btn
{
    font-weight: 400;

    position: relative;
    z-index: 20;
    top: 7px;

    margin-top: 0;
    padding: 6px 12px 7px;
}
.mui-bar .mui-btn.mui-pull-right
{
    margin-left: 10px;
}
.mui-bar .mui-btn.mui-pull-left
{
    margin-right: 10px;
}

.mui-bar .mui-btn-link
{
    font-size: 16px;
    line-height: 44px;

    top: 0;

    padding: 0;

    color: #007aff;
    border: 0;
}
.mui-bar .mui-btn-link:active, .mui-bar .mui-btn-link.mui-active
{
    color: #0062cc;
}

.mui-bar .mui-btn-block
{
    font-size: 16px;

    top: 6px;

    margin-bottom: 0;
    padding: 5px 0;
}

.mui-bar .mui-btn-nav.mui-pull-left
{
    margin-left: -5px;
}
.mui-bar .mui-btn-nav.mui-pull-left .mui-icon-left-nav
{
    margin-right: -3px;
}
.mui-bar .mui-btn-nav.mui-pull-right
{
    margin-right: -5px;
}
.mui-bar .mui-btn-nav.mui-pull-right .mui-icon-right-nav
{
    margin-left: -3px;
}
.mui-bar .mui-btn-nav:active
{
    opacity: .3;
}

.mui-bar .mui-icon
{
    font-size: 24px;

    position: relative;
    z-index: 20;

    padding-top: 10px;
    padding-bottom: 10px;
}
.mui-bar .mui-icon:active
{
    opacity: .3;
}
.mui-bar .mui-btn .mui-icon
{
    top: 1px;

    margin: 0;
    padding: 0;
}
.mui-bar .mui-title .mui-icon
{
    margin: 0;
    padding: 0;
}
.mui-bar .mui-title .mui-icon.mui-icon-caret
{
    top: 4px;

    margin-left: -5px;
}

.mui-bar input[type='search']
{
    height: 29px;
    margin: 6px 0;
}

.mui-bar .mui-input-row .mui-btn
{
    padding: 12px 10px;
}

.mui-bar .mui-search:before
{
    margin-top: -10px;
}

.mui-bar .mui-input-row .mui-input-clear ~ .mui-icon-clear,
.mui-bar .mui-input-row .mui-input-speech ~ .mui-icon-speech
{
    top: 0;
    right: 12px;
}

.mui-bar.mui-bar-header-secondary .mui-input-row .mui-input-clear ~ .mui-icon-clear,
.mui-bar.mui-bar-header-secondary .mui-input-row .mui-input-speech ~ .mui-icon-speech
{
    top: 0;
    right: 0;
}

.mui-bar .mui-segmented-control
{
    top: 7px;

    width: auto;
    margin: 0 auto;
}

.mui-bar.mui-bar-header-secondary .mui-segmented-control
{
    top: 0;
}

.mui-badge
{
    font-size: 12px;
    line-height: 1;

    display: inline-block;

    padding: 3px 6px;

    color: #333;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, .15);
}
.mui-badge.mui-badge-inverted
{
    padding: 0 5px 0 0;

    color: #929292;
    background-color: transparent;
}

.mui-badge-primary, .mui-badge-blue
{
    color: #fff;
    background-color: #007aff;
}
.mui-badge-primary.mui-badge-inverted, .mui-badge-blue.mui-badge-inverted
{
    color: #007aff;
    background-color: transparent;
}

.mui-badge-success, .mui-badge-green
{
    color: #fff;
    background-color: #4cd964;
}
.mui-badge-success.mui-badge-inverted, .mui-badge-green.mui-badge-inverted
{
    color: #4cd964;
    background-color: transparent;
}

.mui-badge-warning, .mui-badge-yellow
{
    color: #fff;
    background-color: #f0ad4e;
}
.mui-badge-warning.mui-badge-inverted, .mui-badge-yellow.mui-badge-inverted
{
    color: #f0ad4e;
    background-color: transparent;
}

.mui-badge-danger, .mui-badge-red
{
    color: #fff;
    background-color: #dd524d;
}
.mui-badge-danger.mui-badge-inverted, .mui-badge-red.mui-badge-inverted
{
    color: #dd524d;
    background-color: transparent;
}

.mui-badge-royal, .mui-badge-purple
{
    color: #fff;
    background-color: #8a6de9;
}
.mui-badge-royal.mui-badge-inverted, .mui-badge-purple.mui-badge-inverted
{
    color: #8a6de9;
    background-color: transparent;
}

.mui-icon .mui-badge
{
    font-size: 10px;
    line-height: 1.4;

    position: absolute;
    top: -2px;
    left: 100%;

    margin-left: -10px;
    padding: 1px 5px;

    color: white;
    background: red;
}

.mui-card
{
    font-size: 14px;

    position: relative;

    overflow: hidden;

    margin: 10px;

    border-radius: 2px;
    background-color: white;
    background-clip: padding-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.mui-content > .mui-card:first-child
{
    margin-top: 15px;
}

.mui-card .mui-input-group:before, .mui-card .mui-input-group:after
{
    height: 0;
}
.mui-card .mui-input-group .mui-input-row:last-child:before, .mui-card .mui-input-group .mui-input-row:last-child:after
{
    height: 0;
}

.mui-card .mui-table-view
{
    margin-bottom: 0;

    border-top: 0;
    border-bottom: 0;
    border-radius: 6px;
}
.mui-card .mui-table-view .mui-table-view-divider:first-child, .mui-card .mui-table-view .mui-table-view-cell:first-child
{
    top: 0;

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.mui-card .mui-table-view .mui-table-view-divider:last-child, .mui-card .mui-table-view .mui-table-view-cell:last-child
{
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.mui-card .mui-table-view:before, .mui-card .mui-table-view:after
{
    height: 0;
}

.mui-card > .mui-table-view > .mui-table-view-cell:last-child:before, .mui-card > .mui-table-view > .mui-table-view-cell:last-child:after
{
    height: 0;
}

.mui-card-header,
.mui-card-footer
{
    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display:         flex;

    min-height: 44px;
    padding: 10px 15px;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
}
.mui-card-header .mui-card-link,
.mui-card-footer .mui-card-link
{
    line-height: 44px;

    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display:         flex;

    height: 44px;
    margin-top: -10px;
    margin-bottom: -10px;

    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    text-decoration: none;

    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
}

.mui-card-header:after,
.mui-card-footer:before
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #c8c7cc;
}

.mui-card-header
{
    font-size: 17px;

    border-radius: 2px 2px 0 0;
}
.mui-card-header:after
{
    top: auto;
    bottom: 0;
}
.mui-card-header > img:first-child
{
    font-size: 0;
    line-height: 0;

    float: left;

    width: 34px;
    height: 34px;
}

.mui-card-footer
{
    color: #6d6d72;
    border-radius: 0 0 2px 2px;
}

.mui-card-content
{
    font-size: 14px;

    position: relative;
}

.mui-card-content-inner
{
    position: relative;

    padding: 15px;
}

.mui-card-media
{
    vertical-align: bottom;

    color: #fff;
    background-position: center;
    background-size: cover;
}

.mui-card-header.mui-card-media
{
    display: block;

    padding: 10px;
}
.mui-card-header.mui-card-media .mui-media-body
{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    margin-bottom: 0;
    margin-left: 44px;

    color: #333;
}
.mui-card-header.mui-card-media .mui-media-body p
{
    font-size: 13px;

    margin-bottom: 0;
}

.mui-table-view
{
    position: relative;

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;

    background-color: #fff;
}
.mui-table-view:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #c8c7cc;
}
.mui-table-view:before
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #c8c7cc;
}
.mui-table-view:before
{
    top: -1px;
}

.mui-table-view-icon .mui-table-view-cell .mui-navigate-right .mui-icon
{
    font-size: 20px;

    margin-top: -1px;
    margin-right: 5px;
    margin-left: -5px;
}
.mui-table-view-icon .mui-table-view-cell:after
{
    left: 40px;
}

.mui-table-view-chevron .mui-table-view-cell
{
    padding-right: 65px;
}
.mui-table-view-chevron .mui-table-view-cell > a:not(.mui-btn)
{
    margin-right: -65px;
}

.mui-table-view-radio .mui-table-view-cell
{
    padding-right: 65px;
}
.mui-table-view-radio .mui-table-view-cell > a:not(.mui-btn)
{
    margin-right: -65px;
}
.mui-table-view-radio .mui-table-view-cell .mui-navigate-right:after
{
    font-size: 30px;
    font-weight: 600;

    right: 9px;

    content: '';

    color: #007aff;
}
.mui-table-view-radio .mui-table-view-cell.mui-selected .mui-navigate-right:after
{
    content: '\e472';
}

.mui-table-view-inverted
{
    color: #fff;
    background: #333;
}
.mui-table-view-inverted:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #222;
}
.mui-table-view-inverted:before
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #222;
}
.mui-table-view-inverted .mui-table-view-cell:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #222;
}
.mui-table-view-inverted .mui-table-view-cell.mui-active
{
    background-color: #242424;
}
.mui-table-view-inverted .mui-table-view-cell > a:not(.mui-btn).mui-active
{
    background-color: #242424;
}

.mui-table-view-cell
{
    position: relative;

    overflow: hidden;

    padding: 11px 15px;

    -webkit-touch-callout: none;
}
.mui-table-view-cell:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #c8c7cc;
}
.mui-table-view-cell.mui-radio input[type=radio], .mui-table-view-cell.mui-checkbox input[type=checkbox]
{
    top: 8px;
}
.mui-table-view-cell.mui-radio.mui-left, .mui-table-view-cell.mui-checkbox.mui-left
{
    padding-left: 58px;
}
.mui-table-view-cell.mui-active
{
    background-color: #eee;
}
.mui-table-view-cell:last-child:before, .mui-table-view-cell:last-child:after
{
    height: 0;
}
.mui-table-view-cell > a:not(.mui-btn)
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: -11px -15px;
    padding: inherit;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: inherit;
  /*&:active {
      background-color: #eee;
  }*/
}
.mui-table-view-cell > a:not(.mui-btn).mui-active
{
    background-color: #eee;
}
.mui-table-view-cell p
{
    margin-bottom: 0;
}

.mui-table-view-cell.mui-transitioning > .mui-slider-handle, .mui-table-view-cell.mui-transitioning > .mui-slider-left .mui-btn, .mui-table-view-cell.mui-transitioning > .mui-slider-right .mui-btn
{
    -webkit-transition: -webkit-transform 300ms ease;
            transition:         transform 300ms ease;
}
.mui-table-view-cell.mui-active > .mui-slider-handle
{
    background-color: #eee;
}
.mui-table-view-cell > .mui-slider-handle
{
    position: relative;

    background-color: #fff;
}
.mui-table-view-cell > .mui-slider-handle.mui-navigate-right:after, .mui-table-view-cell > .mui-slider-handle .mui-navigate-right:after
{
    right: 0;
}
.mui-table-view-cell > .mui-slider-handle, .mui-table-view-cell > .mui-slider-left .mui-btn, .mui-table-view-cell > .mui-slider-right .mui-btn
{
    -webkit-transition: -webkit-transform 0ms ease;
            transition:         transform 0ms ease;
}
.mui-table-view-cell > .mui-slider-left, .mui-table-view-cell > .mui-slider-right
{
    position: absolute;
    top: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display:         flex;

    height: 100%;
}
.mui-table-view-cell > .mui-slider-left > .mui-btn, .mui-table-view-cell > .mui-slider-right > .mui-btn
{
    position: relative;
    left: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display:         flex;

    padding: 0 30px;

    color: #fff;
    border: 0;
    border-radius: 0;

    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
}
.mui-table-view-cell > .mui-slider-left > .mui-btn:after, .mui-table-view-cell > .mui-slider-right > .mui-btn:after
{
    position: absolute;
    z-index: -1;
    top: 0;

    width: 600%;
    height: 100%;

    content: '';

    background: inherit;
}
.mui-table-view-cell > .mui-slider-left > .mui-btn.mui-icon, .mui-table-view-cell > .mui-slider-right > .mui-btn.mui-icon
{
    font-size: 30px;
}
.mui-table-view-cell > .mui-slider-right
{
    right: 0;

    -webkit-transition: -webkit-transform 0ms ease;
            transition:         transform 0ms ease;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}
.mui-table-view-cell > .mui-slider-left
{
    left: 0;

    -webkit-transition: -webkit-transform 0ms ease;
            transition:         transform 0ms ease;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}
.mui-table-view-cell > .mui-slider-left > .mui-btn:after
{
    right: 100%;

    margin-right: -1px;
}

.mui-table-view-divider
{
    font-weight: 500;

    position: relative;

    margin-top: -1px;
    margin-left: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;

    color: #999;
    background-color: #fafafa;
}
.mui-table-view-divider:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #c8c7cc;
}
.mui-table-view-divider:before
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #c8c7cc;
}

.mui-table-view .mui-media,
.mui-table-view .mui-media-body
{
    overflow: hidden;
}

.mui-table-view .mui-media-large .mui-media-object
{
    line-height: 80px;

    max-width: 80px;
    height: 80px;
}
.mui-table-view .mui-media .mui-subtitle
{
    color: #000;
}
.mui-table-view .mui-media-object
{
    line-height: 42px;

    max-width: 42px;
    height: 42px;
}
.mui-table-view .mui-media-object.mui-pull-left
{
    margin-right: 10px;
}
.mui-table-view .mui-media-object.mui-pull-right
{
    margin-left: 10px;
}
.mui-table-view .mui-table-view-cell.mui-media-icon .mui-media-object
{
    line-height: 29px;

    max-width: 29px;
    height: 29px;
    margin: -4px 0;
}
.mui-table-view .mui-table-view-cell.mui-media-icon .mui-media-object img
{
    line-height: 29px;

    max-width: 29px;
    height: 29px;
}
.mui-table-view .mui-table-view-cell.mui-media-icon .mui-media-object.mui-pull-left
{
    margin-right: 10px;
}
.mui-table-view .mui-table-view-cell.mui-media-icon .mui-media-object .mui-icon
{
    font-size: 29px;
}
.mui-table-view .mui-table-view-cell.mui-media-icon .mui-media-body:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 55px;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #c8c7cc;
}
.mui-table-view .mui-table-view-cell.mui-media-icon:after
{
    height: 0 !important;
}

.mui-table-view.mui-unfold .mui-table-view-cell.mui-collapse .mui-table-view
{
    display: block;
}
.mui-table-view.mui-unfold .mui-table-view-cell.mui-collapse .mui-table-view:before, .mui-table-view.mui-unfold .mui-table-view-cell.mui-collapse .mui-table-view:after
{
    height: 0 !important;
}
.mui-table-view.mui-unfold .mui-table-view-cell.mui-media-icon.mui-collapse .mui-media-body:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 70px;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #c8c7cc;
}

.mui-table-view-cell > .mui-btn,
.mui-table-view-cell > .mui-badge,
.mui-table-view-cell > .mui-switch,
.mui-table-view-cell > a > .mui-btn,
.mui-table-view-cell > a > .mui-badge,
.mui-table-view-cell > a > .mui-switch
{
    position: absolute;
    top: 50%;
    right: 15px;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.mui-table-view-cell .mui-navigate-right > .mui-btn,
.mui-table-view-cell .mui-navigate-right > .mui-badge,
.mui-table-view-cell .mui-navigate-right > .mui-switch,
.mui-table-view-cell .mui-push-left > .mui-btn,
.mui-table-view-cell .mui-push-left > .mui-badge,
.mui-table-view-cell .mui-push-left > .mui-switch,
.mui-table-view-cell .mui-push-right > .mui-btn,
.mui-table-view-cell .mui-push-right > .mui-badge,
.mui-table-view-cell .mui-push-right > .mui-switch,
.mui-table-view-cell > a .mui-navigate-right > .mui-btn,
.mui-table-view-cell > a .mui-navigate-right > .mui-badge,
.mui-table-view-cell > a .mui-navigate-right > .mui-switch,
.mui-table-view-cell > a .mui-push-left > .mui-btn,
.mui-table-view-cell > a .mui-push-left > .mui-badge,
.mui-table-view-cell > a .mui-push-left > .mui-switch,
.mui-table-view-cell > a .mui-push-right > .mui-btn,
.mui-table-view-cell > a .mui-push-right > .mui-badge,
.mui-table-view-cell > a .mui-push-right > .mui-switch
{
    right: 35px;
}

.mui-content > .mui-table-view:first-child
{
    margin-top: 15px;
}

.mui-table-view-cell.mui-collapse .mui-table-view:before, .mui-table-view-cell.mui-collapse .mui-table-view:after
{
    height: 0;
}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:last-child:after
{
    height: 0;
}
.mui-table-view-cell.mui-collapse > .mui-navigate-right:after, .mui-table-view-cell.mui-collapse > .mui-push-right:after
{
    content: '\e581';
}
.mui-table-view-cell.mui-collapse.mui-active
{
    margin-top: -1px;
}
.mui-table-view-cell.mui-collapse.mui-active .mui-table-view, .mui-table-view-cell.mui-collapse.mui-active .mui-collapse-content
{
    display: block;
}
.mui-table-view-cell.mui-collapse.mui-active > .mui-navigate-right:after, .mui-table-view-cell.mui-collapse.mui-active > .mui-push-right:after
{
    content: '\e580';
}
.mui-table-view-cell.mui-collapse.mui-active .mui-table-view-cell > a:not(.mui-btn).mui-active
{
    margin-left: -31px;
    padding-left: 47px;
}
.mui-table-view-cell.mui-collapse .mui-collapse-content
{
    position: relative;

    display: none;
    overflow: hidden;

    margin: 11px -15px -11px;
    padding: 8px 15px;

    -webkit-transition: height .35s ease;
         -o-transition: height .35s ease;
            transition: height .35s ease;

    background: white;
}
.mui-table-view-cell.mui-collapse .mui-collapse-content > .mui-input-group, .mui-table-view-cell.mui-collapse .mui-collapse-content > .mui-slider
{
    width: auto;
    height: auto;
    margin: -8px -15px;
}
.mui-table-view-cell.mui-collapse .mui-collapse-content > .mui-slider
{
    margin: -8px -16px;
}
.mui-table-view-cell.mui-collapse .mui-table-view
{
    display: none;

    margin-top: 11px;
    margin-right: -15px;
    margin-bottom: -11px;
    margin-left: -15px;

    border: 0;
}
.mui-table-view-cell.mui-collapse .mui-table-view.mui-table-view-chevron
{
    margin-right: -65px;
}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell
{
    padding-left: 31px;

    background-position: 31px 100%;
}
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 30px;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #c8c7cc;
}

.mui-table-view.mui-grid-view
{
    font-size: 0;

    display: block;

    width: 100%;
    padding: 0 10px 10px 0;

    white-space: normal;
}
.mui-table-view.mui-grid-view .mui-table-view-cell
{
    font-size: 17px;

    display: inline-block;

    margin-right: -4px;
    padding: 10px 0 0 14px;

    text-align: center;
    vertical-align: middle;

    background: none;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-object
{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.mui-table-view.mui-grid-view .mui-table-view-cell > a:not(.mui-btn)
{
    margin: -10px 0 0 -14px;
}
.mui-table-view.mui-grid-view .mui-table-view-cell > a:not(.mui-btn):active, .mui-table-view.mui-grid-view .mui-table-view-cell > a:not(.mui-btn).mui-active
{
    background: none;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body
{
    font-size: 15px;
    line-height: 15px;

    display: block;

    width: 100%;
    height: 15px;
    margin-top: 8px;

    text-overflow: ellipsis;

    color: #333;
}
.mui-table-view.mui-grid-view .mui-table-view-cell:before, .mui-table-view.mui-grid-view .mui-table-view-cell:after
{
    height: 0;
}

.mui-grid-view.mui-grid-9
{
    margin: 0;
    padding: 0;

    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    background-color: #f2f2f2;
}
.mui-grid-view.mui-grid-9:before, .mui-grid-view.mui-grid-9:after
{
    display: table;

    content: ' ';
}
.mui-grid-view.mui-grid-9:after
{
    clear: both;
}
.mui-grid-view.mui-grid-9:after
{
    position: static;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell
{
    margin: 0;
    padding: 11px 15px;

    vertical-align: top;

    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell.mui-active
{
    background-color: #eee;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell > a:not(.mui-btn)
{
    margin: 0;
    padding: 10px 0;
}
.mui-grid-view.mui-grid-9:before
{
    height: 0;
}
.mui-grid-view.mui-grid-9 .mui-media
{
    color: #797979;
}
.mui-grid-view.mui-grid-9 .mui-media .mui-icon
{
    font-size: 2.4em;

    position: relative;
}

.mui-slider-cell
{
    position: relative;
}
.mui-slider-cell > .mui-slider-handle
{
    z-index: 1;
}
.mui-slider-cell > .mui-slider-left, .mui-slider-cell > .mui-slider-right
{
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
}
.mui-slider-cell > .mui-slider-left
{
    left: 0;
}
.mui-slider-cell > .mui-slider-right
{
    right: 0;
}

input,
textarea,
select
{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 17px;

    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
input:focus,
textarea:focus,
select:focus
{
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-modify: read-write-plaintext-only;
}

select,
textarea,
input[type='text'],
input[type='search'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='color']
{
    line-height: 21px;

    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 10px 15px;

    -webkit-user-select: text;

    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    outline: none;
    background-color: #fff;

    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type='search']
{
    font-size: 16px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 34px;

    text-align: center;

    border: 0;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .1);
}

input[type='search']:focus
{
    text-align: left;
}

textarea
{
    height: auto;

    resize: none;
}

select
{
    font-size: 14px;

    height: auto;
    margin-top: 1px;

    border: 0 !important;
    background-color: #fff;
}
select:focus
{
    -webkit-user-modify: read-only;
}

.mui-input-group
{
    position: relative;

    padding: 0;

    border: 0;
    background-color: #fff;
}
.mui-input-group:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #c8c7cc;
}
.mui-input-group:before
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #c8c7cc;
}

.mui-input-group input,
.mui-input-group textarea
{
    margin-bottom: 0;

    border: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.mui-input-group input[type='search']
{
    background: none;
}

.mui-input-group input:last-child
{
    background-image: none;
}

.mui-input-row
{
    clear: left;
    overflow: hidden;
}
.mui-input-row select
{
    font-size: 17px;

    height: 37px;
    padding: 0;
}

.mui-input-row:last-child,
.mui-input-row label + input, .mui-input-row .mui-btn + input
{
    background: none;
}

.mui-input-group .mui-input-row
{
    height: 40px;
}
.mui-input-group .mui-input-row:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #c8c7cc;
}

.mui-input-row label
{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.1;

    float: left;

    width: 35%;
    padding: 11px 15px;
}

.mui-input-row label ~ input, .mui-input-row label ~ select, .mui-input-row label ~ textarea
{
    float: right;

    width: 65%;
    margin-bottom: 0;
    padding-left: 0;

    border: 0;
}

.mui-input-row .mui-btn
{
    line-height: 1.1;

    float: right;

    width: 15%;
    padding: 10px 15px;
}

.mui-input-row .mui-btn ~ input, .mui-input-row .mui-btn ~ select, .mui-input-row .mui-btn ~ textarea
{
    float: left;

    width: 85%;
    margin-bottom: 0;
    padding-left: 0;

    border: 0;
}

.mui-button-row
{
    position: relative;

    padding-top: 5px;

    text-align: center;
}

.mui-input-group .mui-button-row
{
    height: 45px;
}

.mui-input-row
{
    position: relative;
}
.mui-input-row.mui-input-range
{
    overflow: visible;

    padding-right: 20px;
}
.mui-input-row .mui-inline
{
    padding: 8px 0;
}
.mui-input-row .mui-input-clear ~ .mui-icon-clear, .mui-input-row .mui-input-speech ~ .mui-icon-speech, .mui-input-row .mui-input-password ~ .mui-icon-eye
{
    font-size: 20px;

    position: absolute;
    z-index: 1;
    top: 10px;
    right: 0;

    width: 38px;
    height: 38px;

    text-align: center;

    color: #999;
}
.mui-input-row .mui-input-clear ~ .mui-icon-clear.mui-active, .mui-input-row .mui-input-speech ~ .mui-icon-speech.mui-active, .mui-input-row .mui-input-password ~ .mui-icon-eye.mui-active
{
    color: #007aff;
}
.mui-input-row .mui-input-speech ~ .mui-icon-speech
{
    font-size: 24px;

    top: 8px;
}
.mui-input-row .mui-input-clear ~ .mui-icon-clear ~ .mui-icon-speech
{
    display: none;
}
.mui-input-row .mui-input-clear ~ .mui-icon-clear.mui-hidden ~ .mui-icon-speech
{
    display: inline-block;
}
.mui-input-row .mui-icon-speech ~ .mui-placeholder
{
    right: 38px;
}
.mui-input-row.mui-search .mui-icon-clear
{
    top: 7px;
}
.mui-input-row.mui-search .mui-icon-speech
{
    top: 5px;
}

.mui-radio, .mui-checkbox
{
    position: relative;
}
.mui-radio label, .mui-checkbox label
{
    display: inline-block;
    float: none;

    width: 100%;
    padding-right: 58px;
}

.mui-radio.mui-left input[type='radio'], .mui-checkbox.mui-left input[type='checkbox']
{
    left: 20px;
}

.mui-radio.mui-left label, .mui-checkbox.mui-left label
{
    padding-right: 15px;
    padding-left: 58px;
}

.mui-radio input[type='radio'], .mui-checkbox input[type='checkbox']
{
    position: absolute;
    top: 4px;
    right: 20px;

    display: inline-block;

    width: 28px;
    height: 26px;

    border: 0;
    outline: 0 !important;
    background-color: transparent;

    -webkit-appearance: none;
}
.mui-radio input[type='radio'][disabled]:before, .mui-checkbox input[type='checkbox'][disabled]:before
{
    opacity: .3;
}
.mui-radio input[type='radio']:before, .mui-checkbox input[type='checkbox']:before
{
    font-family: Muiicons;
    font-size: 28px;
    font-weight: normal;
    line-height: 1;

    text-decoration: none;

    color: #aaa;
    border-radius: 0;
    background: none;

    -webkit-font-smoothing: antialiased;
}
.mui-radio input[type='radio']:checked:before, .mui-checkbox input[type='checkbox']:checked:before
{
    color: #007aff;
}

.mui-radio.mui-disabled label, .mui-radio label.mui-disabled, .mui-checkbox.mui-disabled label, .mui-checkbox label.mui-disabled
{
    opacity: .4;
}

.mui-radio input[type='radio']:before
{
    content: '\e411';
}

.mui-radio input[type='radio']:checked:before
{
    content: '\e441';
}

.mui-checkbox input[type='checkbox']:before
{
    content: '\e411';
}

.mui-checkbox input[type='checkbox']:checked:before
{
    content: '\e442';
}

.mui-select
{
    position: relative;
}

.mui-select:before
{
    font-family: Muiicons;

    position: absolute;
    top: 8px;
    right: 21px;

    content: '\e581';

    color: rgba(170, 170, 170, .6);
}

.mui-input-row .mui-switch
{
    float: right;

    margin-top: 5px;
    margin-right: 20px;
}

.mui-input-range
{
  /*input[type="range"] {
      -webkit-appearance: none;
      background: #999;
      height: 36px;
      border-radius: 1px;
      overflow: hidden;
      margin-top: 2px;
      margin-bottom: 2px;
      outline:none;
      position:relative;
      width:100%;
  }*/
  /*input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none!important;
      opacity: 0.5;
      height:28px;
      width:28px;
      border-radius: 50%;
      background:#00b7fb;
      position: relative;
      pointer-events: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      &:before{
          position: absolute;
          top: 13px;
          left: -2000px;
          width: 2000px;
          height: 2px;
          background: #00b7fb;
          content:' ';
      }
  }*/
}
.mui-input-range input[type='range']
{
    position: relative;

    width: 100%;
    height: 2px;
    margin: 17px 0;
    padding: 0;

    cursor: pointer;

    border: 0;
    border-radius: 3px;
    outline: none;
    background-color: #999;

    -webkit-appearance: none !important;
}
.mui-input-range input[type='range']::-webkit-slider-thumb
{
    width: 28px;
    height: 28px;

    border-color: #0062cc;
    border-radius: 50%;
    background-color: #007aff;
    background-clip: padding-box;

    -webkit-appearance: none !important;
}
.mui-input-range label ~ input[type='range']
{
    width: 65%;
}
.mui-input-range .mui-tooltip
{
    font-size: 36px;
    line-height: 64px;

    position: absolute;
    z-index: 1;
    top: -70px;

    width: 64px;
    height: 64px;

    text-align: center;

    opacity: .8;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    text-shadow: 0 1px 0 #f3f3f3;
}

.mui-search
{
    position: relative;
}
.mui-search input[type='search']
{
    padding-left: 30px;
}
.mui-search .mui-placeholder
{
    font-size: 16px;
    line-height: 34px;

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: inline-block;

    height: 34px;

    text-align: center;

    color: #999;
    border: 0;
    border-radius: 6px;
    background: none;
}
.mui-search .mui-placeholder .mui-icon
{
    font-size: 20px;

    color: #333;
}
.mui-search:before
{
    font-family: Muiicons;
    font-size: 20px;
    font-weight: normal;

    position: absolute;
    top: 50%;
    right: 50%;

    display: none;

    margin-top: -18px;
    margin-right: 31px;

    content: '\e466';
}
.mui-search.mui-active:before
{
    font-size: 20px;

    right: auto;
    left: 5px;

    display: block;

    margin-right: 0;
}
.mui-search.mui-active input[type='search']
{
    text-align: left;
}
.mui-search.mui-active .mui-placeholder
{
    display: none;
}

.mui-segmented-control
{
    font-size: 15px;
    font-weight: 400;

    position: relative;

    display: table;
    overflow: hidden;

    width: 100%;

    table-layout: fixed;

    border: 1px solid #007aff;
    border-radius: 3px;
    background-color: transparent;

    -webkit-touch-callout: none;
}
.mui-segmented-control.mui-segmented-control-vertical
{
    border-collapse: collapse;

    border-width: 0;
    border-radius: 0;
}
.mui-segmented-control.mui-segmented-control-vertical .mui-control-item
{
    display: block;

    border-bottom: 1px solid #c8c7cc;
    border-left-width: 0;
}
.mui-segmented-control.mui-scroll-wrapper
{
    height: 38px;
}
.mui-segmented-control.mui-scroll-wrapper .mui-scroll
{
    width: auto;
    height: 40px;

    white-space: nowrap;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item
{
    display: inline-block;

    width: auto;
    padding: 0 20px;

    border: 0;
}
.mui-segmented-control .mui-control-item
{
    line-height: 38px;

    display: table-cell;
    overflow: hidden;

    width: 1%;

    -webkit-transition: background-color .1s linear;
            transition: background-color .1s linear;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #007aff;
    border-color: #007aff;
    border-left: 1px solid #007aff;
}
.mui-segmented-control .mui-control-item:first-child
{
    border-left-width: 0;
}
.mui-segmented-control .mui-control-item.mui-active
{
    color: #fff;
    background-color: #007aff;
}
.mui-segmented-control.mui-segmented-control-inverted
{
    width: 100%;

    border: 0;
    border-radius: 0;
}
.mui-segmented-control.mui-segmented-control-inverted.mui-segmented-control-vertical .mui-control-item
{
    border-bottom: 1px solid #c8c7cc;
}
.mui-segmented-control.mui-segmented-control-inverted.mui-segmented-control-vertical .mui-control-item.mui-active
{
    border-bottom: 1px solid #c8c7cc;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item
{
    color: inherit;
    border: 0;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active
{
    color: #007aff;
    border-bottom: 2px solid #007aff;
    background: none;
}
.mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-progress-bar
{
    background-color: #007aff;
}

.mui-segmented-control-positive
{
    border: 1px solid #4cd964;
}
.mui-segmented-control-positive .mui-control-item
{
    color: #4cd964;
    border-color: inherit;
}
.mui-segmented-control-positive .mui-control-item.mui-active
{
    color: #fff;
    background-color: #4cd964;
}
.mui-segmented-control-positive.mui-segmented-control-inverted .mui-control-item.mui-active
{
    color: #4cd964;
    border-bottom: 2px solid #4cd964;
    background: none;
}
.mui-segmented-control-positive.mui-segmented-control-inverted ~ .mui-slider-progress-bar
{
    background-color: #4cd964;
}

.mui-segmented-control-negative
{
    border: 1px solid #dd524d;
}
.mui-segmented-control-negative .mui-control-item
{
    color: #dd524d;
    border-color: inherit;
}
.mui-segmented-control-negative .mui-control-item.mui-active
{
    color: #fff;
    background-color: #dd524d;
}
.mui-segmented-control-negative.mui-segmented-control-inverted .mui-control-item.mui-active
{
    color: #dd524d;
    border-bottom: 2px solid #dd524d;
    background: none;
}
.mui-segmented-control-negative.mui-segmented-control-inverted ~ .mui-slider-progress-bar
{
    background-color: #dd524d;
}

.mui-control-content
{
    position: relative;

    display: none;
}
.mui-control-content.mui-active
{
    display: block;
}

.mui-popover
{
    position: absolute;
    z-index: 999;

    display: none;

    width: 280px;

    -webkit-transition: opacity .3s;
            transition: opacity .3s;
    -webkit-transition-property: opacity;
            transition-property: opacity;
    -webkit-transform: none;
            transform: none;

    opacity: 0;
    border-radius: 7px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .1);
            box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}
.mui-popover .mui-popover-arrow
{
    position: absolute;
    z-index: 1000;
    top: -25px;
    left: 0;

    overflow: hidden;

    width: 26px;
    height: 26px;
}
.mui-popover .mui-popover-arrow:after
{
    position: absolute;
    top: 19px;
    left: 0;

    width: 26px;
    height: 26px;

    content: ' ';
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);

    border-radius: 3px;
    background: #f7f7f7;
}
.mui-popover .mui-popover-arrow.mui-bottom
{
    top: 100%;
    left: -26px;

    margin-top: -1px;
}
.mui-popover .mui-popover-arrow.mui-bottom:after
{
    top: -19px;
    left: 0;
}
.mui-popover.mui-popover-action
{
    bottom: 0;

    width: 100%;

    -webkit-transition: -webkit-transform .3s, opacity .3s;
            transition:         transform .3s, opacity .3s;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);

    border-radius: 0;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.mui-popover.mui-popover-action .mui-popover-arrow
{
    display: none;
}
.mui-popover.mui-popover-action.mui-popover-bottom
{
    position: fixed;
}
.mui-popover.mui-popover-action.mui-active
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.mui-popover.mui-popover-action .mui-table-view
{
    margin: 8px;

    text-align: center;

    color: #007aff;
    border-radius: 4px;
}
.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);

    background-color: #c8c7cc;
}
.mui-popover.mui-popover-action .mui-table-view small
{
    font-weight: 400;
    line-height: 1.3;

    display: block;
}
.mui-popover.mui-active
{
    display: block;

    opacity: 1;
}
.mui-popover .mui-bar ~ .mui-table-view
{
    padding-top: 44px;
}

.mui-backdrop
{
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, .3);
}

.mui-bar-backdrop.mui-backdrop
{
    bottom: 50px;

    background: none;
}

.mui-backdrop-action.mui-backdrop
{
    background-color: rgba(0, 0, 0, .3);
}

.mui-bar-backdrop.mui-backdrop, .mui-backdrop-action.mui-backdrop
{
    opacity: 0;
}
.mui-bar-backdrop.mui-backdrop.mui-active, .mui-backdrop-action.mui-backdrop.mui-active
{
    -webkit-transition: all .4s ease;
            transition: all .4s ease;

    opacity: 1;
}

.mui-popover .mui-btn-block
{
    margin-bottom: 5px;
}
.mui-popover .mui-btn-block:last-child
{
    margin-bottom: 0;
}

.mui-popover .mui-bar
{
    -webkit-box-shadow: none;
            box-shadow: none;
}

.mui-popover .mui-bar-nav
{
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.mui-popover .mui-scroll-wrapper
{
    margin: 7px 0;

    border-radius: 7px;
    background-clip: padding-box;
}

.mui-popover .mui-scroll .mui-table-view
{
    max-height: none;
}

.mui-popover .mui-table-view
{
    overflow: auto;

    max-height: 300px;
    margin-bottom: 0;

    border-radius: 7px;
    background-color: #f7f7f7;
    background-image: none;

    -webkit-overflow-scrolling: touch;
}
.mui-popover .mui-table-view:before, .mui-popover .mui-table-view:after
{
    height: 0;
}
.mui-popover .mui-table-view .mui-table-view-cell:first-child,
.mui-popover .mui-table-view .mui-table-view-cell:first-child > a:not(.mui-btn)
{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.mui-popover .mui-table-view .mui-table-view-cell:last-child,
.mui-popover .mui-table-view .mui-table-view-cell:last-child > a:not(.mui-btn)
{
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.mui-popover.mui-bar-popover .mui-table-view
{
    width: 106px;
}
.mui-popover.mui-bar-popover .mui-table-view .mui-table-view-cell
{
    padding: 11px 15px 11px 15px;

    background-position: 0 100%;
}
.mui-popover.mui-bar-popover .mui-table-view .mui-table-view-cell > a:not(.mui-btn)
{
    margin: -11px -15px -11px -15px;
}

.mui-popup-backdrop
{
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;

    opacity: 0;
    background: rgba(0, 0, 0, .4);
}
.mui-popup-backdrop.mui-active
{
    opacity: 1;
}

.mui-popup
{
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;

    display: none;
    overflow: hidden;

    width: 270px;

    -webkit-transition-property: -webkit-transform,opacity;
            transition-property:         transform,opacity;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.185);
            transform: translate3d(-50%, -50%, 0) scale(1.185);
    text-align: center;

    opacity: 0;
    color: #000;
    border-radius: 13px;
}
.mui-popup.mui-popup-in
{
    display: block;

    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
            transform: translate3d(-50%, -50%, 0) scale(1);

    opacity: 1;
}
.mui-popup.mui-popup-out
{
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
            transform: translate3d(-50%, -50%, 0) scale(1);

    opacity: 0;
}

.mui-popup-inner
{
    position: relative;

    padding: 15px;

    border-radius: 13px 13px 0 0;
    background: rgba(255, 255, 255, .95);
}
.mui-popup-inner:after
{
    position: absolute;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;

    background-color: rgba(0, 0, 0, .2);
}

.mui-popup-title
{
    font-size: 18px;
    font-weight: 500;

    text-align: center;
}

.mui-popup-title + .mui-popup-text
{
    font-family: inherit;
    font-size: 14px;

    margin: 5px 0 0;
}

.mui-popup-buttons
{
    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display:         flex;

    height: 44px;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
}

.mui-popup-button
{
    font-size: 17px;
    line-height: 44px;

    position: relative;

    display: block;
    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0 5px;

    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #007aff;
    background: rgba(255, 255, 255, .95);

    -webkit-box-flex: 1;
}
.mui-popup-button:after
{
    position: absolute;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;

    display: block;

    width: 1px;
    height: 100%;

    content: '';
    -webkit-transform: scaleX(.5);
            transform: scaleX(.5);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;

    background-color: rgba(0, 0, 0, .2);
}
.mui-popup-button:first-child
{
    border-radius: 0 0 0 13px;
}
.mui-popup-button:first-child:last-child
{
    border-radius: 0 0 13px 13px;
}
.mui-popup-button:last-child
{
    border-radius: 0 0 13px 0;
}
.mui-popup-button:last-child:after
{
    display: none;
}
.mui-popup-button.mui-popup-button-bold
{
    font-weight: 600;
}

.mui-popup-input input
{
    font-size: 14px;

    width: 100%;
    height: 26px;
    margin: 15px 0 0;
    padding: 0 5px;

    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 0;
    background: #fff;
}

.mui-plus.mui-android .mui-popup-backdrop
{
    -webkit-transition-duration: 1ms;
            transition-duration: 1ms;
}

.mui-plus.mui-android .mui-popup
{
    -webkit-transition-duration: 1ms;
            transition-duration: 1ms;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
            transform: translate3d(-50%, -50%, 0) scale(1);
}

/* === Progress Bar === */
.mui-progressbar
{
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 2px;

    -webkit-transform-origin: center top;
            transform-origin: center top;
    vertical-align: middle;

    border-radius: 2px;
    background: #b6b6b6;

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.mui-progressbar span
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: 150ms;
            transition: 150ms;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);

    background: #007aff;
}
.mui-progressbar.mui-progressbar-infinite:before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-animation: mui-progressbar-infinite 1s linear infinite;
            animation: mui-progressbar-infinite 1s linear infinite;

    background: #007aff;
}

body > .mui-progressbar
{
    position: absolute;
    z-index: 10000;
    top: 44px;
    left: 0;

    border-radius: 0;
}

.mui-progressbar-in
{
    -webkit-animation: mui-progressbar-in 300ms forwards;
            animation: mui-progressbar-in 300ms forwards;
}

.mui-progressbar-out
{
    -webkit-animation: mui-progressbar-out 300ms forwards;
            animation: mui-progressbar-out 300ms forwards;
}

@-webkit-keyframes mui-progressbar-in
{
    from
    {
        -webkit-transform: scaleY(0);

        opacity: 0;
    }

    to
    {
        -webkit-transform: scaleY(1);

        opacity: 1;
    }
}
@keyframes mui-progressbar-in
{
    from
    {
        transform: scaleY(0);

        opacity: 0;
    }

    to
    {
        transform: scaleY(1);

        opacity: 1;
    }
}
@-webkit-keyframes mui-progressbar-out
{
    from
    {
        -webkit-transform: scaleY(1);

        opacity: 1;
    }

    to
    {
        -webkit-transform: scaleY(0);

        opacity: 0;
    }
}
@keyframes mui-progressbar-out
{
    from
    {
        transform: scaleY(1);

        opacity: 1;
    }

    to
    {
        transform: scaleY(0);

        opacity: 0;
    }
}
@-webkit-keyframes mui-progressbar-infinite
{
    0%
    {
        -webkit-transform: translate3d(-50%, 0, 0) scaleX(.5);
    }

    100%
    {
        -webkit-transform: translate3d(100%, 0, 0) scaleX(.5);
    }
}
@keyframes mui-progressbar-infinite
{
    0%
    {
        transform: translate3d(-50%, 0, 0) scaleX(.5);
    }

    100%
    {
        transform: translate3d(100%, 0, 0) scaleX(.5);
    }
}
.mui-pagination
{
    display: inline-block;

    margin: 0 auto;
    padding-left: 0;

    border-radius: 6px;
}
.mui-pagination > li
{
    display: inline;
}
.mui-pagination > li > a,
.mui-pagination > li > span
{
    line-height: 1.428571429;

    position: relative;

    float: left;

    margin-left: -1px;
    padding: 6px 12px;

    text-decoration: none;

    color: #007aff;
    border: 1px solid #ddd;
    background-color: #fff;
}
.mui-pagination > li:first-child > a,
.mui-pagination > li:first-child > span
{
    margin-left: 0;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-clip: padding-box;
}
.mui-pagination > li:last-child > a,
.mui-pagination > li:last-child > span
{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-clip: padding-box;
}
.mui-pagination > li:active > a, .mui-pagination > li:active > a:active,
.mui-pagination > li:active > span,
.mui-pagination > li:active > span:active,
.mui-pagination > li.mui-active > a,
.mui-pagination > li.mui-active > a:active,
.mui-pagination > li.mui-active > span,
.mui-pagination > li.mui-active > span:active
{
    z-index: 2;

    cursor: default;

    color: #fff;
    border-color: #007aff;
    background-color: #007aff;
}
.mui-pagination > li.mui-disabled > span,
.mui-pagination > li.mui-disabled > span:active,
.mui-pagination > li.mui-disabled > a,
.mui-pagination > li.mui-disabled > a:active
{
    opacity: .6;
    color: #777;
    border: 1px solid #ddd;
    background-color: #fff;
}

.mui-pagination-lg > li > a,
.mui-pagination-lg > li > span
{
    font-size: 18px;

    padding: 10px 16px;
}

.mui-pagination-sm > li > a,
.mui-pagination-sm > li > span
{
    font-size: 12px;

    padding: 5px 10px;
}

.mui-pager
{
    padding-left: 0;

    list-style: none;

    text-align: center;
}
.mui-pager:before, .mui-pager:after
{
    display: table;

    content: ' ';
}
.mui-pager:after
{
    clear: both;
}
.mui-pager li
{
    display: inline;
}
.mui-pager li > a,
.mui-pager li > span
{
    display: inline-block;

    padding: 5px 14px;

    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    background-clip: padding-box;
}
.mui-pager li:active > a, .mui-pager li:active > span, .mui-pager li.mui-active > a, .mui-pager li.mui-active > span
{
    cursor: default;
    text-decoration: none;

    color: #fff;
    border-color: #007aff;
    background-color: #007aff;
}
.mui-pager .mui-next > a,
.mui-pager .mui-next > span
{
    float: right;
}
.mui-pager .mui-previous > a,
.mui-pager .mui-previous > span
{
    float: left;
}
.mui-pager .mui-disabled > a,
.mui-pager .mui-disabled > a:active,
.mui-pager .mui-disabled > span,
.mui-pager .mui-disabled > span:active
{
    opacity: .6;
    color: #777;
    border: 1px solid #ddd;
    background-color: #fff;
}

.mui-modal
{
    position: fixed;
    z-index: 999;
    top: 0;

    overflow: hidden;

    width: 100%;
    min-height: 100%;

    -webkit-transition: -webkit-transform .25s, opacity 1ms .25s;
            transition:         transform .25s, opacity 1ms .25s;
    -webkit-transition-timing-function: cubic-bezier(.1, .5, .1, 1);
            transition-timing-function: cubic-bezier(.1, .5, .1, 1);
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);

    opacity: 0;
    background-color: #fff;
}
.mui-modal.mui-active
{
    height: 100%;

    -webkit-transition: -webkit-transform .25s;
            transition:         transform .25s;
    -webkit-transition-timing-function: cubic-bezier(.1, .5, .1, 1);
            transition-timing-function: cubic-bezier(.1, .5, .1, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    opacity: 1;
}

.mui-android .mui-modal .mui-bar
{
    position: static;
}

.mui-android .mui-modal .mui-bar-nav ~ .mui-content
{
    padding-top: 0;
}

.mui-slider
{
    position: relative;
    z-index: 1;

    overflow: hidden;

    width: 100%;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active
{
    border-bottom: 0;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item
{
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
}
.mui-slider .mui-slider-group
{
    font-size: 0;

    position: relative;

    -webkit-transition: all 0s linear;
            transition: all 0s linear;
    white-space: nowrap;
}
.mui-slider .mui-slider-group .mui-slider-item
{
    font-size: 14px;

    position: relative;

    display: inline-block;

    width: 100%;
    height: 100%;

    vertical-align: top;
    white-space: normal;
}
.mui-slider .mui-slider-group .mui-slider-item > a:not(.mui-control-item)
{
    line-height: 0;

    position: relative;

    display: block;
}
.mui-slider .mui-slider-group .mui-slider-item img
{
    width: 100%;
}
.mui-slider .mui-slider-group .mui-slider-item .mui-table-view:before, .mui-slider .mui-slider-group .mui-slider-item .mui-table-view:after
{
    height: 0;
}
.mui-slider .mui-slider-group.mui-slider-loop
{
    -webkit-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
}

.mui-slider-title
{
    line-height: 30px;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 30px;
    margin: 0;

    text-align: left;
    text-indent: 12px;

    opacity: .8;
    background-color: #000;
}

.mui-slider-indicator
{
    position: absolute;
    bottom: 8px;

    width: 100%;

    text-align: center;

    background: none;
}
.mui-slider-indicator.mui-segmented-control
{
    position: relative;
    bottom: auto;
}
.mui-slider-indicator .mui-indicator
{
    display: inline-block;

    width: 6px;
    height: 6px;
    margin: 1px 6px;

    cursor: pointer;

    border-radius: 50%;
    background: #aaa;
    -webkit-box-shadow: 0 0 1px 1px rgba(130, 130, 130, .7);
            box-shadow: 0 0 1px 1px rgba(130, 130, 130, .7);
}
.mui-slider-indicator .mui-active.mui-indicator
{
    background: #fff;
}
.mui-slider-indicator .mui-icon
{
    font-size: 20px;
    line-height: 30px;

    width: 40px;
    height: 30px;
    margin: 3px;

    text-align: center;

    border: 1px solid #ddd;
}
.mui-slider-indicator .mui-number
{
    line-height: 32px;

    display: inline-block;

    width: 58px;
}
.mui-slider-indicator .mui-number span
{
    color: #ff5053;
}

.mui-slider-progress-bar
{
    z-index: 1;

    height: 2px;

    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

.mui-switch
{
    position: relative;

    display: block;

    width: 74px;
    height: 30px;

    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-transition-property: background-color, border;
            transition-property: background-color, border;

    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    background-clip: padding-box;
}
.mui-switch.mui-disabled
{
    opacity: .3;
}
.mui-switch .mui-switch-handle
{
    position: absolute;
    z-index: 1;
    top: -1px;
    left: -1px;

    width: 28px;
    height: 28px;

    -webkit-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
    -webkit-transition-property: -webkit-transform, width,left;
            transition-property:         transform, width,left;

    border-radius: 16px;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
            box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
}
.mui-switch:before
{
    font-size: 13px;

    position: absolute;
    top: 3px;
    right: 11px;

    content: 'Off';
    text-transform: uppercase;

    color: #999;
}
.mui-switch.mui-dragging
{
    border-color: #f7f7f7;
    background-color: #f7f7f7;
}
.mui-switch.mui-dragging .mui-switch-handle
{
    width: 38px;
}
.mui-switch.mui-dragging.mui-active .mui-switch-handle
{
    left: -11px;

    width: 38px;
}
.mui-switch.mui-active
{
    border-color: #4cd964;
    background-color: #4cd964;
}
.mui-switch.mui-active .mui-switch-handle
{
    -webkit-transform: translate(43px, 0);
            transform: translate(43px, 0);
}
.mui-switch.mui-active:before
{
    right: auto;
    left: 15px;

    content: 'On';

    color: #fff;
}
.mui-switch input[type='checkbox']
{
    display: none;
}

.mui-switch-mini
{
    width: 47px;
}
.mui-switch-mini:before
{
    display: none;
}
.mui-switch-mini.mui-active .mui-switch-handle
{
    -webkit-transform: translate(16px, 0);
            transform: translate(16px, 0);
}

.mui-switch-blue.mui-active
{
    border: 2px solid #007aff;
    background-color: #007aff;
}

.mui-content.mui-fade
{
    left: 0;

    opacity: 0;
}
.mui-content.mui-fade.mui-in
{
    opacity: 1;
}
.mui-content.mui-sliding
{
    z-index: 2;

    -webkit-transition: -webkit-transform .4s;
            transition:         transform .4s;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.mui-content.mui-sliding.mui-left
{
    z-index: 1;

    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
}
.mui-content.mui-sliding.mui-right
{
    z-index: 3;

    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}

.mui-navigate-right:after,
.mui-push-left:after,
.mui-push-right:after
{
    font-family: Muiicons;
    font-size: inherit;
    line-height: 1;

    position: absolute;
    top: 50%;

    display: inline-block;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-decoration: none;

    color: #bbb;

    -webkit-font-smoothing: antialiased;
}

.mui-push-left:after
{
    left: 15px;

    content: '\e582';
}

.mui-navigate-right:after,
.mui-push-right:after
{
    right: 15px;

    content: '\e583';
}

.mui-pull-top-pocket, .mui-pull-bottom-pocket
{
    position: absolute;
    left: 0;

    display: block;
    visibility: hidden;
    overflow: hidden;

    width: 100%;
    height: 50px;
}

.mui-plus-pullrefresh .mui-pull-top-pocket, .mui-plus-pullrefresh .mui-pull-bottom-pocket
{
    display: none;
    visibility: visible;
}

.mui-pull-top-pocket
{
    top: 0;
}

.mui-bar-nav ~ .mui-content .mui-pull-top-pocket
{
    top: 44px;
}

.mui-bar-nav ~ .mui-bar-header-secondary ~ .mui-content .mui-pull-top-pocket
{
    top: 88px;
}

.mui-pull-bottom-pocket
{
    position: relative;
    bottom: 0;

    height: 40px;
}
.mui-pull-bottom-pocket .mui-pull-loading
{
    visibility: hidden;
}
.mui-pull-bottom-pocket .mui-pull-loading.mui-in
{
    display: inline-block;
}

.mui-pull
{
    font-weight: bold;

    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;

    text-align: center;

    color: #777;
}

.mui-pull-loading
{
    margin-right: 10px;

    -webkit-transition: -webkit-transform .4s;
            transition:         transform .4s;
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    vertical-align: middle;
}

.mui-pull-loading.mui-reverse
{
    -webkit-transform: rotate(180deg) translateZ(0);
            transform: rotate(180deg) translateZ(0);
}

.mui-pull-caption
{
    font-size: 15px;
    line-height: 24px;

    position: relative;

    display: inline-block;
    overflow: visible;

    margin-top: 0;

    vertical-align: middle;
}
.mui-pull-caption span
{
    display: none;
}
.mui-pull-caption span.mui-in
{
    display: inline;
}

.mui-toast-container
{
    position: fixed;
    z-index: 9999;
    bottom: 50px;

    width: 100%;

    -webkit-transition: opacity .8s;
            transition: opacity .8s;

    opacity: 0;
}
.mui-toast-container.mui-active
{
    opacity: 1;
}

.mui-toast-message
{
    font-size: 14px;

    width: 270px;
    margin: 5px auto;
    padding: 5px;

    text-align: center;

    color: #000;
    border-radius: 7px;
    background-color: #d8d8d8;
}

.mui-numbox
{
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 120px;
    height: 35px;
    padding: 0 40px 0 40px;

    vertical-align: top;
    vertical-align: middle;

    border: solid 1px #bbb;
    border-radius: 3px;
    background-color: #efeff4;
}
.mui-numbox [class*=numbox-btn], .mui-numbox [class*=btn-numbox]
{
    font-size: 18px;
    font-weight: normal;
    line-height: 100%;

    position: absolute;
    top: 0;

    overflow: hidden;

    width: 40px;
    height: 100%;
    padding: 0;

    color: #555;
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
}
.mui-numbox [class*=numbox-btn]:active, .mui-numbox [class*=btn-numbox]:active
{
    background-color: #ccc;
}
.mui-numbox [class*=numbox-btn][disabled], .mui-numbox [class*=btn-numbox][disabled]
{
    color: #c0c0c0;
}
.mui-numbox .mui-numbox-btn-plus, .mui-numbox .mui-btn-numbox-plus
{
    right: 0;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.mui-numbox .mui-numbox-btn-minus, .mui-numbox .mui-btn-numbox-minus
{
    left: 0;

    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.mui-numbox .mui-numbox-input, .mui-numbox .mui-input-numbox
{
    display: inline-block;
    overflow: hidden;

    width: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0 3px !important;

    text-align: center;
    text-overflow: ellipsis;
    word-break: normal;

    border: none !important;
    border-right: solid 1px #ccc !important;
    border-left: solid 1px #ccc !important;
    border-radius: 0 !important;
}

.mui-input-row .mui-numbox
{
    float: right;

    margin: 2px 8px;
}

@font-face {
    font-family: Muiicons;
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/mui.ttf') format('truetype');
}
.mui-icon
{
    font-family: Muiicons;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;

    display: inline-block;

    text-decoration: none;

    -webkit-font-smoothing: antialiased;
}
.mui-icon.mui-active
{
    color: #007aff;
}
.mui-icon.mui-right:before
{
    float: right;

    padding-left: .2em;
}

.mui-icon-contact:before
{
    content: '\e100';
}

.mui-icon-person:before
{
    content: '\e101';
}

.mui-icon-personadd:before
{
    content: '\e102';
}

.mui-icon-contact-filled:before
{
    content: '\e130';
}

.mui-icon-person-filled:before
{
    content: '\e131';
}

.mui-icon-personadd-filled:before
{
    content: '\e132';
}

.mui-icon-phone:before
{
    content: '\e200';
}

.mui-icon-email:before
{
    content: '\e201';
}

.mui-icon-chatbubble:before
{
    content: '\e202';
}

.mui-icon-chatboxes:before
{
    content: '\e203';
}

.mui-icon-phone-filled:before
{
    content: '\e230';
}

.mui-icon-email-filled:before
{
    content: '\e231';
}

.mui-icon-chatbubble-filled:before
{
    content: '\e232';
}

.mui-icon-chatboxes-filled:before
{
    content: '\e233';
}

.mui-icon-weibo:before
{
    content: '\e260';
}

.mui-icon-weixin:before
{
    content: '\e261';
}

.mui-icon-pengyouquan:before
{
    content: '\e262';
}

.mui-icon-chat:before
{
    content: '\e263';
}

.mui-icon-qq:before
{
    content: '\e264';
}

.mui-icon-videocam:before
{
    content: '\e300';
}

.mui-icon-camera:before
{
    content: '\e301';
}

.mui-icon-mic:before
{
    content: '\e302';
}

.mui-icon-location:before
{
    content: '\e303';
}

.mui-icon-mic-filled:before, .mui-icon-speech:before
{
    content: '\e332';
}

.mui-icon-location-filled:before
{
    content: '\e333';
}

.mui-icon-micoff:before
{
    content: '\e360';
}

.mui-icon-image:before
{
    content: '\e363';
}

.mui-icon-map:before
{
    content: '\e364';
}

.mui-icon-compose:before
{
    content: '\e400';
}

.mui-icon-trash:before
{
    content: '\e401';
}

.mui-icon-upload:before
{
    content: '\e402';
}

.mui-icon-download:before
{
    content: '\e403';
}

.mui-icon-close:before
{
    content: '\e404';
}

.mui-icon-redo:before
{
    content: '\e405';
}

.mui-icon-undo:before
{
    content: '\e406';
}

.mui-icon-refresh:before
{
    content: '\e407';
}

.mui-icon-star:before
{
    content: '\e408';
}

.mui-icon-plus:before
{
    content: '\e409';
}

.mui-icon-minus:before
{
    content: '\e410';
}

.mui-icon-circle:before, .mui-icon-checkbox:before
{
    content: '\e411';
}

.mui-icon-close-filled:before, .mui-icon-clear:before
{
    content: '\e434';
}

.mui-icon-refresh-filled:before
{
    content: '\e437';
}

.mui-icon-star-filled:before
{
    content: '\e438';
}

.mui-icon-plus-filled:before
{
    content: '\e439';
}

.mui-icon-minus-filled:before
{
    content: '\e440';
}

.mui-icon-circle-filled:before
{
    content: '\e441';
}

.mui-icon-checkbox-filled:before
{
    content: '\e442';
}

.mui-icon-closeempty:before
{
    content: '\e460';
}

.mui-icon-refreshempty:before
{
    content: '\e461';
}

.mui-icon-reload:before
{
    content: '\e462';
}

.mui-icon-starhalf:before
{
    content: '\e463';
}

.mui-icon-spinner:before
{
    content: '\e464';
}

.mui-icon-spinner-cycle:before
{
    content: '\e465';
}

.mui-icon-search:before
{
    content: '\e466';
}

.mui-icon-plusempty:before
{
    content: '\e468';
}

.mui-icon-forward:before
{
    content: '\e470';
}

.mui-icon-back:before, .mui-icon-left-nav:before
{
    content: '\e471';
}

.mui-icon-checkmarkempty:before
{
    content: '\e472';
}

.mui-icon-home:before
{
    content: '\e500';
}

.mui-icon-navigate:before
{
    content: '\e501';
}

.mui-icon-gear:before
{
    content: '\e502';
}

.mui-icon-paperplane:before
{
    content: '\e503';
}

.mui-icon-info:before
{
    content: '\e504';
}

.mui-icon-help:before
{
    content: '\e505';
}

.mui-icon-locked:before
{
    content: '\e506';
}

.mui-icon-more:before
{
    content: '\e507';
}

.mui-icon-flag:before
{
    content: '\e508';
}

.mui-icon-home-filled:before
{
    content: '\e530';
}

.mui-icon-gear-filled:before
{
    content: '\e532';
}

.mui-icon-info-filled:before
{
    content: '\e534';
}

.mui-icon-help-filled:before
{
    content: '\e535';
}

.mui-icon-more-filled:before
{
    content: '\e537';
}

.mui-icon-settings:before
{
    content: '\e560';
}

.mui-icon-list:before
{
    content: '\e562';
}

.mui-icon-bars:before
{
    content: '\e563';
}

.mui-icon-loop:before
{
    content: '\e565';
}

.mui-icon-paperclip:before
{
    content: '\e567';
}

.mui-icon-eye:before
{
    content: '\e568';
}

.mui-icon-arrowup:before
{
    content: '\e580';
}

.mui-icon-arrowdown:before
{
    content: '\e581';
}

.mui-icon-arrowleft:before
{
    content: '\e582';
}

.mui-icon-arrowright:before
{
    content: '\e583';
}

.mui-icon-arrowthinup:before
{
    content: '\e584';
}

.mui-icon-arrowthindown:before
{
    content: '\e585';
}

.mui-icon-arrowthinleft:before
{
    content: '\e586';
}

.mui-icon-arrowthinright:before
{
    content: '\e587';
}

.mui-icon-pulldown:before
{
    content: '\e588';
}

.mui-fullscreen
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.mui-fullscreen.mui-slider .mui-slider-group
{
    height: 100%;
}
.mui-fullscreen .mui-segmented-control ~ .mui-slider-group
{
    position: absolute;
    top: 40px;
    bottom: 0;

    width: 100%;
    height: auto;
}
.mui-fullscreen.mui-slider .mui-slider-item > a
{
    top: 50%;

    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.mui-fullscreen .mui-off-canvas-wrap .mui-slider-item > a
{
    top: auto;

    -webkit-transform: none;
            transform: none;
}

.mui-bar-nav ~ .mui-content .mui-slider.mui-fullscreen
{
    top: 44px;
}

.mui-bar-tab ~ .mui-content .mui-slider.mui-fullscreen .mui-segmented-control ~ .mui-slider-group
{
    bottom: 50px;
}

.mui-android.mui-android-4-0 input:focus,
.mui-android.mui-android-4-0 textarea:focus
{
    -webkit-user-modify: inherit;
}

.mui-android.mui-android-4-2 input,
.mui-android.mui-android-4-2 textarea, .mui-android.mui-android-4-3 input,
.mui-android.mui-android-4-3 textarea
{
    -webkit-user-select: text;
}

.mui-ios .mui-table-view-cell
{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.mui-plus-visible, .mui-wechat-visible
{
    display: none !important;
}

.mui-plus-hidden, .mui-wechat-hidden
{
    display: block !important;
}

.mui-tab-item.mui-plus-hidden, .mui-tab-item.mui-wechat-hidden
{
    display: table-cell !important;
}

.mui-plus .mui-plus-visible, .mui-wechat .mui-wechat-visible
{
    display: block !important;
}

.mui-plus .mui-tab-item.mui-plus-visible, .mui-wechat .mui-tab-item.mui-wechat-visible
{
    display: table-cell !important;
}

.mui-plus .mui-plus-hidden, .mui-wechat .mui-wechat-hidden
{
    display: none !important;
}

.mui-plus.mui-statusbar.mui-statusbar-offset .mui-bar-nav
{
    height: 64px;
    padding-top: 20px;
}
.mui-plus.mui-statusbar.mui-statusbar-offset .mui-bar-nav ~ .mui-content
{
    padding-top: 64px;
}
.mui-plus.mui-statusbar.mui-statusbar-offset .mui-bar-nav ~ .mui-content .mui-pull-top-pocket
{
    top: 64px;
}
.mui-plus.mui-statusbar.mui-statusbar-offset .mui-bar-header-secondary
{
    top: 64px;
}
.mui-plus.mui-statusbar.mui-statusbar-offset .mui-bar-header-secondary ~ .mui-content
{
    padding-top: 94px;
}

.mui-iframe-wrapper
{
    position: absolute;
    right: 0;
    left: 0;

    -webkit-overflow-scrolling: touch;
}
.mui-iframe-wrapper iframe
{
    width: 100%;
    height: 100%;

    border: 0;
}
