@charset "utf-8";
.topApp {
	height: 0.86rem;
	position: absolute;
	top: 1.31rem;
	width: 100%;
}
.topApp .list{
		height: 0.86rem;
	    line-height: 0.86rem;
	    text-align: center;
	    color: #fff;
	    font-size: 0.32rem;
	    position: relative;
}
.topApp .list .num{
	position: absolute;
	top: 0;
	right: 0.7rem;
	font-size: 0.25rem;
	width: 0.45rem;
	height: 0.45rem;
	background: red;
	color: #FFFFFF;
	line-height: 0.47rem;
    border-radius: 0.5rem;
    font-weight: normal;
}

.ztselect{
	text-align: center;
	
	position: relative;
	height: 0.8rem;
	border-bottom: 1px solid gainsboro;
	line-height: 0.8rem;
	font-size: 0.34rem;
}
.ztselect div{
	/*background: url(images/icon_sl.png) no-repeat center right;
	background-size: 0.21rem 0.21rem;*/
}
.topApp .active{
	font-weight: bold;
	font-size: 0.38rem;
	line-height: 0.80rem;
	background: url(images/wybx1.png) no-repeat center 0.68rem;
	background-size: 0.50rem 0.08rem;
}

.mainBody{
	    background: #fafafa;
	   
}
.mainBodyUl{
	    padding: 0 0.20rem 1.20rem 0.20rem;
	    overflow: hidden;
}
.mainBodyLi{
	margin-top: 0.30rem;
	/*height: 1.65rem;*/
	background: #fff;
	border-radius: 0.1rem;
	float: left;
	width: 100%;
	box-shadow: -0.05rem 0rem 0.1rem #f3f3f3, 0.05rem 0rem 0.1rem #f3f3f3, 0rem 0.1rem 0.1rem #f3f3f3, 0rem -0.01rem 0.01rem #f3f3f3;
}
.mainBodyLi .content{
	height: 0.88rem;
	line-height: 0.88rem;
}
.mainBodyLi .titlele{
	padding-left: 0.05rem;
	font-size: 0.34rem;
	color: #333;
}

.mainBodyLi .contbot{
	height: 0.77rem;
	line-height: 0.77rem;
}

.mainBodyLi .assess{
	font-size: 0.22rem;
	text-align: right;
}
.mainBodyLi .assess span{
	color: #45bb3e;
	background: #e1f4e0;
	padding: 0.1rem 0.15rem;
	border-radius: 0.4rem;
}

.mainBodyLi .time{
	color: #999999;
	font-size: 0.3rem;
	padding-left: 0.3rem;
}

.mainBodyLi .name{
	text-align: right;
	font-size: 0.3rem;
	color: #666666;
	padding-right: 0.3rem;
}
.mainBodyLi .name img{
	width: 0.55rem;
	height: 0.55rem;
	vertical-align: text-bottom;
	border-radius: 0.5rem;
}

.mainBodyLi .worker{
	border-top: 1px solid #e2e2e2;
	height: 0.88rem;
	line-height: 0.55rem;
	text-align: center;
	font-size: 0.34rem;
	color: #666666;
}
.mainBodyLi .maintain{
	border-right: 1px solid #e2e2e2;
	height: 0.55rem;
	margin-top: 0.2rem;
}

.maintain:last-child{
	border-right:none
}


.morePic{
	width:0.83rem;
	height:0.83rem;
	margin-top:0.35rem;
	background:url(images/wybx2.png) no-repeat center center;
	background-size:0.83rem 0.83rem;
	position:absolute;
	right:0.40rem;
	bottom:0.80rem;		
	z-index: 999;	
	display: none;
}


.bxxqTop {
	height: 4.4rem;
	background: url(images/newwybx.png) no-repeat center center;
	background-size: cover;
}

.xqTitle{
	position: relative;
	top:1.6rem;
	color: #fff;
	font-size: 0.38rem;
	margin-left: 0.3rem;
	height: 0.6rem;
	line-height: 0.6rem;
}

.dpd{
	font-size: 0.28rem;
	text-align: right;
}

.dpd span{
	background: rgba(255,255,255,0.3);
	color: #fff;
    padding: 0.08rem 0.18rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.bxr{
	position: relative;
	top:1.6rem;
	height: 0.55rem;
	line-height: 0.55rem;
	margin-left: 0.3rem;
}
.bxr span{
	color: #fff;
	font-size: 0.28rem;
}
.bxr .bxrName{
	margin-right: 0.3rem;
}

.bxr .bxrPhone a{
	font-size: 0.28rem;
	color: #fff;
	text-decoration:underline
}

.sqxq{
	/*height: 4.2rem;*/
	width: 100%;
	position: relative;
	top:-0.5rem;
	padding: 0 0.3rem;
}
.sqxq .sqxqcon{
	width: 100%;
	height: 100%;
	background: #fff;
	box-shadow: -0.05rem 0rem 0.1rem rgba(0,0,0,0.05), 0.05rem 0rem 0.1rem rgba(0,0,0,0.05), 0rem 0.1rem 0.1rem rgba(0,0,0,0.05), 0rem -0.01rem 0.01rem rgba(0,0,0,0.05);
	border-radius: 0.2rem;
}
.sqxq  .sqxqtit{
	height: 0.88rem;
	line-height: 0.88rem;
	font-size: 0.3rem;
	color: #000;
	padding-left: 0.32rem;
	font-weight: bold;
}

.sqxq .sqlist{
	/*height: 0.35rem;
	line-height: 0.35rem;*/
	margin-bottom: 0.2rem;
	margin-left: 0.3rem;
	font-size: 0.28rem;
}

.bxlx,.bxms,.jtdz,.bxdh{
	color: #525252;
}
.sqlist img{
	width: 1.2rem;
	height: 1.2rem;
	vertical-align: top;
	margin-right: 0.2rem;
}
.sqlist .ckdt{
	font-size: 0.24rem;
	vertical-align: bottom;
}
.bxlximg{
	width: 0.3rem !important;
	height: 0.3rem !important;
	vertical-align: top;
	margin-right: 0.2rem;
}

.wxjd{
	width: 100%;
	position: relative;
	top:-0.3rem;
	padding: 0 0.3rem;
	margin-bottom: 0.5rem;
}
.wxjd .wxjdcon{
	width: 100%;
	height: 100%;
	background: #fff;
	box-shadow: -0.05rem 0rem 0.1rem rgba(0,0,0,0.05), 0.05rem 0rem 0.1rem rgba(0,0,0,0.05), 0rem 0.1rem 0.1rem rgba(0,0,0,0.05), 0rem -0.01rem 0.01rem rgba(0,0,0,0.05);
	border-radius: 0.2rem;
	overflow: auto;
}
.wxjd .wxjdtit{
	height: 0.88rem;
	line-height: 0.88rem;
	font-size: 0.3rem;
	color: #000;
	padding-left: 0.32rem;
	font-weight: bold;
}

.wxjddtltic{
	height: 0.68rem;
}
.wxjddetails{
	margin-left: 0.3rem;
}
.wxjd .delTime{
	float: left;
	text-align: right;
	margin-right: 0.2rem;
	height: 0.68rem;
	color: #999999;
}
.wxjd .delTime span:first-child{
	font-size: 0.24rem;
}
.wxjd .delTime span:last-child{
	font-size: 0.2rem;
	position: relative;
	top: -0.2rem;
}

.wxjd .delImg{
	width: 0.68rem;
	height: 0.68rem;
	border-radius: 0.68rem;
	float: left;
	margin-right: 0.2rem;
}
.wxjd .delName{
	height: 0.68rem;
	line-height: 0.68rem;
}
.wxjd .delName span:first-child{
	font-size: 0.3rem;
}

.wxjd .delName span:last-child{
	font-size: 0.24rem;
	padding: 0.05rem 0.1rem 0.03rem 0.1rem;
	border:1px solid red;
	border-radius: 0.3rem;
	margin-left: 0.1rem;
	color: red;
}

.wxjd .wxjddtl{
	padding-bottom: 0.2rem;
	margin-left: 1.13rem;
	border-left: 1px solid #dadada;
	color: #8e8e8e;
	padding-left: 0.55rem;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
	font-size: 0.26rem;
}

.wxjd .wxjddetails:last-child .wxjddtl {
	border-left: none;
}

.wxjddtl img{
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 0.2rem;
	margin-top: 0.1rem;
}

.wybxBotbtn{
	position: fixed;
	bottom: 0;
	height: 1.24rem;
	background: #FFFFFF;
	width: 100%;
	padding: 0.18rem 0.3rem;
}

.wybxBotbtn .qxbtn{
	text-align: center;
	line-height: 0.88rem;
	background: #f98e25;
	color: #FFFFFF;
	border-radius: 0.1rem;
}

.wybxBotbtn .towBtn{
	width: 3.3rem;
	line-height: 0.88rem;
	background: #f98e25;
	color: #FFFFFF;
	border-radius: 0.1rem;
	text-align: center;
	float: left;
}

.wybxBotbtn .towBtn:last-child{
	margin-left: 0.3rem;
}
 
 
.jdTitle{
	font-size: 0.3rem;
	color: #999999;
	padding: 0.4rem 0 0.2rem 0.3rem;
}
.jdTextarea{
	position: relative;
}

.t_h{
	position: absolute;
    bottom: 0.4rem;
    right: 0.2rem;
    color: #999999;
}
.t_h i{
	 font-style:normal
}

.jdTextarea textarea{
	height: 3rem;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #eeeeee;
	font-size: 0.3rem;
}

.mypj{
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
}

.mypj div span{
	font-size: 0.32rem;
	padding: 0.2rem 0.5rem;
	border: 1px solid #cdcdcd;
	border-radius: 0.5rem;
}

.mypjActive {
	color: #fa9c40;
	border: 1px solid #fa9c40 !important;
}

.thAddImg{
	font-size: 0.3rem;
	color: #999999;
	padding-left: 0.3rem;
	padding-bottom: 0.2rem;
}

.thIcon{
	height: 1.8rem;
	background: #FFFFFF;
	width: 100%;
	border: 1px solid #eeeeee;
	line-height: 1.8rem
}
.imgBox{
	width: 100%;
	height: 1.2rem;
}
.imgBox img{
	vertical-align: middle;	
	width: 1.2rem;
	height: 100%;
	border:1px dashed #dddddd;
	margin: 0 0.2rem;
}

.xjbxlx{
	height: 0.88rem;
	line-height: 0.88rem;
	width: 100%;
	background: #FFFFFF;
	/*border-top: 1px solid #eeeeee;*/
	border-bottom: 1px solid #eeeeee;
	margin-top: 0.5rem;
	text-align: right;
}

.xjbxlx span:first-child{
	font-size: 0.3rem;
	padding-left: 0.3rem;
	float: left;
}

.xjbxlx span:first-child i{
	font-style: normal;
	font-size: 0.26rem;
	color: #999999;
}

.xjbxlx .bxlxType{
	font-size: 0.3rem;
	color: #999999;
}

.xjbxlx span:last-child{
	display: block;
	height: 0.3rem;
	width: 0.3rem;
	float: right;
	background: url(images/myjt.png) no-repeat center;
	background-size: cover;
	margin-top: 0.29rem;
	margin-right: 0.1rem;
}


#address{
	float: left;
    margin-left: 2.4rem;
    height: 0.8rem;
    position: relative;
    top: -0.88rem;
    border: none;
    font-size: 0.3rem;
    padding-top: 0.28rem;
}

.xjbxlx p{
	font-size: 0.3rem;
    color: #000;
    text-align: left;
    padding-left: 0.3rem;
}

.xjbxlx p i{
	font-style: normal;	
	font-size: 0.26rem;
	color: #999999;
}

.imgCop{
			width: 1.5rem;
			height: 1.5rem;
			margin-left: 0.30rem;
			position: relative;
			display: inline-block;
		}
		
.closeBtn{
			position:absolute;
			display:none;
			width:0.3rem;
			height:0.3rem;
			top:0px;
			right:-0.1rem;
			background: url(images/picDelete.png) no-repeat;
			background-size:cover; 
		}
		
	.imgBox {
			/*width: 1.5rem;*/
			height: 1.5rem;
			/*margin-left: 0.30rem;*/
			/*background: url(css/images/wybx3.png) no-repeat center center;*/
			background-size: cover;
			/*margin-top: 0.30rem;*/
			/*border: 1px solid #c1c1c3;*/
		}
		.imgBox img{
			width: 1.5rem;
			height: 1.5rem;
			margin-left: 0.30rem;
			border: 1px solid #c1c1c3;
		}
		

.photoBox {
			margin-top: 0.20rem;
			height: 2.90rem;
			background: #fff;
		}