.resCard{
	font-weight: normal;
	display: block;
    position: absolute;
    top: 0;
    /*left: 0.3rem;*/
    width: 1.65rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: right;
}
.res input{
	font-size: 0.3rem;
	margin-left: 1.7rem !important;
}
.res .split{
	height: 0.02rem;
}
.resBottom{
	height: 3.5rem;
	background: url(images/bottom_ico.png) no-repeat;
	background-size: cover;
}
.fs{
	display: block !important;
	position: absolute !important;
	width: 1.67rem !important;
	top:0;
	right: 0;
	background: gainsboro;	
} 

.btnRes{
	width: 95%;
	height: 0.7rem;
	background: #ff7e3a;
	border-radius: 0.5rem;
	text-align: center;
	line-height: 0.7rem;
	color: #fff;
	margin-top: 0.4rem;
}

.resBack{
	position: absolute;
	top: 0.4rem;
	left: 0.3rem;
	color: #ff7e3a;
}
