*{
    touch-action: none;
}
html,body{
	height: 100%;
}
.pageContainer{
	display:flex;
	flex-direction: column;
	height:100%;
	background-color: #f8f8f8;
	position: relative;
}
.sht-header{
	width:7.5rem;
	height:1.61rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-image: url(images/bg_sht_head.png);
	overflow:hidden;
}
.sht-header-container{
	display:flex;
	align-items: center;
	margin-top:0.54rem;
}
.mui-action-back{
	width: 0.6rem;
    height: 0.6rem;
    text-indent: 0.1rem;
    font-size: 0.48rem;
    line-height: 0.6rem;
    margin-right: 0.12rem;
    color: #fff;
}
.column-title{
	flex:1;
	color:#fff;
	text-align:center;
	font-size:0.34rem;
}
.result-content{
	margin-top:0.65rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height:2.86rem;
	width:7.5rem;
	background-color: #e6e6e6;
}
.result-status , .result-orderNum{
	text-align:center;
	font-size:0.34rem;
	color:#676767;
}
.result-status{
	margin-bottom:0.38rem;
}
.result-prices{
	text-align:center;
	font-size:0.34rem;
	color:#c02223;
	margin-bottom:0.38rem;
}
.result-btn{
	width:6.84rem;
	height:0.7rem;
	line-height: 0.7rem;
	text-align:center;
	margin:4.3rem auto 0;
	background-color:#f98e26;
	color:#fff;
	border-radius:0.08rem;
}
.result-btn:active{
	opacity: .7;
	color:#fff;
}