*{
    touch-action: none;
}
html,body{
	height: 100%;
}
.pageContainer{
	display:flex;
	flex-direction: column;
	height:100%;
	background-color: #f8f8f8;
	position: relative;
}
.sht-header{
	width:7.5rem;
	height:1.61rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-image: url(images/bg_sht_head.png);
	overflow:hidden;
}
.sht-header-container{
	display:flex;
	align-items: center;
	margin-top:0.7rem;
}
.mui-action-back{
	width: 0.6rem;
    height: 0.6rem;
    text-indent: 0.1rem;
    font-size: 0.48rem;
    line-height: 0.6rem;
    margin-right: 0.12rem;
    color: #fff;
}
.column-title{
	flex:1;
	color:#fff;
	text-align:center;
	font-size:0.36rem;
}
.article-before{
	
}
.before-part1{
	height:1.6rem;
	width:7.5rem;
	background-color: #fff;
	display:flex;
	border-bottom:1px solid #ddd;
	background-position:left bottom;
	background-repeat: no-repeat;
	background-size:7.5rem 0.04rem;
	background-image: url(images/bg_border.png);
	overflow:hidden;
	margin-bottom: 0.2rem;
}
.before-left{
	flex:1;
	height:1.6rem;
	display: flex;
}
.icon-positionWrap{
	height:1.6rem;
	width:0.9rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon-position{
	width:0.4rem;
	height: 0.4rem;
}
.address-detail{
	height:1.6rem;
	flex:1;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	justify-content: center;
}
/*.addresslisty{
	height:1.6rem;
	flex:1;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	justify-content: center;
	font-size:0.2rem;
}*/
.address-title{
	width:100%;
	color: #4c4c4c;
	font-size:0.34rem;
	height: 0.34rem;
}
.address-detail.styleAlert .address-title{
	color:#999;
	font-size: 0.30rem;
}
.address-address{
	width:100%;
	color: #313131;
	font-size:0.34rem;
	margin-top:0.16rem;
	line-height: 0.34rem;
	width:5.96rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.before-right{
	width:0.64rem;
	height:1.6rem;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(images/mrsp1.png);
	background-size:0.3rem 0.3rem;
}
.btn-address:active{
	opacity: .8;
	background-color: #eee;
}
.before-part2{
	display: flex;
	justify-content: space-between;
	height: 0.66rem;
	background-color: #fff;
	margin:0 0 0.22rem;
	padding:0 0.32rem;
	align-items: center;
}
.takeTime-title{
	font-size:0.28rem;
	color: #666;
}
.takeTime-detail{
	display: flex;
}
.takeTime-date{
	font-size:0.28rem;
	color: #666;
}
.takeTime-time{
	font-size:0.28rem;
	color: #666;
	/*margin-left:0.3rem;*/
}
.article-content{
	flex:1;
	display: flex;
	background-color:#fff;
}
.article-content-wrap{
	height:100%;
	width:7.5rem;
	position:relative;
}
.goods-wrap{
	padding-left:0.2rem;
}
.goods-item{
	height:2.28rem;
	border-bottom:1px solid #e2e2e2;
	display:flex;
	align-items: center;
}
.goods-left,.goods-right{
	height: 1.68rem;
}
.goods-left{
	width:1.68rem;
}
.goods-img{
	width:1.68rem;
	height: 1.68rem;
}
.goods-right{
	flex:1;
}
.goods-right{
	padding:0.2rem 0.26rem 0.04rem 0.3rem;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.goods-des{
	font-size:0.28rem;
	line-height:0.3rem;
	width:5.06rem;
	color:#333;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.goods-type{
	color:#999;
	font-size:0.24rem;
	line-height:0.26rem;
}
.goods-column{
	display:flex;
	justify-content: space-between;
}
.goods-price{
	font-size:0.26rem;
	color:#c03130;
	font-weight:600;
}
.goods-counts{
	font-size:0.24rem;
	color:#333;
}
.article-conAfter{
	
}
.payType{
	height:0.88rem;
	width:7.5rem;
	padding:0 0.2rem;
	margin-bottom:0.48rem;
	margin-top:0.2rem;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.payType-title,.payType-selector{
	font-size:0.28rem;
	color:#333;
}
.article-bottom{
	
}

.balance-box{
	height:0.98rem;
	display:flex;
	border-top:1px solid #e2e2e2;
}
.balance-left{
	flex:1;
	display:flex;
	align-items: center;
}
.balance-title{
	font-size:0.36rem;
	text-indent:0.22rem;
	color:#333;
}
.balance-total{
	color:#c12d2b;
	background-color:transparent;
}
.balance-btn{
	width:2.5rem;
	background-color:#ff7743;
	color:#fff;
	font-size:0.34rem;
	text-align: center;
	line-height:0.98rem;
}
.tip-layer{
	position: absolute;
	width:7.5rem;
	top:1.61rem;
	height:calc(100% - 1.61rem);
	background-color:rgba(0,0,0,.7);
	z-index:1000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tip-container{
	width:5.74rem;
	border-radius:0.20rem;
	overflow:hidden;
	background-color:#fff;
}
.tip-content{
	padding:0.4rem 0.36rem;
	font-size: 0.30rem;
	color:#323232;
	line-height:0.46rem;
}
.tip-btns{
	display: flex;
	justify-content: space-between;
}
.tip-cancel , .tip-submit{
	width:2.86rem;
	height:0.96rem;
	color: #fff;
	font-size: 0.34rem;
	text-align: center;
	line-height: 0.96rem;
}
.tip-cancel:active , .tip-submit:active{
	opacity: .8;
}
.tip-cancel{
	background-color:#c1c1c1;
}
.tip-submit{
	background-color:#ff7743;
}
.password-layer{
	flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    z-index: 1000;
    display: flex;
    top: 1.61rem;
    height: calc(100% - 1.61rem);
}
.password-layerDom{
	height:100%;
	width:7.5rem;
	background-color:rgba(0,0,0,.7);
}
.password-container{
	background-color:#fff;
	width:7.5rem;
}
.password-label{
	height: 0.9rem;
	color:#666;
	text-align:center;
	line-height: 0.9rem;
	font-size:0.32rem;
	border-bottom:1px solid #ddd;
	position:relative;
}
.btn-closepl{
	position: absolute;
    right: 0.2rem;
    font-size:0.7rem;
    top:0.1rem;
}
.btn-closepl:active{
	opacity:0.7;
}
.pwd-wrapper{
	background-color:#f6f6f6;
	padding: 0.3rem 0;
}
#payPwd .pwd-wrap{
   width: 6.9rem;
   display: flex;
   display: -webkit-box;
   display: -webkit-flex;
   border:1px solid #999;
   margin: 0 auto;
   border-radius:10px;
}
.pwd-wrap li{
   list-style-type:none;
   text-align: center;
   line-height: 1.1rem;
   height:1rem;
   -webkit-box-flex: 1;
   flex: 1;
   -webkit-flex: 1;
   border-right:1px solid #ccc ;
}
.pwd-wrap li:last-child{
   border-right: 0;
}
.pwd-wrap li i{
   height: 0.28rem;
   width: 0.28rem;
   border-radius:50% ;
   background: #666;
   display: inline-block;
 }
 .keys-container{
 	background-color:#f6f6f6;
 	display:flex;
 	flex-direction:row;
 	border-top:1px solid #e5e5e5;
 }
 .keys-column{
 	flex:1	
 }
.keys-td-small{
	height:0.98rem;
	line-height:0.98rem;
	color:#222;
	font-size:0.4rem;
	font-weight:600;
	text-align:center;
}
.bre5{
	border-right:1px solid #e5e5e5;
}
.bbe5{
	border-bottom:1px solid #e5e5e5;
}
.keys-td-big{
	height:1.96rem;
	
}
.keys-submit{
	line-height:1.96rem;
	color:#fff;
	font-size:0.4rem;
	font-weight:600;
	text-align:center;
	background-color:#ff7743;
}
.keys_close{
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(images/keys_close.png);
	background-size: 0.6rem 0.6rem;
}
.keys-cancel{
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(images/keys_cancel.png);
	background-size: 0.6rem 0.6rem;
}
.keys-td-small:active , .keys-td-big:active{
	opacity: .7;
}
.keys-td-small:active , .keys-cancel:active{
	background-color:#666;
}
