				html,
				body,
				div,
				span,
				applet,
				object,
				iframe,
				h1,
				h2,
				h3,
				h4,
				h5,
				h6,
				p,
				blockquote,
				pre,
				a,
				abbr,
				acronym,
				address,
				big,
				cite,
				code,
				del,
				dfn,
				em,
				img,
				ins,
				kbd,
				q,
				s,
				samp,
				small,
				strike,
				strong,
				sub,
				sup,
				tt,
				var,
				b,
				u,
				i,
				center,
				dl,
				dt,
				dd,
				ol,
				ul,
				li,
				fieldset,
				form,
				label,
				legend,
				table,
				caption,
				tbody,
				tfoot,
				thead,
				tr,
				th,
				td,
				button,
				article,
				aside,
				canvas,
				details,
				embed,
				figure,
				figcaption,
				footer,
				header,
				hgroup,
				menu,
				nav,
				output,
				ruby,
				section,
				summary,
				time,
				mark,
				audio,
				video {
					margin: 0;
					padding: 0;
					border: 0;
					vertical-align: baseline;
					background: transparent;
					outline: none;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}
				
				article,
				aside,
				details,
				figcaption,
				figure,
				footer,
				header,
				hgroup,
				menu,
				nav,
				section {
					display: block;
				}
				
				ol,
				ul {
					list-style: none;
				}
				
				button {
					background: transparent;
				}
				
				blockquote,
				q {
					quotes: none;
				}
				
				blockquote:before,
				blockquote:after,
				q:before,
				q:after {
					content: '';
					content: none;
				}
				
				strong {
					font-weight: bold;
				}
				
				table {
					border-collapse: collapse;
					border-spacing: 0;
				}
				
				img {
					border: 0;
					max-width: 100%;
				}
				
				html {
					line-height: initial;
					touch-action: none;
					scrollIndicator: none;
				}
				
				body {
					font-size: 0.32rem;
					touch-action: none;
					scrollIndicator: none;
				}
				
				.mui-ios header {
					padding-top: 8px !important;
				}
				
				.mui-android header {
					padding-top: 10px !important;
				}
				
				.bg_wirte {
					background: #fff;
				}
				/**登录页面*/
				
				.zhwy {
					width: 3.37rem;
					height: 1.09rem;
					background: url(images/zhwy.png) no-repeat;
					background-size: cover;
					margin: 0 auto;
					margin-top: 1.40rem;
				}
				
				.userinfo {
					width: 5.55rem;
					margin: 0 auto;
				}
				
				.userinfo .item {
					position: relative;
					height: 0.5rem;
					flex-direction: row;
					width: 5.55rem;
					display: flex;
					margin-bottom: 0.2rem;
				}
				
				.userinfo .itemTop {
					margin-top: 0.2rem;
				}
				
				.userinfo .split {
					width: 5.55rem;
					height: 0.04rem;
					background: url(images/split.png) no-repeat center center;
					/*background-size: cover;*/
					position: relative;
					z-index: 999;
				}
				
				.userinfo .item .user_ico {
					display: block;
					position: absolute;
					top: 0;
					left: 0.3rem;
					width: 0.5rem;
					height: 0.5rem;
					background: url(images/user_ico.png) no-repeat center -0.05rem;
					background-size: cover;
				}
				
				.userinfo .item .pass_ico {
					display: block;
					position: absolute;
					top: 0;
					left: 0.3rem;
					width: 0.5rem;
					height: 0.5rem;
					background: url(images/pass_ico.png) no-repeat center -0.05rem;
					background-size: cover;
				}
				
				.userinfo .item input {
					margin: 0;
					padding: 0;
					margin-left: 0.9rem;
					border: 0;
					height: 0.5rem;
					width: 4rem;
					line-height: 0.5rem;
					color: #747474;
				}
				
				.userinfo .item input::-webkit-input-placeholder {
					color: #999999;
				}
				
				.userinfo .item input:-moz-placeholder {
					color: #999999;
				}
				
				.userinfo .item input:-ms-input-placeholder {
					color: #999999;
				}
				
				.userinfo .item .hide_ico {
					display: block;
					position: absolute;
					top: 0;
					right: 0.2rem;
					width: 0.5rem;
					height: 0.5rem;
					background: url(images/hide_ico.png) no-repeat center -0.05rem;
					background-size: cover;
				}
				
				.userinfo .submit_ico {
					display: block;
					margin-top: 0.5rem;
					width: 5.55rem;
					height: 0.93rem;
					background: url(images/submit_ico.png) no-repeat center -0.05rem;
					background-size: cover;
					border: 0;
				}
				
				.userinfo .submit_ico:active {
					filter: alpha(opacity: 80);
					opacity: 0.8;
				}
				
				.bottom_ico {
					background: url(images/bottom_ico.png) no-repeat right bottom;
					background-size: cover;
					width: 7.5rem;
					height: 5.14rem;
				}
				
				.userinfo .item .jzmm_cop {
					position: relative;
					font-size: 0.3rem;
					color: #999999;
					padding-left: 0.5rem;
					height: 0.55rem;
					line-height: 0.55rem;
					margin-top: 0.1rem;
				}
				
				.userinfo .item .ck_bj {
					position: absolute;
					left: 0;
					top: 0;
					/*background: url(images/save_user.png) no-repeat center center;
					background-size: cover;*/
					/*width: 0.5rem;
					height: 0.5rem;*/
				}
				
				.userinfo .item .ck_bj.on {
					/*background: url(images/save_user_on.png) no-repeat center center;
					background-size: cover !important;*/
				}
				
				.register{
					color: #999999;
					font-size: 0.3rem;	
					position: absolute;
					top: 0;
					left: 0;
					height: 0.55rem;
    				line-height: 0.55rem
				    /*bottom: 0.2rem;*/
				    /*width: 100%;*/
				    /*text-align: center;*/
				}
				.userinfo .item .wjmm {
					position: absolute;
					right: 0;
					top: 0;
					font-size: 0.3rem;
					color: #999999;
					height: 0.55rem;
					line-height: 0.55rem;
				}
				/**首页定义*/
				
				.mui-tab-item .tab_my {
					width: 0.96rem;
					height: 0.83rem;
					display: block;
					margin: 0 auto;
					background: url(images/my.png) no-repeat center center !important;
					background-size: cover !important;
				}
				
				.mui-active .tab_my {
					background: url(images/my_on.png) no-repeat center center !important;
					background-size: cover !important;
				}
				
				.mui-tab-item .tab_wssc {
					width: 0.96rem;
					height: 0.83rem;
					display: block;
					margin: 0 auto;
					background: url(images/wssc.png) no-repeat center center !important;
					background-size: cover !important;
				}
				
				.mui-active .tab_wssc {
					background: url(images/wssc_on.png) no-repeat center center !important;
					background-size: cover !important;
				}
				
				.mui-tab-item .tab_yxsh {
					width: 0.96rem;
					height: 0.83rem;
					display: block;
					margin: 0 auto;
					background: url(images/yxsh.png) no-repeat center center !important;
					background-size: cover !important;
				}
				
				.mui-active .tab_yxsh {
					background: url(images/yxsh_on.png) no-repeat center center !important;
					background-size: cover !important;
				}
				
				.mui-tab-item .tab_sy {
					width: 0.96rem;
					height: 0.83rem;
					display: block;
					margin: 0 auto;
					background: url(images/sy.png) no-repeat center center !important;
					background-size: cover !important;
				}
				
				.mui-active .tab_sy {
					background: url(images/sy_on.png) no-repeat center center !important;
					background-size: cover !important;
				}
				/**首页定义*/
				
				.sy_head {
					height: 4.31rem;
					background: url(images/index_logo.png) no-repeat center top;
					background-size: cover;
					position: relative;
				}
				
				.sy_head .sy_message {
					background: url(images/message_cop.png) no-repeat center center;
					background-size: cover;
					width: 6.5rem;
					height: 1.57rem;
					margin: 0 auto;
					margin-top: 2.88rem;
					position: absolute;
					bottom: -0.1rem;
					left: 0.51rem;
					display: none;
				}
				
				.sy_head .sy_message b {
					background: url(images/message_alert.png) no-repeat center center;
					background-size: cover;
					width: 0.82rem;
					height: 0.76rem;
					display: block;
					top: 0.38rem;
					left: 0.3rem;
					position: absolute;
				}
				
				.sy_head .sy_message .alert {
					width: 4.51rem;
					height: 1.12rem;
					top: 0.25rem;
					left: 1.47rem;
					position: absolute;
				}
				
				.sy_head .sy_message .alert .msg_title {
					width: 1.28rem;
					height: 0.32rem;
					/*background: url(images/message_title.png) no-repeat center center;*/
					background-size: cover;
					display: block;
					font-size: 0.32rem;
    				font-weight: bold;
    				margin-top: 0.1rem;
				}
				
				.sy_head .sy_message .alert .msg_time {
					position: absolute;
					height: 0.24rem;
					line-height: 0.24rem;
					display: block;
					left: 1.5rem;
					top: 0.2rem;
					font-size: 0.25rem;
					color: #999;
				}
				
				.sy_head .sy_message .alert p {
					width: 4.51rem;
					height: 0.4rem;
					position: relative;
					overflow: hidden;
					font-size: 0.28rem;
					line-height: 0.36rem;
					color: #666;
					margin-top: 0.15rem;
				}
				
				.sy_head .sy_message .alert p::after {}
				
				.sy_option {
					margin: 0;
					padding: 0;
					margin-top: 0.15rem;
				}
				
				.sy_option .jb_r {
					position: absolute;
					width: 0.4rem;
					height: 0.4rem;
					border-radius: 0.2rem;
					line-height: 0.4rem;
					background: #ff7f3a;
					top: 1.1rem;
					left: 0.9rem;
					color: #fff;
					font-size: 0.28rem;
					text-align: center;
					font-weight: normal;
					display: none;
				}
				
				.sy_option div b {
					width: 3.38rem;
					height: 1.98rem;
					position: relative;
					margin-bottom: 0.3rem;
					display: block;
					
				}
				
				.sy_option div b:active {
					filter: alpha(opacity: 50);
					opacity: 0.5;
				}
				
				.sy_option div b .tl1 {
					display: block;
					position: absolute;
					top: 1rem;
					left: 1.5rem;
					color: #999999;
					height: 0.4rem;
					line-height: 0.4rem;
					font-size: 0.22rem;
					font-weight: normal;
				}
				
				.sy_option div b .tl2 {
					display: block;
					position: absolute;
					top: 1.3rem;
					left: 1.5rem;
					color: #999999;
					height: 0.4rem;
					line-height: 0.4rem;
					font-size: 0.22rem;
					font-weight: normal;
				}
				
				.sy_option .wybx {
					background: url(images/wybx_home.png) no-repeat center center;
					float: left;
					margin-left: 0.3rem;
					background-size: cover;
				}
				
				.sy_option .tzgg {
					background: url(images/tzgg_home.png) no-repeat center center;
					float: right;
					margin-right: 0.3rem;
					background-size: cover;
				}
				
				.sy_option .mrsp {
					background: url(images/mrsp_home.png) no-repeat center center;
					float: left;
					margin-left: 0.3rem;
					background-size: cover;
				}
				
				.sy_option .yjts {
					background: url(images/yjts_home.png) no-repeat center center;
					float: right;
					margin-right: 0.3rem;
					background-size: cover;
				}
				
				.sy_option .mypj {
					background: url(images/mypj_home.png) no-repeat center center;
					float: left;
					margin-left: 0.3rem;
					background-size: cover;
				}
				
				.sy_option .yxsh {
					background: url(images/yxsh_home.png) no-repeat center center;
					float: right;
					margin-right: 0.3rem;
					background-size: cover;
				}
				
				.sy_wyfc {
					margin-top: 0.21rem;
				}
				
				.sy_wyfc .wyfc_head {
					position: relative;
					height: 0.41rem;
				}
				
				.clear {
					clear: both;
				}
				
				.sy_wyfc .wyfc_head .wyfc_title {
					height: 0.41rem;
					width: 1.66rem;
					background: url(images/wyfc_title.png) no-repeat center center;
					background-size: cover;
					display: block;
				}
				
				.sy_wyfc .wyfc_head .more_cop {
					height: 0.51rem;
					width: 1rem;
					position: absolute;
					line-height: 0.41rem;
					font-size: 0.25rem;
					color: #999999;
					right: 0;
					top: 0.03rem;
					z-index: 999;
				}
				.sy_wyfc .wyfc_head .more_cop .nav {
					display: block;
					height: 0.41rem;
					width: 0.41rem;
					background: url(images/nav.png) no-repeat center center;
					background-size: cover;
					position: absolute;
					right: 0.1rem;
					top: 0;
				}
				
				.sy_wyfc .wyfc_cnt {
					background: url(images/wyfc_cnt.png) no-repeat center center;
					background-size: cover;
					height: 1.6rem;
					position: relative;
					border-bottom: 1px solid #eaeaea;
				}
				
				.sy_wyfc .wyfc_cnt img {
					height: 1.04rem;
					width: 1.55rem;
					left: 0rem;
					top: 0.28rem;
					position: absolute;
				}
				
				.sy_wyfc .wyfc_cnt .cnt {
					margin-left: 1.93rem;
					padding-top: 0.35rem;
				}
				.sy_wyfc .wyfc_cnt .cnt1 {
					margin-left: 0.3rem;
					padding-top: 0.35rem;
				}
				.sy_wyfc .wyfc_cnt .cnt1 span {
					display: inline-block;
					width: 100%;
					height: 0.4rem;
					position: relative;
					overflow: hidden;
					font-size: 0.32rem;
					color: #0c1212;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-weight: normal;
				}
				.sy_wyfc .wyfc_cnt .cnt span {
					display: inline-block;
					width: 100%;
					height: 0.4rem;
					position: relative;
					overflow: hidden;
					font-size: 0.32rem;
					color: #0c1212;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-weight: normal;
				}
				
				.sy_wyfc .wyfc_cnt .cnt b {
					display: block;
					height: 0.5rem;
					font-size: 0.24rem;
					line-height: 0.5rem;
					color: #999;
					font-weight: normal;
				}
				.sy_wyfc .wyfc_cnt .cnt1 b {
					display: block;
					height: 0.5rem;
					font-size: 0.24rem;
					line-height: 0.5rem;
					color: #999;
					font-weight: normal;
				}
				/**内容页面**/
				
				.cntSmailCop { 
					margin-top: 1.31rem;
				}
				
				.cntBigCop {
					margin-top: 2.17rem;
				}
				
				.cntMoreCop {
					margin-top: 3.54rem;
				}
				
				.smailNav {
					height: 1.31rem;
					position: relative;
					background: url(images/small_top.png) no-repeat center center;
					background-size: cover;
				}
				
				.bigNav {
					height: 2.17rem;
					position: relative;
					background: url(images/big_top.png) no-repeat center center;
					background-size: cover;
				}
				
				.moreNav {
					height: 3.54rem;
					position: relative;
					background: url(images/more_top.png) no-repeat center center;
					background-size: cover;
				}
				
				.smailNav .nav {
					height: 0.86rem;
					position: absolute; 
					top: 0.45rem;
					width: 100%;
				}
				
				.smailNav .back { 
					height: 0.86rem;
					display: block;
					position: absolute;
					top: 0.03rem;
					width: 0.86rem;
					background: url(images/back_ico.png) no-repeat center center;
					background-size: cover;
				}
				
				.smailNav .back:active {
					filter: alpha(opacity: 50);
					opacity: 0.5;
				}
				
				.smailNav h1 {
					display: block;
					height: 0.6rem;
					line-height: 0.6rem;
					margin-top: 0.24rem;
					color: #fff;
					text-align: center;
					font-weight: normal;
					font-size: 0.4rem;
				}
				
				.index_head {
					height: 0.64rem;
					position: absolute;
					width: 7.5rem;
					z-index: 999999;
					background: url(images/index_head.png) no-repeat center center;
					background-size: cover;
					opacity: 0;
				}
				/*	//下拉加载样式*/
				
				.mui-pull-top-tips {
					position: absolute;
					top: 200px;
					left: 50%;
					margin-left: -25px;
					width: 40px;
					height: 40px;
					border-radius: 100%;
					z-index: 1000;
				}
				
				.mui-bar~.mui-pull-top-tips {
					top: 24px;
				}
				
				.mui-pull-top-wrapper {
					width: 42px;
					height: 42px;
					display: block;
					text-align: center;
					background-color: #efeff4;
					border: 1px solid #ddd;
					border-radius: 25px;
					background-clip: padding-box;
					box-shadow: 0 4px 10px #bbb;
					overflow: hidden;
				}
				
				.mui-pull-top-tips.mui-transitioning {
					-webkit-transition-duration: 200ms;
					transition-duration: 200ms;
				}
				
				.mui-pull-top-tips .mui-pull-loading {
					/*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
					margin: 0;
				}
				
				.mui-pull-top-wrapper .mui-icon,
				.mui-pull-top-wrapper .mui-spinner {
					margin-top: 7px;
				}
				
				.mui-pull-top-wrapper .mui-icon.mui-reverse {
					/*-webkit-transform: rotate(180deg) translateZ(0);*/
				}
				
				.mui-pull-bottom-tips {
					text-align: center;
					background-color: #efeff4;
					font-size: 15px;
					line-height: 40px;
					color: #777;
				}
				
				.mui-pull-top-canvas {
					overflow: hidden;
					background-color: #fafafa;
					border-radius: 40px;
					box-shadow: 0 4px 10px #bbb;
					width: 40px;
					height: 40px;
					margin: 0 auto;
				}
				
				.mui-pull-top-canvas canvas {
					width: 40px;
				}
				
				.mui-slider-indicator.mui-segmented-control {
					background-color: #efeff4;
				}
				

.loginOut{
	height: 1rem;
	line-height: 1rem;
	width: 100%;
	text-align: center;
	font-size: 0.36rem;
}



/*iphoneX 系列机型适配*/

/*iphoneX、iphoneXs*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.mui-bar-tab{
		height: 1.2rem;
	}
}
/*iphone Xs Max*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:3) {
	.mui-bar-tab{
		height: 1.2rem;
	}
}

/*iphone XR*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:2) {
	.mui-bar-tab{
		height: 1.2rem;
	}
}
.noData{
	background-repeat: no-repeat;
	background-position: center;
	background-image:url(images/nodata.png);
	background-size:4.8rem auto;
}