.tzgg_item {
	margin: 0.2rem 0.35rem;
	height: 1.05rem;
	border-bottom: 0.02rem solid #eee;
	position: relative;
}

.tzgg_item p {
	display: block;
	font-size: 0.35rem;
	font-weight: normal;
	letter-spacing: 0.02rem;
	margin-top: 0.4rem;
	color: #343434;
	
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.tzgg_item .clock {
	display: block;
	float: left;
	margin-top: 0.08rem;
	font-size: 0.30rem;
	color: #adadad;
}

.tzgg_cnt {
	margin: 0.2rem;
}

.tzgg_cnt h1 {
	 font-weight: bold;
	line-height: 0.5rem;
	font-size: 0.45rem;
	/*font-weight: normal;*/
	margin-top: 0.3rem;
	margin-bottom: 0.2rem;
	color: #333;
}

.tzgg_cnt span {
	font-size: 0.30rem;
	color: #767676;
	height: 0.5rem;
	line-height: 0.5rem;
}

.tzgg_cnt  p{
	font-size: 0.34rem;
	color: #333;
	line-height: 0.5rem;
	margin-top: 0.2rem;
}
