html,body{
	height:100%;
}
.head{
	height: 3.05rem;
	background: url(images/myhead.png) no-repeat center center;
	background-size: cover;
	width: 100%;
	position: relative;
}

.sz{
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	top: 0.66rem;
	right: 0.18rem;
	background: url(images/mysz.png) no-repeat center;
	background-size: cover;
}

.sz:active{
	filter: alpha(opacity: 50);
	opacity: 0.7;
}

.mine{
	color: #303030;
}

.sq{
	width: 100%;
	margin-top: 1.31rem;
	height: 1.7rem;
}
.head .img{
	height: 1.7rem;
	width: 70%;
}
.head .imgms{
	height: 1.7rem;
	width: 30%;
}
.img .imgLeft{
	width: 1.24rem;
	height: 1.24rem;
	float: left;
	margin: 0.1rem 0.25rem 0.25rem 0.25rem;
}

.img .imgLeft img{
	width: 1.24rem;
	height: 1.24rem;
	border-radius: 1rem;
}

.img .imgRight{
	float: left;
	width: 3rem;
	height: 1.5rem;
}
.imgRight p{
	color: #FFFFFF;
	font-size: 0.3rem;
	line-height: 0.5rem;
}

.imgms .jf{
	width: 2.02rem;
	height: 0.62rem;	
	background: url(images/myjf.png) no-repeat center;
	background-size: cover;
	text-align: center;
	line-height: 0.62rem;
	color: #fff;
	float: right;
	margin-right: 0.2rem;
	font-size: 0.28rem;
	margin-top: 0.2rem;
}

.yiny{
	height: 0.36rem;
	background: #f8f8f8;
}

.ddxx{
	height: 1.55rem;
	/*text-align: center;*/
}

.ddxx:active {
	filter: alpha(opacity: 50);
	opacity: 0.7;
}
				
				
.ddxx span{
	font-size: 0.3rem;
}
.ddxx > div{
	margin: 0.32rem auto 0.05rem;
	width: 1.28rem;
	height: 0.60rem;
}

.ddxx .dzt{
	background: url(images/33_03.png) no-repeat center top;
	background-size: cover;
}
.ddxx .yfh{
	background: url(images/11_03.png) no-repeat center;
	background-size: cover;
}
.ddxx .dsh{
	background: url(images/22_03.png) no-repeat center;
	background-size: cover;
}
.ddxx .qbdd{
	background: url(images/myqbdd.png) no-repeat center;
	background-size: cover;
}
.xian{
	height: 0.02rem;
	background: url(images/myxian3.png) no-repeat center;
	background-size: cover;
}
.mylist{
	background-color: transparent;
	font-size: 0.34rem;
}
.mylist li{
	height: 1rem;
	background: url(images/myxian1.png)no-repeat bottom;
	background-size: 100% auto;
	margin-left: 0.1rem;
	line-height: 1rem;
	color:#303030
}
.mylist li:active{
	filter: alpha(opacity: 50);
	opacity: 0.7;
}

.mylist .listspan1{
	display: block;
	height: 0.4rem;
	width: 0.4rem;
	float: left;
	margin-top: 0.28rem;
	margin-right: 0.1rem;
}

.wdsc .wdscImg{
	background: url(images/wdsc.png) no-repeat center;
	background-size: cover;
}

.jfjl .jfjlImg{
	background: url(images/jfjl.png) no-repeat center;
	background-size: cover;
}
.wdddlisting .wdddImg{
	background: url(images/dingdan.png) no-repeat center;
	background-size: cover;
}
.wddz .wddzImg{
	background: url(images/wddz.png) no-repeat center;
	background-size: cover;
}
.zfsz{
	background: none !important;
}
.zfsz .sfszImg{
	background: url(images/zfsz.png) no-repeat center;
	background-size: cover;
}
.jcgx .jcgxImg{
	background: url(images/jcgx.png) no-repeat center;
	background-size: cover;
}
.fxhy .fxhyImg{
	background: url(images/fxhy.png) no-repeat center;
	background-size: cover;
}
.gywm .gywmImg{
	background: url(images/gywm.png) no-repeat center;
	background-size: cover;
}
/*.gywm{
	background: none !important;
}*/
.mylist .listspan3{
	display: block;
	height: 0.3rem;
	width: 0.3rem;
	float: right;
	background: url(images/myjt.png) no-repeat center;
	background-size: cover;
	margin-top: 0.36rem;
	margin-right: 0.1rem;
}


/**支付设置**/
.zfTop{
	height: 1.5rem;
	background: url(images/small_top.png) no-repeat center center;
	background-size: cover;
	position: relative;
}
.zfNav{
	height: 0.45rem;
	font-size: 0.36rem;
	margin-top: 0.7rem;
	color: #FFFFFF;
	line-height: 0.45rem;
	text-align: center;
}
.zfBack{
	height: 0.86rem;
    display: block;
    position: absolute;
    width: 0.86rem;
    background: url(images/back_ico.png) no-repeat center center;
    background-size: cover;
    bottom: 0.2rem;
}

.zfspace{
	height: 0.2rem;
}
.zfzfsz{
	background: #f7f7f7 !important;
	padding-left: 0.2rem;
	margin-left: 0.05rem !important;
}


.zfsz input{
	font-size: 0.3rem;
	color: #676767;
	background: #f7f7f7;
	border: none;
}

.dddz{
	height: 1.55rem;
	background: url(images/myxian1.png)no-repeat bottom;
	background-size: 100% auto;
	margin-left: 0.1rem;
	position: relative;
}

.dddz .dddzImg{
	width: 0.9rem;
	height: 1.55rem;
	position: absolute;
	display: flex;
    justify-content: center;
    align-items: center;
}
.dddzImg .ddimg{
	width: 0.5rem;
	height: 0.5rem;
	background: url(images/mydddw.png) no-repeat;
	background-size: cover;
}
.dddz .dddzxq{
	height: 100%;
	width: 100%;
	margin-left: 0.9rem;
}
.dddzxq span{
	font-size: 0.26rem;
	color: #000000;
}
.dddzxq .dh{
	padding-left: 0.3rem;
} 
.dddzxq .xmdh{
	padding-top: 0.3rem;
}
.dddzxq  .dzxq span{
	color: #666666 !important;
}

.dzxq{
	padding-top: 0.1rem;
}

.dddzjt{
	width: 0.32rem;
	height: 100%;
	position: absolute;
	right: 0.2rem;
	top: 0;
	display: flex;
    justify-content: center;
    align-items: center;
}
.ddjtimg{
	width: 0.3rem;
	height: 0.3rem;
	background:url(images/myjt.png) no-repeat;
	background-size: cover;
}
.ddwl{
	width: 0.5rem;
	height: 0.5rem;
	background: url(images/myddwl.png) no-repeat;
	background-size: cover;
}
.dddz:last-child{
	background: none;
}

.ddzl{
	height: 2.28rem;
	background: url(images/myxian1.png)no-repeat bottom;
	background-size: 100% auto;
	margin-left: 0.1rem;
	position: relative;
}
.ddzl:last-child{
	background: none;
}
.ddzlLeft{
	width: 2.05rem;
	position: absolute;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.ddzlLeftImg{
	width: 1.68rem;
	height: 1.68rem;
	/*background: url(images/myddwp.png) center;*/
	background-size: cover;
}

.ddzlLeftImg img{
	width: 1.68rem;
	height: 1.68rem;
}


.ddzlRight{
    height: 100%;
    margin-left: 2.05rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ddzlRight ul{
	height: 1.68rem;
	width: 100%;
}

.ddzlRight ul li{
	height: 0.56rem;
	display: flex;
    align-items: center;
    
    overflow: hidden;
	text-overflow: ellipsis;
	 display: -webkit-box;
	  -webkit-line-clamp: 1;
  	-webkit-box-orient: vertical;
   	line-height: 0.56rem;
    
}
.ddzlRight ul li:nth-of-type(1){
	font-size: 0.3rem;
	color: #303030;
}
.ddzlRight ul li:nth-of-type(2){
	font-size: 0.28rem;
	color: #9c9c9c;
}
.ddzlRight ul li:nth-of-type(3){
	font-size: 0.30rem;
	color: #b33330;
	font-weight: bold;
	line-height: 0.56rem;
	position: relative;
}

.ddzlRight ul li:nth-of-type(3) span{
	position: absolute;
    right: 0.26rem;
    color: #000;
    font-weight:normal;
    font-size: 0.28rem;
    right: 0.2rem;
    top: 0;
}
.fgfs ul{
    width: 100%;
    color: #666666;
    font-size: 0.28rem;
    margin-left: 0.2rem;
}
.fgfs ul li{
	width: 100%;
	height: 0.88rem;
	display: flex;
    align-items: center;
}
.fgfs ul span{
	position: absolute;
	right: 0.2rem;
}
.ddrq ul li:last-child{
	display: unset;
}

.dyiny {
	height: 0.55rem;
	background: #f8f8f8;
	margin-top: 0.2rem;
}
.ddze{
	height: 0.98rem;
	display: flex;
	font-size: 0.28rem;
	align-items: center;
}
.ddze span:nth-of-type(1){
	margin-left: 0.2rem;
}
.ddze span:nth-of-type(2){
	color: #b33330;
	font-weight: bold;
}

.wddd{
	height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #303030;
}
.wdddList{
	width: 1.5rem;
	height: 0.54rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f6f6f6;
	border-radius:0.3rem;
	font-size: 0.28rem;
}

.wdddSelect{
	background: url(images/wddsel.png) no-repeat;
	background-size: cover;
	color: #fc7639;
}

.wdstatus{
	height: 0.88rem;
	display: flex;
	align-items: center;
	background: url(images/myxian3.png) no-repeat bottom;
	background-size: 100% auto;
	margin-left: 0.1rem;
	line-height: 0.88rem;
}
.wdstatus span:nth-of-type(1){
	font-size: 0.26rem;
	margin-left: 0.2rem;
}
.wdstatus span:nth-of-type(2){
	font-size:0.3rem;
	position: absolute;
    right: 0.2rem;
    color: #989898;
}
.sfg{
	height: 0.8rem;
	background: url(images/myxian3.png) no-repeat bottom;
	background-size: 100% auto;
	text-align: right;
    line-height: 0.8rem;
}
.sfg span:nth-of-type(1){
	font-size: 0.3rem;
	color: #ababab;
	margin-right: 0.2rem
}
.sfg span:nth-of-type(1) i{
	font-style: normal;
	color: #000000;
}

.sfg span:nth-of-type(2){
	font-size: 0.3rem;
	margin-right: 0.2rem;
}

.ckwl{
	height: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fc7639;
	font-size: 0.3rem;
	position:relative;
}
.wlyy{
	height: 0.2rem;
	background: #f8f8f8;
	position:relative;
}
.btn-orderCancel{
    position: absolute;
    right: 0.2rem;
    border: 1px solid #ccc;
    height: 0.5rem;
    top: 0.15rem;
    padding: 0 0.3rem;
    color: #666;
    font-size: 0.32rem;
    text-align: center;
    font-style: normal;
    border-radius: 0.1rem;
    display: block;
    line-height: 0.5rem;
}
.btn-orderCancel:active{
	opacity:.7;
}

/**我的地址**/
.dzadd{
	display: flex;
	position: absolute;
	font-size: 0.34rem;
	color: #fff;
	width: 0.8rem;
	height: 0.8rem;
	justify-content: center;
	align-items: center;
	right: 0.2rem;
    top: 0.5rem;
}


.wddzList{
	height: 1.6rem;
	position: relative;
	background: #fff;
	margin-bottom: 0.2rem;
}

.wddzList .wdListR{
	width: 0.45rem;
	height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right:0.2rem
}
.wdListR .wdlistImg{
	width: 0.36rem;
	height: 0.36rem;
	background:url(images/mydz.png) no-repeat;
	background-size: cover;
}

.wddzList .wdListL{
	height: 100%;
	margin-right: 0.65rem;
	margin-left: 0.8rem;
}
.wdListL ul{
	height: 100%;
}
.xmdhmr{
	color: #303030;
	font-size: 0.3rem;
	height: 0.8rem;
    line-height: 1rem;
}
.xmdhdz{
	font-size: 0.3rem;
	color: #666666;
	 overflow: hidden;
	text-overflow: ellipsis;
	 display: -webkit-box;
	  -webkit-line-clamp: 1;
  	-webkit-box-orient: vertical;
  	height: 0.5rem;
  	line-height: 0.5rem;
}

.wdListS{
	width: 0.8rem;
	height: 100%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wdSImg{
	width: 0.35rem;
	height: 0.35rem;
	background: url(images/mrsp2.png) no-repeat;
	background-size: cover;
}

.wdListN{
	background: url(images/mrsp3.png) no-repeat;
	background-size: cover;
}

.xmdhmr span:nth-of-type(2){
	margin-left: 0.2rem;
	position: relative;
}

.xmdhmr span:nth-of-type(2) span{
	position: absolute;
    width: 0.6rem;
    height: 0.3rem;
    top: 0;
    right: -0.8rem;
    background: url(images/ms.png)no-repeat;
    background-size: cover;
}

/**编辑地址**/
.address{
	background: #fff;
}
.address p{
	padding: 0.12rem 0.1rem 0.12rem 1.55rem;
	position: relative;
	box-sizing: border-box;	
	border-bottom: 1px solid gainsboro;
	height: 1rem;
	line-height: 1rem;
}
.address label{
	display: block;
	line-height: normal;
}

.address .tit{
	width: 1.5rem;
    line-height: 1;
    position: absolute;
    top: 0.4rem;
    left: 0;
    right: 0;
    margin: auto 0;
    padding-left: 0.2rem;
    color: #303030;
    font-size: 0.3rem;
}
.address .mr{
	width: 3rem;
	padding-left: 0.6rem
}

.address input{
	height:0.2rem ;
	font-size: 0.3rem;
	border: 0 none;
	padding-top: 0.44rem;
	padding-left: 0;
}

.address .selected{
    background: url(images/mrsp2.png) no-repeat !important;
    background-size: cover !important;
      
}
.noSelected{
	 background: url(images/mrsp3.png) no-repeat ;
	 background-size: cover;
	 display: block;
	width: 0.36rem;
    height: 0.36rem;
    position: absolute;
    bottom: 0.27rem;
    left: 0.15rem; 
}
.delAddress{
	color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 !important;
	font-size: 0.36rem;
}
.loginOut{
	margin: 1.35rem auto;
	background: url(images/submit.png) no-repeat center center;
	background-size: cover;
	width: 6.73rem;
	height: 0.9rem;
	display: block;
	text-align: center;
	line-height: 0.93rem;
	color: #fff;
}
