*{
    touch-action: none;
}
html,body{
	height: 100%;
}
.pageContainer{
	display:flex;
	flex-direction: column;
	height:100%;
}
.sht-header{
	width:7.5rem;
	height:1.61rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-image: url(images/bg_sht_head.png);
	overflow:hidden;
}
.sht-header-container{
	display:flex;
	align-items: center;
	margin-top:0.54rem;
}
.mui-action-back{
	width: 0.6rem;
    height: 0.6rem;
    text-indent: 0.1rem;
    font-size: 0.48rem;
    line-height: 0.6rem;
    margin-right: 0.12rem;
    color: #fff;
}
.search-container{
	flex:1;
    margin-left: 0.16rem;
	position: relative;
}
#search-sht{
	width:100%;
	height: 0.64rem;
	border-radius: 0.32rem;
	background-color: #ffecd0;
	padding: 0;
    margin: 0;
    font-size:0.30rem;
    text-indent:0.32rem;
    text-align: left;
    padding-right: 0.62rem;
}
.search-btn{
	position: absolute;
	right:0;
	border-radius: 100%;
	top: 0.02rem;
	width:0.60rem;
	height:0.60rem;
	background-color: #ffecd0;
	background-repeat: no-repeat;
	background-position:center;
	background-size:0.4rem 0.4rem;
	background-image: url(images/sht_searchIcon.png);
}
.search-btn:active{
	opacity:.8;
}
.header-gouwuche{
	width:0.9rem;
	height: 0.7rem;
	background-repeat: no-repeat;
	background-position:left center;
	background-size:0.7rem 0.7rem;
	background-image: url(images/header_gouwuche_white.png);
	position:relative;
}
.gouwuche-val{
	position:absolute;
	color:#fff;
	background-color:rgb(255, 81, 30);
	border-radius: 25%;
	padding:0 0.1rem;
	left:0.3rem;
	height:0.3rem;
	line-height: 0.3rem;
	display: block;
	font-size:0.16rem;
}
.header-gouwuche:active{
	opacity:0.7;
}
.article-before{
	height:0.94rem;
	width:7.5rem;
	background-color: #f7f7f7;
	display:flex;
	justify-content: space-between;
	color:#343434;
}
.before-left{
	line-height:0.94rem;
	font-size: 0.30rem;
	width:1.8rem;
	text-indent:0.22rem;
	letter-spacing: 1px;
}
.before-right{
	margin-right:0.4rem;
	display: flex;
}
.filer-item{
	display:flex;
	height:0.94rem;
	align-items: center;
	padding:0 0.18rem;
}
.filer-item:active{
	opacity: .7;
}
.filter-itemText{
	font-size:0.30rem;
	color:#333;
}
.article-container{
	flex:1;
	display: flex;
	position:relative;
}
.article-left{
	width:1.8rem;
	height:100%;
	position:relative;
	background-color: #f7f7f7;
}
.article-tabItem{
	display: block;
	height: 0.66rem;
	line-height: 0.66rem;
	text-indent: 0.1rem;
	font-size: 0.30rem;
	color:#353535;
	letter-spacing: 1px;
	border-left:0.1rem solid transparent;
}
.article-tabItem.active{
	border-color:#ffae07;
	background-color: #fff;
}
.article-right{
	flex:1;
	height:100%;
	position:relative;
}
.scroll-articleRight{
	background-color: #fff;
}
.good-item{
	padding:0.22rem 0;
	border-bottom: 1px solid #e6e6e6;
}
.good-ItemWrap{
	display:flex;
	justify-content: space-between;
}
.good-itemWrap{
	height:1.5rem;
	display:flex;
}
.good-itemImg{
	margin-left:0.6rem;
	width:1.5rem;
	height: 1.5rem;
}
.good-itemDetail{
	flex:1;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.good-name{
	font-size: 0.32rem;
	color:#303030;
}
.good-weight{
	font-size: 0.32rem;
	color:#303030;
}
.good-priceEm{
	font-size: 0.32rem;
	color:#ed1314;
}
.good-unit{
	font-size: 0.32rem;
	color:#303030;
}
.good-gouwuche{
	
}
.good-itemAction{
	width:0.7rem;
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}
.good-gouwuche{
	width:0.5rem;
	height:0.5rem;
}

