/*//报修业务样式*/
.topApp{
	height: 0.86rem;
    position: absolute;
    top: 1.31rem;
    width: 100%;
    /*overflow-x: scroll;*/
}
.topApp .topCommonLi{
	    width: 25%;
	    float: left;
	    height: 0.86rem;
	    line-height: 0.86rem;
	    text-align: center;
	    color: #fff;
	    font-size: 0.32rem;
}
.topApp .topCommonLi1{
	    width: 21%;
	    float: left;
	    height: 0.86rem;
	    line-height: 0.86rem;
	    text-align: center;
	    color: #fff;
	    font-size: 0.32rem;
}
.topApp .baseLi{
	    width: 35%;
	    float: left;
	    height: 0.86rem;
	    position: relative;
}
.topApp .baseDownBtn{
	width: 0.5rem;
	height: 0.86rem;
	position: absolute;
	right: 0rem;
	top: 0rem;
	background: url(images/wybx5.png) no-repeat center center;
	background-size: 0.24rem 0.24rem;
}
.topApp .baseName{
	    height: 0.6rem;
	    color: #fff;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    line-height: 0.6rem;
	    text-align: center;
}
.topApp .baseNameBox{
	background: #FF8731;
	position: absolute;
	overflow-y: scroll;
	z-index: 9;
	width: 100%;
	padding-bottom: 0.1rem;
}
.topApp .baseNameCur{
	height: 0.86rem;
	color: #fff;
	line-height: 0.86rem;
	padding-right: 0.5rem;
    text-align: center;
    color: #fff;
    font-size: 0.32rem;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.topApp .topCommonLi1.active{
	font-size: 0.38rem;
	line-height: 0.80rem;
	background: url(images/wybx1.png) no-repeat center 0.68rem;
	background-size: 0.50rem 0.08rem;
}
.topApp .topCommonLi.active{
	font-size: 0.38rem;
	line-height: 0.80rem;
	background: url(images/wybx1.png) no-repeat center 0.68rem;
	background-size: 0.50rem 0.08rem;
}
.mainBody{
	    background: #fafafa;
	   
}
.mainBodyUl{
	    padding: 0 0.20rem 1.20rem 0.20rem;
	    overflow: hidden;
}
.mainBodyLi{
	margin-top: 0.30rem;
	height: 2.5rem;
	background: #fff;
	border-radius: 0.2rem;
	float: left;
	width: 100%;
	box-shadow: -0.05rem 0rem 0.1rem #f3f3f3, 0.05rem 0rem 0.1rem #f3f3f3, 0rem 0.1rem 0.1rem #f3f3f3, 0rem -0.01rem 0.01rem #f3f3f3;
}
.conBox{
	height: 1.50rem;
	border-bottom:1px solid #fafafa;
	padding-top: 0.40rem;
	margin: 0 0.20rem 0;
}
#desTextSpan{
	    display: inline-block;
	    max-width: 4.8rem;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    float: left;
	    font-size: 0.32rem;
}
.desText{
	    font-size: 0.32rem;
	    color: #000;
	    padding:0 ;
	    height: 0.50rem;
	    line-height: 0.50rem;
	    font-weight: bold;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
}
.desStatus{
	    display: inline-block;
	    margin-left: 0.15rem;
	    padding: 0.08rem 0.15rem 0.05rem 0.15rem;
	    font-size: 0.25rem;
	    border: 1px solid #fb3218;
	    color: #fb3218;
	    line-height: 0.3rem;
	    border-radius: 0.1rem;
}
.desTime{
		font-size: 0.28rem;
	    padding: 0 ;
	    margin-top: 0rem;
	    color: #646464;
}
.btnBox{
	margin-top: 0.2rem;
	height: 0.50rem;
	float: right;
	margin-right: 0.20rem;
}
.btnCls{
	display: inline-block;
    padding: 0.05rem 0.08rem 0.05rem 0.08rem;
    color: #646464;
    font-size: 0.28rem;
    border: 1px solid #eeeeee;
    margin-left: 0.20rem;
    border-radius: 0.1rem;
}
.btnCls1{
	display: inline-block;
    padding: 0.05rem 0.08rem 0.05rem 0.08rem;
    color: #646464;
    font-size: 0.28rem;
    border: 1px solid #999999;
    margin-left: 0.20rem;
    border-radius: 0.05rem;
}
.morePic{
	width:0.83rem;
	height:0.83rem;
	margin-top:0.35rem;
	background:url(images/wybx2.png) no-repeat center center;
	background-size:0.83rem 0.83rem;
	position:absolute;
	right:0.20rem;
	bottom:0.20rem;			
}
.moreBox{
	position: fixed;
	left: 0rem;
	bottom: 0rem;
	width: 100%;
	height: 1.20rem;
	z-index:9;
}
.contentDiv .active1{
	display: block;
}
*{ touch-action: none; }
.seeBX{
	display: none;
	position: absolute;
	right: 0.20rem;
	color: #fff;
	font-size: 0.32rem;
	top: 0.33rem;
}
/*详情*/
.topDiv{
	margin-top: 0.30rem;
    height: 2.2rem;
    background: #fff;
    border-radius: 0.05rem;
    box-shadow: 0.03rem 0rem 0.03rem #f3f3f3,
    			-0.03rem 0rem 0.03rem #f3f3f3,
    			0rem 0.1rem 0.1rem #f3f3f3,
    			0rem -0.03rem 0.03rem #f3f3f3;
    float: left;
    width: 100%;
    color:#949494;
}
.topRow1_span1{
		display: inline-block;
	    height: 0.6rem;
	    padding-top: 0.25rem;
	    margin: 0 0.20rem 0;
}
.topRow1_span2{
		padding: 0.02rem 0.15rem 0.02rem 0.15rem;
	    font-size: 0.26rem;
	    border: 1px solid #fb3218;
		color: #fb3218;
		float: right;
	    margin-top: 0.15rem;
	    margin-right: 0.2rem;
	    border-radius: 0.05rem;
}
.topRow2_span1{
		display: inline-block;
	    height: 0.6rem;
	    padding-top: 0.25rem;
	    margin: 0 0.20rem 0;
}
.topRow3_span1{
	display: inline-block;
	    height: 0.6rem;
	    padding-top: 0.25rem;
	    margin: 0 0.20rem 0;
}
.centerDiv{
	float: left;
    width: 100%;
   /* border-bottom: 1px solid #efefef;*/
}
.centerRow1{
	    font-size: 0.35rem;
	    white-space: normal;
	    margin-top: 0.4rem;
	    text-indent: 0.7rem;
}
.centerImg{
	/*height: 3.92rem;*/
	width:100%;
	margin-top: 0.25rem;
}
.centerImg img{
	height: 5.92rem;
	width:100%;
}
.bottomDiv{
	float: left;
	width: 100%;
}
.bottomUl{
	overflow: hidden;
}
.bottomLi{
	float: left;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #efefef;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
}
.li_left{
	    width: 0.9rem;
	    height: 0.9rem;
	    float: left;
}
.li_left img{
	border-radius: 50% ;
	width: 100%;
	height: 100%;
}
.li_right{
	margin-left: 1.1rem;
}
.li_right_row1{
	    height: 0.5rem;
		font-size: 0.4rem;
		color: #717171;
		
}
.li_right_row1 span{
}
.li_right_span2{
	    padding: 0.04rem 0.06rem 0.04rem 0.06rem;
	    font-size: 0.3rem;
	    margin-left: 0.10rem;
	    border-radius: 0.05rem;
	    position: relative;
	    top: -0.05rem;
}
.li_right_span3{
	float: right;
	color: #717171;
	font-size: 0.3rem;
}
.li_right_row2{
	padding-top: 0.1rem;
    font-size: 0.32rem;
    line-height: 0.38rem;
    letter-spacing: 0.03rem;
}
.cls0{
	border: 1px solid #0ac300;
	color: #0ac300;
}
.cls1{
	border: 1px solid #fb3218;
	color: #fb3218;
}
.cntBigCop {
	 margin-top: 1.31rem;
	 background: #fafafa;
}
.assessBox{
	height:2rem;
	/*height:100%;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: #fff;
    box-sizing: border-box;
    padding: 0 0.20rem 0 0.20rem;
}
.assessBoxRow1{
	height: 0.5rem;
}
.assessText{
	font-size: 0.3rem;
    padding: 0.25rem 0 0 0.3rem;
    display: inline-block;
    color: #676767;
}
.assessCommit{
	float: right;
    margin-right: 0.1rem;
    margin-top: 0.25rem;
    font-size: 0.3rem;
    color: #5bd753;
}
.assessBoxRow2{
	/*height: 0.8rem;*/
    margin-top: 0.4rem;
    display: table;
	margin: 0.3rem auto 0rem;
}
.assessSpan{
	padding: 0.1rem 0.15rem;
	color: #fff;
	display: inline-block;
	background:#cecece ;
	font-size: 0.3rem;
	margin-left: 0.25rem;
	border-radius: 0.05rem;
}
.assessSpan.active{
	background:#16bf00
}
.assessBoxRow3{
	border: none;
    background: #f6f6f6;
    height: 1.2rem;
   padding-left: 0.3rem;
    color: #979797;
    font-size: 0.3rem; 
}
.leaderDiv{
	height:3rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: #f7f6f6;
    padding: 0 0.20rem 0 0.20rem;
}
.leaderDivRow1{
	border: none;
    background: #fff;
    height: 1.5rem;
    color: #979797;
    font-size: 0.3rem; 
    border-radius: 0.05rem;
    margin-top: 0.25rem;
    padding-left: 0.1rem;
    line-height: 0.4rem;
    margin-bottom: 0.12rem;
}
.leaderDivRow2{
	padding-top: 0.1rem;
}
.inner{
  position:relative;
  width:1rem;
  height:0.45rem;
  background:linear-gradient(dimgray, silver);
  border-radius:0.5rem;
  /*box-shadow:0 0 0 0.15rem rgba(255,255,255,0.7);*/
}
.inner::before{
 text-indent: 2rem;
  content:'未处理';
  font-size:0.25rem;
  color:#808080;
  line-height:1rem;
  text-align:center;
  position:absolute;
  left:0rem;
  width:0.4rem;
  height:0.4rem;
  background:radial-gradient(whitesmoke ,silver );
  border-radius:0.2rem;
  transition:left 0.5s ease-in-out;
  top: 0.02rem;
  line-height: 0.45rem;
  white-space: nowrap;
}
.toggle{
  position:absolute;
  width:1rem;
  height:0.45rem;
  z-index:1;
  cursor:pointer;
  filter:opacity(0%);
  opacity: 0;
}
.toggle:checked ~ .inner::before{
  content:"已处理完毕";
  color:limegreen;
  text-indent: 2rem;
  left:60%;
  line-height: 0.45rem;
  white-space: nowrap;
}
.toggle:checked ~ .inner{
  background:linear-gradient(green,limegreen);
}
#leaderText{
	position: absolute;
	top: 2rem;
	right: 0.2rem;
	width: 0.9rem;
	height: 0.6rem;
	background: #0ac300;
	color: #FFF;
	line-height: 0.65rem;
	text-align: center;
	border-radius: 0.05rem;
}


.submitCop {
	height: 1.8rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 2;
	background: #fff;
}

.submitCop .submit {
	margin: 0.35rem auto;
	background: url(images/submit.png) no-repeat center center;
	background-size: cover;
	width: 6.73rem;
	height: 0.9rem;
	display: block;
	text-align: center;
	line-height: 0.93rem;
	color: #fff;
}

.submitCop .submit:active {
	filter: alpha(opacity: 80);
	opacity: 0.8;
}
.noData{
	background-repeat: no-repeat;
	background-position: center;
	background-image:url(images/nodata.png);
	background-size:4.8rem auto;
}