.mainBox {
	padding-left: 0.2rem;
}

.bottomLi {
	float: left;
	overflow: hidden;
	width: 100%;
	border-bottom: 1px solid #efefef;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	list-style-type: none;
}

.li_left {
	width: 2.1rem;
	height: 1.36rem;
	float: left;
}
.li_left1 {
	width: 0rem;
	height: 1.36rem;
	float: left;
}
.li_right {
	margin-left: 2.3rem;
}
.li_right1 {
	margin-left: 0.3rem;
}

.li_right_row1 {
	height: 1rem;
	font-size: 0.36rem;
	color: #717171;
}

.li_right_span1 {
	font-size: 0.32rem;
	line-height: 0.45rem;
	letter-spacing: 0.01rem;
	color: #333;
	padding-right: 0.2rem;
}

.li_right_span2 {
	padding: 0.08rem 0.1rem 0.05rem 0rem;
	font-size: 0.3rem;
	border-radius: 0.05rem;
}

.li_right_span3 {
	float: right;
	color: #717171;
	font-size: 0.8rem;
	margin-right: 0.3rem;
	line-height: 0.1rem;
	height: 0.3rem;
}

.li_right_row2 {
	font-size: 0.32rem;
	color: #989898;
}

.tzgg_item {
	margin: 0.2rem;
	height: 1.77rem;
	border-bottom: 0.02rem solid #eee;
	position: relative;
}

.tzgg_item h1 {
	display: block;
	height: 0.5rem;
	line-height: 0.5rem;
	font-size: 0.35rem;
	font-weight: normal;
	margin-top: 0.35rem;
	color: #333;
}

.tzgg_item .clock {
	position: absolute;
	bottom: 0.3rem;
	right: 0;
	font-size: 0.30rem;
	color: #adadad;
}

.tzgg_cnt {
	margin: 0.2rem;
}

.tzgg_cnt h1 {
	line-height: 0.5rem;
	font-size: 0.40rem;
	font-weight: normal;
	margin-top: 0.2rem;
	color: #333;
	display: block;
}

.tzgg_cnt #time {
	font-size: 0.32rem;
	color: #adadad;
	height: 0.8rem;
	line-height: 0.8rem;
}

.tzgg_cnt p {
	color: #333;
	line-height: 0.5rem;
}

.imgBox {
	background: url(images/wyfc1.png) no-repeat center center;
	/*background-size: 6.26rem 3.75rem;*/
	height: 3.75rem;
	width: 100%;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}