/*//意见投诉*/
.topApp{
	height: 0.86rem;
    position: absolute;
    top: 1.31rem;
    width: 100%;
}
.topApp .topCommonLi{
	    width: 35%;
	    float: left;
	    height: 0.86rem;
	    line-height: 0.86rem;
	    text-align: center;
	    color: #fff;
	    font-size: 0.32rem;
}
.topApp .topCommonLi:first-child{
		margin-left: 1.2rem;
}
.topApp .topCommonLi1{
	    width: 22%;
	    float: left;
	    height: 0.86rem;
	    line-height: 0.86rem;
	    text-align: center;
	    color: #fff;
	    font-size: 0.32rem;
}
.topApp .baseLi{
	    width: 33%;
	    float: left;
	    height: 0.86rem;
	    position: relative;
	    text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;	
}

.baseLi .curText{
	font-size: 0.32rem;
	 /*height: 0.86rem;*/
	color: #fff;
	width: 100%;
	/*text-align: center;*/
	/*text-align-last: center;*/
	line-height: 0.43rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;	
	position: absolute;
	top: 0;
	left: 0;
	padding-right: 0.3rem;
	
}

#option{
	text-align: center;
	 height: 0.86rem;
}

.topApp .baseDownBtn{
	width: 0.24rem;
	height: 0.24rem;
	position: absolute;
	right: 0.06rem;
	top: 0.30rem;
	background: url(images/wybx5.png) no-repeat center center;
	background-size: 0.24rem 0.24rem;
}
.topApp .baseName{
	    height: 0.5rem;
	    color: #fff;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    line-height: 0.5rem;
	    text-indent: 0.2rem;
}
.topApp .baseNameBox{
	background: #ff7b40;
	position: absolute;
	overflow-y: scroll;
	z-index: 9;
	width: 100%;
	padding-bottom: 0.1rem;
}
.topApp .baseNameCur{
	height: 0.86rem;
	color: #fff;
	line-height: 0.86rem;
	padding-right: 0.3rem;
    text-align: center;
    color: #fff;
    font-size: 0.32rem;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
.topApp .topCommonLi1.active{
	font-size: 0.38rem;
	line-height: 0.80rem;
	background: url(images/wybx1.png) no-repeat center 0.68rem;
	background-size: 0.50rem 0.08rem;
}
.topApp .topCommonLi.active{
	font-size: 0.38rem;
	line-height: 0.80rem;
	background: url(images/wybx1.png) no-repeat center 0.68rem;
	background-size: 0.50rem 0.08rem;
}
.mainBody{
	    background: #fafafa;
}
.mainBodyUl{
	    padding: 0 0.20rem 0.2rem 0.20rem;
	    overflow: hidden;
}
.mainBodyLi{
	margin-top: 0.30rem;
	height: 2.4rem;
	background: #fff;
	border-radius: 0.05rem;
	/*box-shadow: 0.03rem 0.03rem 0.03rem #f3f3f3;*/
	/*box-shadow: 0.03rem 0rem 0.03rem #f3f3f3,
		-0.03rem 0rem 0.03rem #f3f3f3,
		0rem 0.1rem 0.1rem #f3f3f3,
		0rem -0.03rem 0.03rem #f3f3f3;*/
	float: left;
	width: 100%;
	box-shadow: -0.05rem 0rem 0.1rem #f3f3f3, 0.05rem 0rem 0.1rem #f3f3f3, 0rem 0.1rem 0.1rem #f3f3f3, 0rem -0.01rem 0.01rem #f3f3f3;
}
.conBox{
	height: 1.50rem;
	border-bottom:1px solid #f9f9fa;
	/*f9f9fa*/
	padding-top: 0.40rem;
	margin: 0 0.20rem 0;
}
#desTextSpan{
	    display: inline-block;
	    max-width: 4.8rem;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    float: left;
	    font-size: 0.3rem;
}
.desText{
	    font-size: 0.32rem;
	    color: #000;
	    padding:0 0.30rem 0;
	    height: 0.50rem;
	    line-height: 0.50rem;
	    font-weight: bold;
	    overflow: hidden;
}
.desStatus{
	    padding: 0.08rem 0.2rem 0.05rem 0.2rem;
	    font-size: 0.3rem;
	    line-height: 0.3rem;
	    float: right;
}
.desTimeSpan{
	font-size: 0.3rem;
}
.desTime{
		font-size: 0.28rem;
	    padding: 0 0 0 0.30rem;
	    margin-top: 0rem;
	    color: #646464;
}
.btnBox{
	margin-top: 0.15rem;
	height: 0.50rem;
	float: right;
	margin-right: 0.20rem;
}
.btnCls{
	display: inline-block;
    padding: 0.05rem 0.08rem;
    color: #646464;
    font-size: 0.28rem;
    border: 1px solid #eee;
    margin-left: 0.20rem;
    border-radius: 0.1rem;
}
.morePic{
	width:0.83rem;
	height:0.83rem;
	margin-top:0.35rem;
	background:url(images/wybx2.png) no-repeat center center;
	background-size:0.83rem 0.83rem;
	position:absolute;
	right:0.20rem;
	bottom:0.20rem;		
	z-index: 999;	
}
/*.moreBox{
	height: 1.20rem;
	background:#fafafa;
	position: absolute;
	left: 0rem;
	bottom: 0rem;
	width: 100%;
	z-index: 999;
}*/
.contentDiv .active1{
	display: block;
}
*{ touch-action: none; }
.seeBX{
	display: none;
	position: absolute;
	right: 0.20rem;
	color: #fff;
	font-size: 0.3rem;
	top: 0.40rem;
}

.submitCop {
	height: 1.4rem;
	position: absolute;
	bottom: 0rem;
	width: 100%;
	z-index: 2;
	background: #fff;
}

.submitCop .submit {
	margin: 0.3rem auto;
	background: url(images/submit.png) no-repeat center center;
	background-size: cover;
	width: 6.73rem;
	height: 0.93rem;
	display: block;
	text-align: center;
	line-height: 0.93rem;
	color: #fff;
}

.submitCop .submit:active {
	filter: alpha(opacity: 80);
	opacity: 0.8;
}

/*详情*/
.topDiv{
	margin-top: 0.30rem;
    height: 2.2rem;
    background: #fff;
    border-radius: 0.05rem;
    box-shadow: 0.03rem 0rem 0.03rem #f3f3f3,
    			-0.03rem 0rem 0.03rem #f3f3f3,
    			0rem 0.1rem 0.1rem #f3f3f3,
    			0rem -0.03rem 0.03rem #f3f3f3;
    /*float: left;*/
    width: 100%;
    color:#949494;
}
.topRow1_span1{
		display: inline-block;
	    height: 0.6rem;
	    padding-top: 0.25rem;
	    margin: 0 0.20rem 0;
}
.topRow1_span2{
	/*	padding: 0.08rem 0.2rem 0.05rem 0.2rem;
	    font-size: 0.3rem;
	    border: 1px solid #fb3218;
		color: #fb3218;
		float: right;
	    margin-top: 0.15rem;
	    margin-right: 0.2rem;*/
	    padding: 0.02rem 0.15rem 0.02rem 0.15rem;
	    font-size: 0.26rem;
	    border: 1px solid #fb3218;
		color: #fb3218;
		float: right;
	    margin-top: 0.15rem;
	    margin-right: 0.2rem;
	    border-radius: 0.05rem;
}
.topRow2_span1{
		display: inline-block;
	    height: 0.6rem;
	    padding-top: 0.25rem;
	    margin: 0 0.20rem 0;
}
.topRow3_span1{
	display: inline-block;
	    height: 0.6rem;
	    padding-top: 0.25rem;
	    margin: 0 0.20rem 0;
}
.centerDiv{
	/*float: left;*/
    height: inherit;
    width: 100%;
    /*border-bottom: 1px solid #efefef;*/
}
.centerRow1{
	    font-size: 0.33rem;
	    /*height: 0.4rem;*/
	    margin-top: 0.3rem;
	    color: #333333;
	    text-indent:0.5rem;
	    letter-spacing: 0.02rem;
	    line-height: 0.45rem;
}
.centerImg{
	height: 5.92rem;
	width:100%;
	margin-top: 0.15rem;
}
.bottomDiv{
	float: left;
	width: 100%;
}
.bottomUl{
	overflow: hidden;
}
.bottomLi{
	/*float: left;*/
    /*overflow: hidden;*/
    width: 100%;
    border-bottom: 1px solid #efefef;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
}
.li_left{
	    width: 1rem;
	    height: 1rem;
	    float: left;
}
.li_right{
	margin-left: 1rem;
}
.li_right_row1{
	    height: 0.5rem;
		font-size: 0.36rem;
		color: #717171;
}
.li_right_span2{
	     padding: 0.08rem 0.1rem 0.05rem 0.1rem;
	    font-size: 0.3rem;
	    margin-left: 0.10rem;
	    border-radius: 0.05rem;
}
.li_right_span3{
	float: right;
	color: #717171;
	font-size: 0.3rem;
}
.li_right_row2{
	padding-top: 0.1rem;
    font-size: 0.32rem;
    line-height: 0.38rem;
    letter-spacing: 0.03rem;
}
.cls0{
	border: 1px solid #0ac300;
	color: #0ac300;
}
.cls1{
	border: 1px solid #fb3218;
	color: #fb3218;
}
.cntBigCop {
	 margin-top: 1.31rem;
}
.assessBox{
	height:3rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: #fff;
    padding: 0 0.20rem 0 0.20rem;
}
.assessBoxRow1{
	height: 0.5rem;
}
.assessText{
	font-size: 0.3rem;
    padding: 0.25rem 0 0 0rem;
    display: inline-block;
    color: #676767;
}
.assessCommit{
	float: right;
    margin-right: 0.1rem;
    margin-top: 0.25rem;
    font-size: 0.3rem;
    color: #5bd753;
}
.assessBoxRow2{
	height: 0.8rem;
    margin-top: 0.4rem;
    display: table;
	margin: 0.3rem auto 0rem;
}
.assessSpan{
	padding: 0.1rem 0.15rem;
	color: #fff;
	background:#cecece ;
	font-size: 0.3rem;
	margin-left: 0.25rem;
}
.assessSpan.active{
	background:#16bf00
}
.assessBoxRow3{
	border: none;
    background: #f6f6f6;
    height: 1.2rem;
    text-indent: 0.1rem;
    color: #979797;
    font-size: 0.3rem; 
}
.leaderDiv{
	height:2.05rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    background: #f7f6f6;
    padding: 0 0.20rem 0 0.20rem;
}
.leaderDivRow1{
	border: none;
    background: #fff;
    height: 0.6rem;
    /*text-indent: 0.2rem;*/
    /*color: #979797;*/
    font-size: 0.3rem; 
    border-radius: 0.2rem;
    margin-top: 0.2rem;
    padding: 0rem 0.2rem;
    line-height: 0.6rem;
    margin-bottom: 0.12rem;
}
.inner{
  position:relative;
  width:1rem;
  height:0.45rem;
  background:linear-gradient(dimgray, silver);
  border-radius:0.5rem;
  /*box-shadow:0 0 0 0.15rem rgba(255,255,255,0.7);*/
}
.inner::before{
 text-indent: 2rem;
  content:'未处理';
  font-size:0.25rem;
  color:#808080;
  line-height:1rem;
  text-align:center;
  position:absolute;
  left:0rem;
  width:0.4rem;
  height:0.4rem;
  background:radial-gradient(whitesmoke ,silver );
  border-radius:0.2rem;
  transition:left 0.5s ease-in-out;
  top: 0.02rem;
  line-height: 0.45rem;
  white-space: nowrap;
}
.toggle{
  position:absolute;
  width:1rem;
  height:0.45rem;
  z-index:1;
  cursor:pointer;
  filter:opacity(0%);
  opacity: 0;
}
.toggle:checked ~ .inner::before{
  content:"已处理完毕";
  color:limegreen;
  text-indent: 2rem;
  left:60%;
  line-height: 0.45rem;
  white-space: nowrap;
}
.toggle:checked ~ .inner{
  background:linear-gradient(green,limegreen);
}
#leaderText{
	position: absolute;
	top: 1.12rem;
	right: 0.2rem;
	width: 0.9rem;
	height: 0.6rem;
	background: #cdcdcd;
	color: #FFF;
	line-height: 0.6rem;
	text-align: center;
	
}


/*iphoneX、iphoneXs*/
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	 .submitCop{
	 	bottom: 0.2rem;
	 }
}
/*iphone Xs Max*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:3) {
	 .submitCop{
	 	bottom: 0.2rem;
	 }
}

/*iphone XR*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:2) {
	 .submitCop{
	 	bottom: 0.2rem;
	 }
}