html,body{
	height:100%;
}
.page-container{
	height: 100%;
	position: relative;
}
.mui-slider .mui-slider-group{
	height:4.58rem;
}
.column-header{
	height: 0.60rem;
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: center;
	background-size:2.06rem 0.53rem;
} 
.header-foodHome{
	background-image: url(images/bg_shitang.png);
}
.header-shangcheng{
	background-image: url(images/bg_shangcheng.png);
}
.items-foodHome{
	height:2.5rem;
	background-color: #fff;
	padding:0.29rem 0;
	width:7.5rem;
	overflow:hidden;
}
::-webkit-scrollbar:horizontal{
	background-color: #fff;
}
.items-foodHome-wrapper{
	height:2.7rem;
	background-color: #fff;
	width:7.5rem;
	overflow-y:hidden;
	overflow-x:auto;
}
.items-foodHome-wrap{
	overflow:hidden;
	white-space: nowrap;
	height: 1.92rem;
    width: max-content;
}
.foodHome-item{
	float: left;
    margin-right: 0.05rem;
    margin-left: 0.05rem;
    width: 1.8rem;
    height: 1.92rem;
    padding: 0 0.15rem;
}
.foodHome-itemIcon{
	width: 1.5rem;
	height: 1.92rem;
}
.foodHome-itemIcon:active , .shangcheng-item:active{
	opacity: .7;
}
.items-shangcheng{
	padding:0 0.14rem;
}
.items-shangcheng-wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.shangcheng-item{
	height: 1.94rem;
	width:3.49rem;
	background-color: #fff;
	margin-bottom: 0.22rem;
	position:relative;
}
.item-iconBox{
	position:absolute;
	width:1.8rem;
	height:0.8rem;
	right:0.2rem;
	bottom:0.2rem;
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	background-color:#fff;
}
.shangcheng-item1{
	background-image: url(images/shangcheng_item1.png);
}
.shangcheng-item2{
	background-image: url(images/shangcheng_item2.png);
}
.shangcheng-item3{
	background-image: url(images/shangcheng_item3.png);
}
.shangcheng-item4{
	background-image: url(images/shangcheng_item4.png);
}
.item-mainTitle{
	font-size:0.30rem;
	padding-left:0.22rem;
	color:#ff7742;
	margin-top:0.2rem;
}
.item-description{
	padding-left: 0.22rem;
	margin-top: 0.2rem;
	color: #666;
	font-size: 0.22rem;
}
