*{
    touch-action: none;
}
html,body{
	height: 100%;
}
.pageContainer{
	display:flex;
	flex-direction: column;
	height:100%;
}
.sht-header{
	width:7.5rem;
	height:1.61rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-image: url(images/bg_sht_head.png);
	overflow:hidden;
}
.sht-header-container{
	display:flex;
	align-items: center;
	margin-top:0.54rem;
}
.mui-action-back{
	width: 0.6rem;
    height: 0.6rem;
    text-indent: 0.1rem;
    font-size: 0.48rem;
    line-height: 0.6rem;
    margin-right: 0.12rem;
    color: #fff;
}
.search-container{
	flex:1;
    margin-left: 0.16rem;
	position: relative;
}
#search-sht{
	width:100%;
	height: 0.64rem;
	border-radius: 0.32rem;
	background-color: #ffecd0;
	padding: 0;
    margin: 0;
    border:none;
    font-size:0.30rem;
    text-indent:0.32rem;
    text-align: left;
    padding-right: 0.62rem;
}
.search-btn{
	position: absolute;
	right:0;
	border-radius: 100%;
	top: 0.02rem;
	width:0.60rem;
	height:0.60rem;
	background-color: #ffecd0;
	background-repeat: no-repeat;
	background-position:center;
	background-size:0.4rem 0.4rem;
	background-image: url(images/sht_searchIcon.png);
}
.search-btn:active{
	opacity:.8;
}
.header-gouwuche{
	width:0.9rem;
	height: 0.7rem;
	background-repeat: no-repeat;
	background-position:left center;
	background-size:0.7rem 0.7rem;
	background-image: url(images/header_gouwuche_white.png);
	position:relative;
}
.gouwuche-val{
	position:absolute;
	color:#fff;
	background-color:rgb(255, 81, 30);
	border-radius: 25%;
	padding:0 0.1rem;
	left:0.3rem;
	height:0.3rem;
	line-height: 0.3rem;
	display: block;
	font-size:0.16rem;
}
.header-gouwuche:active{
	opacity:0.7;
}
.article-container{
	flex:1;
	display: flex;
	position:relative;
}
.article-left{
	width:1.8rem;
	height:100%;
	position:relative;
	background-color: #f7f7f7;
}
.article-tabItem{
	display: block;
	height: 0.86rem;
	line-height: 0.86rem;
	font-size: 0.30rem;
	text-align: center;
	color:#353535;
	letter-spacing: 1px;
	border-left:0.1rem solid transparent;
}
.article-tabItem.active{
	border-color:#ffae07;
	background-color: #fff;
	font-weight:600;
}
.article-right{
	flex:1;
	height:100%;
	position:relative;
}
.scroll-articleRight{
	background-color: #fff;
}
.noData{
	background-repeat: no-repeat;
	background-position: center;
	background-image:url(images/nodata.png);
	background-size:5.5rem auto;
}
.good-item{
	padding:0.22rem 0;
	border-bottom: 1px solid #e6e6e6;
}
.good-ItemWrap{
	display:flex;
	justify-content: space-between;
}
.good-itemWrap{
	height:1.5rem;
	display:flex;
}
.good-itemImg{
	margin-left:0.6rem;
	width:1.5rem;
	height: 1.5rem;
}
.good-itemDetail{
	flex:1;
	display:flex;
	overflow:hidden;
	flex-direction: column;
	justify-content: space-around;
	align-items: left;
	padding-left:0.3rem;
}
.good-name{
	font-size: 0.34rem;
	color:#303030;
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	
}
.good-weight{
	font-size: 0.28rem;
	color:#303030;
}
.good-priceEm{
	font-size: 0.30rem;
	color:#ed1314;
}
.good-unit{
	font-size: 0.32rem;
	color:#303030;
}
.good-gouwuche{
	
}
.good-itemAction{
	width:0.7rem;
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}
.good-gouwuche{
	width:0.5rem;
	height:0.5rem;
}
.shade{
	position:absolute;
	width: 7.5rem;
	height: 100%;
	z-index:1000;
	
}
.shade-container{
	height:100%;
	display: flex;
	flex-direction: column;
}
.part-shade{
	flex:1;
	width:7.5rem;
	background-color: rgba(0,0,0,.5);
}
.checkedDetail{
	flex:1;
	width:7.5rem;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}
.goods-detail{
	flex:1;
	padding:0.28rem 0;
}
.checked-items{
	height:100%;
	position:relative;
}
.checked-item{
	display:flex;
	align-items:center;
	height:0.8rem;
}
.checked-itemName{
	width:4rem; 
	font-size:0.30rem; 
	color:#323232;
	line-height:0.4rem;
	/*text-indent:0.26rem;*/ 
	margin-left: 0.26rem;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	 
}
.checked-itemPrice{
	flex:1;
	font-size:0.30rem;
	line-height:0.60rem;
	color:#c20e11;
	
}
.checked-itemAction{
	display:flex;
	width:1.8rem;
	height:0.60rem;
	padding-right:0.3rem;
}
.checked-ItemBtn{
	width:0.52rem;
	height:0.52rem;
}
.checked-ItemBtn:active{
	opacity: .7;
}
.itemCounts{
	flex:1;
	text-align:center;
	line-height:0.52rem;
	color:#333;
	font-size:0.28rem;
}
.balance-box{
	height:0.98rem;
	display:flex;
}
.balance-left{
	flex:1;
	color:#c12d2b;
	line-height:0.98rem;
	font-size:0.36rem;
	text-indent:1.12rem;
	background-color:#f8f8f8;
	background-repeat: no-repeat;
	background-position:0.4rem center;
	background-size:0.7rem 0.7rem;
	background-image: url(images/header_gouwuche.png);
}
.balance-btn{
	width:2.5rem;
	background-color:#ff7743;
	color:#fff;
	font-size:0.34rem;
	text-align: center;
	line-height:0.98rem;
}
